*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  // TOFIX: replace with mixin from @gear-js/ui
  transition: all 0.25s;
}

img,
svg {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: inherit;
}
