@font-face {
  font-family: 'Prompt';
  src: url('Prompt-Bold.woff2') format('woff2'), url('Prompt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('Prompt-Regular.woff2') format('woff2'), url('Prompt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('Prompt-SemiBold.woff2') format('woff2'), url('Prompt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('Prompt-Medium.woff2') format('woff2'), url('Prompt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Syncopate';
  src: url('Syncopate-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
