.heading {
  margin-bottom: 32px;

  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
  color: rgba(#fff, 0.8);
}

.box {
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.nestedBox {
  display: flex;
  flex-direction: column;
  gap: 16px;

  background-color: rgba(#fff, 0.03);
}

.buildIdl {
  align-items: center;
}

.buttons {
  display: flex;
  gap: 16px;
}
