---
#Install Ide-Backend
- name: Copy ide-backend service if not exist
  copy:
    src: idebackend.service
    dest: /lib/systemd/system/idebackend.service
    force: no
  become: yes

- name: Stop idebackend service
  systemd:
    name: idebackend
    state: stopped
    enabled: yes
    daemon-reload: yes

- name: Delete ide-backend
  file:
    state: absent
    path: /home/ec2-user/ide-backend

- name: Copy ide-backend
  copy:
    src: ../../../ide-backend/
    dest: /home/ec2-user/ide-backend
    
- name: Install ide-backend
  community.general.npm:
    path: /home/ec2-user/ide-backend

- name: Give permissions to build-image script
  ansible.builtin.file:
    path: /home/ec2-user/ide-backend/wasm-build/build-image.sh
    mode: '0777'

- name: Give permissions to build script
  ansible.builtin.file:
    path: /home/ec2-user/ide-backend/wasm-build/build.sh
    mode: '0777'

- name: Create ide-backend file .env
  shell: >
    echo "PORT=$PORT">/home/ec2-user/ide-backend/.env;echo "HOST=$HOST">>/home/ec2-user/ide-backend/.env;echo "IDE_FOLDER=$IDE_FOLDER">>/home/ec2-user/ide-backend/.env
  environment:
    PORT: "{{ lookup('env','PORT') }}"
    IDE_FOLDER: "{{ lookup('env','IDE_FOLDER') }}"
    HOST: "{{ lookup('env','HOST') }}"

- name: Start ide-backend service
  systemd:
    name: idebackend
    state: started
    enabled: yes
    daemon-reload: yes
