@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &.medium {
    margin-bottom: 16px;

    .title {
      font-size: toRem(18);
      font-weight: 600;
    }
  }

  &.big {
    margin-bottom: 30px;

    .title {
      font-size: toRem(24);
      font-weight: 500;
    }
  }

  .title {    
    font-family: 'Kanit';
    line-height: 1.3;
    color: $gray800;
  }
}
