@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.header {
  text-align: center;
  max-width: 450px;
  margin-bottom: 48px;
}

.heading {
  @extend %h1;
  margin-bottom: 8px;
}

.subheading {
  color: $textColorSecondary;
  font-size: $fontSizeMedium;
}

.body {
  width: 100%;

  & > *:not(:last-child),
  form > *:not(:last-child) {
    margin-bottom: 24px;
  }
}
