---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
  labels:
    app: grafana
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        is_default: true
      - name: Prometheus AlertManager
        type: camptocamp-prometheus-alertmanager-datasource
        access: proxy
        url: http://alertmanager:9093

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-conf
  namespace: monitoring
  labels:
    app: grafana
data:
  dashboards.yml: |
    apiVersion: 1
    providers:
      - name: 'dashboards'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: true

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-data
  namespace: monitoring
  labels:
    app: grafana

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        runAsUser: 0
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
          - containerPort: 3000
        volumeMounts:
        - name: grafana-datasources
          mountPath: /etc/grafana/provisioning/datasources
        - name: grafana-dashboards-conf
          mountPath: /etc/grafana/provisioning/dashboards
        - name: grafana-dashboards-data
          mountPath: /var/lib/grafana/dashboards       
        - name: grafana-data
          mountPath: /var/lib/grafana/
        env:
          - name: GF_SECURITY_ADMIN_USER
            valueFrom:
              secretKeyRef:
                name: grafana-secrets
                key: user
          - name: GF_SECURITY_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: grafana-secrets
                key: pass
          - name: GF_INSTALL_PLUGINS
            value: camptocamp-prometheus-alertmanager-datasource
          - name: GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH
            value: /var/lib/grafana/dashboards/main_dashboard.json
      volumes:
        - name: grafana-datasources
          configMap:
            name: grafana-datasources
        - name: grafana-dashboards-conf
          configMap:
            name: grafana-dashboards-conf
        - name: grafana-dashboards-data
          configMap:
            name: grafana-dashboards-data
        - name: grafana-data
          awsElasticBlockStore:
            volumeID: 'vol-0eb2ce75a2a145660'
            fsType: ext4

---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app: grafana
spec:
  selector:
    app: grafana
  type: NodePort
  ports:
  - name: grafana
    protocol: TCP
    port: 3000
    nodePort: 30003
