.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  min-height: 340px;
  border: 1px solid rgba(41, 41, 41, 1);
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;

  .leftSide {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }

  .link {
    display: flex;
  }

  .arrowLeft {
    margin-right: 4px;
  }
}

.card {
  padding: 24px 24px 12px 24px;

  &:first-child {
    border-right: 1px solid rgba(41, 41, 41, 1);
  }
}

.properties {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 145px 1fr;
  gap: 20px 24px;
}

.programs {
  color: rgba(168, 245, 147, 1);
}

.blockHash {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
