.abiInputWrapper {
  padding-top: 2px;
}

.abiInput {
  width: 100%;

  input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--foreground);
    padding: 8px;
    font-size: 12px;
    line-height: 1.35;
  }
}
