@use 'shared/assets/styles/shared' as *;
@use 'shared/assets/styles/variables' as *;

.box {
  padding: toRem(14) toRem(24) toRem(24);
  border-radius: $borderRadius;
  background-color: $bgColor4;
}
