.summary {
  display: flex;
  flex-direction: column;
  padding: 17px 0 14px 0;
  background: #F7F9FA;

  .summaryItem {
    display: flex;
    justify-content: space-between;
  }

  .separator {
    height: 20px;
    margin: 0 6px;
    border-bottom: 1px solid #DADADA;
    flex: 1;
  }

  .value {
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }

  .heading {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
}
