.formPayload {
  width: 100%;
  margin-bottom: 20px;
}

.manualCheckboxWrapper {
  margin-bottom: 16px;
}

.selectWrapper + * {
  margin-top: 16px;
}

.field,
.select {
  flex-direction: column;
}

.select{
  align-items: flex-start;
}

.field{
  align-items: stretch;

  &:not(:last-child){
    margin-bottom: 16px;
  }
}
