.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  padding: 24px;

  &:not(:last-child) {
    border-right: 1px solid #292929;
  }
}

.header {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;

  .backButton {
    margin-right: 4px;
  }

  .arrow.from {
    transform: rotate(180deg);
  }
}

.body {
  display: grid;
  grid-template-columns: 136px 1fr;
  gap: 20px 24px;

  .title {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .withExplorerLink {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .value {
    color: #fff;
  }

  .blockNumber {
    display: flex;
    flex-direction: column;
    gap: 4px;

    > div:first-child {
      display: flex;
      align-items: center;
      gap: 8px;

      color: #fff;
    }
  }
}

.payload {
  word-break: break-all;

  &Title {
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 400;
    color: #a8f593;
  }
}
