.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  padding: 24px;

  &:not(:last-child) {
    border-right: 1px solid #292929;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;

  .arrow.from {
    transform: rotate(180deg);
  }
}

.withExplorerLink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.blockNumber {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #fff;
  }
}

.payload {
  word-break: break-all;

  &Title {
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 400;
    color: #a8f593;
  }
}
