@use 'assets/scss/variables' as *;

.item {
  display: flex;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
  }
  .hidden {
    display: none;
  }
  .caption {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $textColorSecondary;
    font-weight: 300;
    min-width: 200px;
    font-size: 16px;
    line-height: 130%;
    &.top {
      align-items: flex-start;
    }
    @media (max-width: 768px) {
      margin-bottom: 4px;
    }
    @media (min-width: 769px) and (max-width: 1270px) {
      font-size: 16px;
      min-width: 160px;
    }
  }
  .value {
    display: flex;
    align-items: center;
    position: relative;
    &.payload {
      flex-direction: column;
      align-items: start;
      width: 100%;
    }
    @media (max-width: 768px) {
      overflow: unset;
      display: flex;
      justify-content: space-between;
      max-width: unset;
      width: 100%;
    }
    @media (min-width: 769px) and (max-width: 1270px) {
      width: 250px;
    }
    .field {
      width: 315px;
      height: 38px;
      background-color: $bkgInputColor;
      border: none;
      font-size: 14px;
      padding: 0 16px;
      outline: none;
      color: #e0e0e0;
      &:disabled {
        color: #858585;
      }
      &.textarea {
        resize: vertical;
        min-height: 150px;
        padding: 16px;
      }
    }
    .error {
      color: #ff0000;
      font-size: 14px;
      position: absolute;
      bottom: -20px;
    }
  }
}
