.restore__drop-area {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px dotted #0e0e0e;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  padding: 20px;
}

.restore__load-btn {
  background: #2bd071
    url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 13.8599H10V7.85986H14L7 0.859863L0 7.85986H4V13.8599ZM0 15.8599H14V17.8599H0V15.8599Z' fill='white'/%3E%3C/svg%3E%0A")
    no-repeat 53px 50%;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 53px 12px 85px;
}

.restore__info {
  color: #858585;
  font-size: 14px;
  padding-top: 24px;
  text-align: center;
}

.restore__password--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.restore__password-form--col {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.restore__password-form--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  width: 100%;
}

.restore__password-form--info:last-child {
  margin-bottom: 0;
}

.restore__password-form--field {
  color: #858585;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
}

.restore__password-form--info input {
  padding: 10px 16px;
  background: #000000;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  height: 38px;
  min-height: 38px;
}

.restore__password-form--info input::placeholder {
  color: #8b8b8b;
}

.restore__password-form--error {
  color: #995757;
  font-weight: normal;
  font-size: 12px;
  text-align: right;
}

.restore__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

.restore__action-btn {
  padding: 12px 24px;
  background: #2bd071;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restore__action-btn img {
  padding-right: 8px;
  position: relative;
  top: -1px;
}

.restore__action-btn:disabled {
  color: #ffffff;
  background: #3d3d3d;
}

.restore__filemeta span {
  font-style: italic;
}
.restore__filemeta img {
  padding-left: 5px;
  top: 6px;
  position: relative;
}
