.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  &.c0 {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &.c1 {
    color: rgba(125, 187, 207, 1);
    background: rgba(0, 193, 255, 0.1);
    border: 1px solid rgba(0, 193, 255, 0.1);
  }

  &.c2 {
    color: rgba(205, 193, 237, 1);
    background: rgba(207, 159, 255, 0.1);
    border: 1px solid rgba(207, 159, 255, 0.1);
  }

  &.c3 {
    color: rgba(242, 241, 182, 1);
    background: rgba(254, 252, 172, 0.1);
    border: 1px solid rgba(254, 252, 172, 0.1);
  }

  &.c4 {
    color: rgba(173, 192, 227, 1);
    background: rgba(159, 186, 255, 0.1);
    border: 1px solid rgba(159, 186, 255, 0.1);
  }

  &.c5 {
    color: rgba(189, 244, 224, 1);
    background: rgba(174, 255, 221, 0.1);
    border: 1px solid rgba(174, 255, 221, 0.1);
  }

  &.c6 {
    color: rgba(158, 239, 162, 1);
    background: rgba(140, 254, 121, 0.1);
    border: 1px solid rgba(140, 254, 121, 0.1);
  }

  &.c7 {
    color: rgba(246, 200, 147, 1);
    background: rgba(255, 199, 133, 0.1);
    border: 1px solid rgba(255, 199, 133, 0.1);
  }

  &.c8 {
    color: rgba(223, 164, 199, 1);
    background: rgba(255, 106, 187, 0.1);
    border: 1px solid rgba(255, 106, 187, 0.1);
  }

  &.c9 {
    color: rgba(248, 161, 149, 1);
    background: rgba(245, 139, 124, 0.1);
    border: 1px solid rgba(245, 139, 124, 0.1);
  }
}
