.wallet {
  display: flex;
  align-items: center;
  gap: 20px;
}

.balance {
  display: flex;
  align-items: center;
  gap: 10px;

  .text {
    display: flex;
    align-items: flex-end;
    gap: 4px;

    &.gear {
      color: #fff;
    }

    &.vara {
      color: #000;
    }

    .value {
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: -0.02em;
    }

    .unit {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
    }
  }
}

/* TODO: removed for now, but need to add for a mobile */
/* .accountButton {
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }
} */

/* TODO: removed for now, maybe will need for mobile */
/* .connectButton.connectButton {
  font-size: 16px;

  @media screen and (max-width: 767px) {
    height: 44px;
  }
} */
