@use '@gear-js/ui/variables' as *;

.headerWrapper {
  display: flex;
  align-items: center;

  .header {
    color: $textColor;
    font-size: $fontSizeLarge;
    font-weight: 600;
    text-transform: uppercase;
  }

  .count {
    text-align: center;
    background: #F2994A;
    border-radius: 100px;
    border: 1px solid $bgColor;
    color: $textColor;
    padding: 0px 5px;
    min-width: 30px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  } 

  .button {
    padding: 5px;
    margin: 0 5px;

    &.openBtn img {
        transform: rotate(180deg);
    }
  }
}

.waitlistTable {
  margin-top: 30px
}
