@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/headings' as *;

.wrapper {
  @extend %headingFont;

  &.block {
    width: 100%;
    display: grid;

    &.x {
      grid-template-columns: auto 1fr;
    }
  }

  &:not(.block) {
    display: inline-grid;

    &.x {
      &.input {
        grid-template-columns: auto minmax(0, $inputWidth);
      }

      &.textarea {
        grid-template-columns: auto minmax(0, $textareaWidth);
      }
    }

    &.y {
      &.input {
        grid-template-columns: minmax(0, $inputWidth);
      }

      &.textarea {
        grid-template-columns: minmax(0, $textareaWidth);
      }
    }
  }

  &.x {
    gap: 16px;
  }

  &.y {
    gap: 8px;
  }
}

.labelWrapper {
  &.x {
    &.normal {
      padding: 10px 0;
    }

    &.large {
      padding: 14px 0;
    }
  }
}

.tooltip {
  vertical-align: middle;
  margin-left: 9px;
}

.label {
  color: #d2d2d3;
  font-size: 16px;
  font-weight: 500;
}

.error {
  padding-left: 16px;
  color: $errorColor;
}
