@use '@gear-js/ui/headings' as *;

.container {
  max-width: 850px;
}

.heading {
  @extend %h2;
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 24px;
  background-image: linear-gradient(122.79deg, rgba(255, 255, 255, 0.013) 18.08%, rgba(255, 255, 255, 0.05) 74.41%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  backdrop-filter: blur(10px);
}

.notice {
  max-width: 350px;
  margin: 20px auto;
  line-height: 26px;
  color: #858585;
  text-align: center;
}

.buttons {
  text-align: center;

  > *:not(:last-child) {
    margin-right: 25px;
  }
}
