@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.accountList {
  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.accountButton {
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  padding: 16px 40px;

  &.active {
    background: $successColor;
  }
}

.accountName {
  font-size: $fontSizeMedium;
  padding: 0 5px;
}

.accountIcon,
.accountAddress {
  @include md {
    display: none;
  }
}

.accountAddress{
  font-size: $fontSize;
}
