@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.gearSection {
  position: relative;
  margin-bottom: $marginBig;

  &.withBanner {
    height: toRem(320);
  }
  // overwrites the height when a banner exist
  @include expand(toRem(200), toRem(120));

  .indicators {
    display: flex;
    width: 100%;
    
    & > * {
      flex: 1 1;

      &:not(:last-child) {
        margin-right: $marginMedium;
      }
    }
  }
}

.welcomeBanner {
  @include fade();
}