.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top: 100px;

    &__button{
        display: flex;
        border: none;
        outline: none;
        justify-content: center;
        align-items: center;
        color: inherit;
        width: 100%;
        height: 48px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        border-radius: 2px;        
    }
    &__button:active{
        transform: translateY(2px);
    }

    &__telegram-logo{
        margin-right: 17px;
        background: transparent;
    }
    &__button-telegram{
        background: #1877F2;
        margin-bottom: 8px;
    }
    &__button-github{
        background: #000000;
    }
    &__terms-privacy{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #858585;
        position: absolute;
        bottom:-10px;
        outline: none;
        border: none;
        padding: 0 15px;
    }
    &__wrapper-buttons{
        position: relative;
        padding: 40px 48px;
        border: 1px solid rgba(218, 218, 218, 1);    
        border-top: none;
        border-image: linear-gradient( rgba(233, 233, 233, 0),#dadada61) 27;       
        width: 432px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}