.loading-popup {
  position: fixed;
  top: calc(50% - 40px);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 102;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-popup--progress {
  display: flex;
  gap: 2px;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.loading-popup--text-info {
  position: absolute;
  bottom: 30px;
  display: flex;
  color: #fff;
  font-size: 14px;
  z-index: 9999;
  font-weight: bold;
}

.loading-popup--imgs {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.loading-popup--imgs img {
  -webkit-animation: spin_top 8s linear infinite;
  animation: spin_top 8s linear infinite;
}

.loading-popup--imgs img:last-child {
  -webkit-animation: spin_bottom 8s linear infinite;
  animation: spin_bottom 8s linear infinite;
  margin-right: 10px;
}

.overlay-top {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  background: #000;
  height: 88px;
  z-index: 999;
}

.overlay-bottom {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  background: #000;
  height: 88px;
  z-index: 999;
}

@-webkit-keyframes spin_top {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin_top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin_bottom {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin_bottom {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
