@use '@gear-js/ui/headings' as *;

.heading {
  @include heading(32px, 18px, 700);
  margin-bottom: 43px;
  color: #000;
  letter-spacing: 0.08em;
}

.subheading {
  @include heading(21px, 18px);
  margin-bottom: 124px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #00ff38;
}
