@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/mixins' as *;

.item {
  @include transition;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-size: $fontSizeMedium;
  font-weight: 600;
  border-radius: $borderRadius;
  border-right: 1px solid #3d3d3d;
  cursor: pointer;

  &:hover {
    background-color: $textColorSecondary;
  }

  &::after {
    content: '';
    width: 7px;
    height: 12px;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.852 6.373a.542.542 0 0 0 0-.746L1.817.31a.986.986 0 0 0-1.433 0l-.087.09a1.085 1.085 0 0 0 0 1.492L4.169 6 .297 10.11a1.085 1.085 0 0 0 0 1.49l.087.091a.986.986 0 0 0 1.433 0l5.035-5.318Z' fill='%23fff' fill-opacity='.7'/%3E%3C/svg%3E");
  }
}
