@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.container {
  max-width: 800px;
}

.heading,
.subheading {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  @extend %h2;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subheading {
  @extend %h3;
  color: $successColor;
}

.players {
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
