@use '@gear-js/ui/headings' as *;
@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.heading {
  @include heading(24px, 130%, 500);
  color: $gray800;
}

.codeHeader,
.programsHeader {
  margin-bottom: 16px;

  display: flex;
  align-items: center;
}

.codeHeader {
  gap: 16px;
}

.programsHeader {
  justify-content: space-between;
}

.code {
  @include childrenMargin(32px, right);
  display: flex;

  > * {
    flex-basis: 50%;
  }
}

.summary {
  @include childrenMargin(32px);
}

.buttons {
  @include childrenMargin(16px, right);
  margin-top: 32px;
}
