@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/mixins' as *;

.imgWrapper {
  margin-right: 80px;
  padding: 120px 67px;
  background-image: linear-gradient(139.06deg, rgba(255, 255, 255, 0.1) 6.36%, rgba(40, 40, 40, 0.1) 96.84%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), url(/assets/images/nft-bg.svg);
  background-position: top right;
  background-repeat: no-repeat;
  border: 1px solid;
  border-image: linear-gradient(139.06deg, rgba(255, 255, 255, 0.1) 6.36%, rgba(40, 40, 40, 0.1) 96.84%) 1;
  border-radius: $borderRadius;
}

.image {
  // prolly img-fluid
  width: 100%;
  max-width: 515px;

  display: block;
  margin: 0 auto;
  border-radius: $borderRadius;
}

.text {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.key {
  @include heading($fontSizeSmall, 34px);
  color: $textColorSecondary;
}

.value {
  font-size: $fontSizeMedium;
}

.countdown {
  flex-direction: row;
  align-items: center;

  .key {
    margin-right: 20px;
  }
}

.address {
  overflow: hidden;
  text-overflow: ellipsis;
}

.prices {
  display: flex;
  margin-bottom: 50px;

  & > *:first-child {
    margin-right: 100px;
  }
}

.startPrice {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &::after {
    @include square(20px);
    @include transition;
    content: '';
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M10 20.102c5.523 0 10-4.299 10-9.6 0-5.302-4.477-9.6-10-9.6S0 5.2 0 10.501c0 5.301 4.477 9.6 10 9.6Z' fill='%23fff'/%3E%3Cpath d='M9.33 12.08c0-.608.071-1.087.214-1.437.144-.354.376-.66.697-.919a4.49 4.49 0 0 0 .73-.706c.168-.217.253-.454.253-.712 0-.63-.282-.944-.846-.944a.8.8 0 0 0-.632.275c-.16.183-.245.431-.254.744h-2.2c.008-.834.282-1.482.82-1.944.538-.467 1.293-.7 2.266-.7.968 0 1.716.214 2.246.644.534.429.8 1.04.8 1.83 0 .347-.071.661-.214.945-.144.283-.374.572-.69.868l-.75.669c-.212.196-.36.398-.442.606-.082.204-.128.465-.136.782H9.33Zm-.267 1.9c0-.308.115-.56.345-.756.234-.2.525-.3.872-.3s.636.1.866.3a.94.94 0 0 1 .351.756.959.959 0 0 1-.351.763c-.23.196-.519.294-.866.294s-.638-.098-.872-.294a.966.966 0 0 1-.345-.763Z' fill='%23282828'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .501)' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
  }

  &:hover {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cg filter='url(%23b)'%3E%3Cpath d='M10.898 19.603c5.523 0 10-4.298 10-9.6s-4.477-9.6-10-9.6c-5.522 0-10 4.298-10 9.6s4.478 9.6 10 9.6Z' fill='%23fff' fill-opacity='.1'/%3E%3Cpath d='M20.398 10.003c0 5.007-4.233 9.1-9.5 9.1-5.266 0-9.5-4.093-9.5-9.1s4.234-9.1 9.5-9.1c5.267 0 9.5 4.093 9.5 9.1Z' stroke='url(%23c)'/%3E%3C/g%3E%3Cpath d='M10.228 11.582c0-.608.072-1.088.215-1.438.143-.354.375-.66.696-.918.322-.259.565-.494.73-.707.169-.216.253-.454.253-.712 0-.63-.282-.944-.846-.944a.8.8 0 0 0-.631.275c-.161.184-.246.431-.254.744h-2.2c.008-.833.281-1.481.82-1.944.538-.466 1.293-.7 2.265-.7.968 0 1.717.215 2.246.644.534.43.801 1.04.801 1.831 0 .346-.072.66-.215.944-.143.283-.373.573-.69.869l-.749.668c-.212.196-.36.398-.443.607-.082.204-.128.464-.136.781h-1.862Zm-.267 1.9c0-.308.115-.56.345-.756.234-.2.525-.3.872-.3.348 0 .636.1.866.3a.94.94 0 0 1 .352.756.959.959 0 0 1-.352.763c-.23.195-.518.293-.866.293-.347 0-.638-.098-.872-.293a.966.966 0 0 1-.345-.763Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='c' x1='3.42' y1='.582' x2='19.375' y2='19.74' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='.1'/%3E%3Cstop offset='1' stop-color='%23282828' stop-opacity='.1'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(.898 .003)' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3Cfilter id='b' x='-14.102' y='-14.597' width='50' height='49.2' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImage' stdDeviation='7.5'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_3919_7704'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_backgroundBlur_3919_7704' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    }

    &::before {
      content: 'Price decreases over time';
      position: absolute;
      top: calc(100%);
      left: calc(100% - 20px);
      padding: 8px 16px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border: 1px solid;
      border-image: linear-gradient(139.06deg, rgba(255, 255, 255, 0.1) 6.36%, rgba(40, 40, 40, 0.1) 96.84%) 1;
      white-space: nowrap;
      border-radius: $borderRadius;
    }
  }
}

.currentPrice {
  color: $successColor;
}
