@import '../../assets/scss/variables';

.block-list {
  padding-bottom: 4px;

  &__header {
    color: $textColorSecondary;
    font-size: $fontSizeLarge;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__button {
    background-color: $bkgButtonColor;
    border: none;
    border-radius: $borderRadiusBase;
    color: $textColor;
    cursor: pointer;
    padding: 8px 18px 9px;

    &--hidden {
      display: none;
    }
  }
}

.programs-list {

  &--short-list {
    height: 234px;
    overflow: hidden;
  }

  &__item {
    align-items: center;
    display: flex;
    gap: 24px;
    padding: 23px 0;
    position: relative;

    &::before {
      border-top: 1px solid $separateLineColor;
      content: "";
      display: block;
      opacity: 0.6;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__number {
    color: $textColorSecondary;
    font-size: $fontSizeLarge;
    font-weight: 600;
  }

  &__name {
    color: $textColor;
    flex-grow: 1;
    font-size: $fontSizeBase;
  }

  &__info {
    color: $textColorSecondary;
  }

  &__info-data {
    color: $textColor;
    display: inline-block;
    min-width: 56px;
    padding-left: 16px;
  }

  &__refresh-btn {
    background: url("../../images/refresh.svg") no-repeat;
    height: 20px;
    margin-left: 20px;
    width: 20px;
  }
}