.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  padding: 12px 24px;

  background-color: #222225;
  border-radius: 16px;

  position: relative;
  overflow: hidden;

  button {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 0.25s;

    background-image: radial-gradient(75% 75% at 0% 100%, rgba(43, 208, 113, 0.1) 0, rgba(24, 24, 27, 0) 100%);
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.heading {
  margin-bottom: 8px;

  font-family: Kanit;
  font-size: 12px;
  font-weight: 300;

  .balance {
    font-size: 16px;
    font-weight: 600;
  }

  .amount {
    margin-left: 4px;

    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
  gap: 16px;

  .owner {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 10px;

    button svg {
      width: 16px;
      height: 16px;
    }
  }
}

.body {
  width: 90%;
}

.buttons {
  display: flex;
  gap: 10px;
}
