@import '../../../assets/scss/variables.scss';

.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: rgba(28, 28, 28, 0.7);
}

.modal__box {
  width: 100%;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 30px 60px;
  margin: 0 15px;
  position: relative;
  background: $mainBackground;
  border-radius: 2px;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.modal__close-x {
  display: block;
  width: 56px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}

.modal__title {
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  color: $textColor;
  line-height: 150%;
  padding: 0 0 30px;
  margin: 0;
}

.modal__text {
  color: $textColor;
}

@media (max-width: 768px) {
  .modal__box {
    width: 90%;
  }
}
