{
  "root": true,
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md#when-not-to-use-it
    // https://github.com/yannickcr/eslint-plugin-react/issues/3052#issuecomment-1017555974
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "semi": ["error", "always"],
    "no-void": "off",
    "no-alert": "off",
    "no-console": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-lonely-if": ["error"],
    // TODO: discuss and adjust
    "no-return-assign": "off",
    "no-param-reassign": "warn",
    "no-useless-return": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "curly": ["warn"],
    "id-length": [
      "warn",
      {
        "exceptions": ["i", "j"],
        "min": 2
      }
    ],
    "max-depth": ["warn", 4],
    "consistent-return": "off",
    // TODO: discuss and adjust
    "arrow-body-style": "off",
    "prefer-destructuring": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": [
      "off",
      {
        "assert": "either"
      }
    ],
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "react/no-array-index-key": "warn",
    "react/require-default-props": "off",
    "react/state-in-constructor": ["off"],
    "react/jsx-no-useless-fragment": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".ts"]
      }
    ],
    "react/jsx-props-no-spreading": ["off"],
    "react/static-property-placement": "off",
    "react/destructuring-assignment": ["off"],
    "react/function-component-definition": "off",
    "react/jsx-no-constructed-context-values": "warn",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/default-param-last": ["off"],
    // TODO: discuss and adjust
    "import/order": "off",
    "import/no-cycle": "warn",
    // allow devDeps import in test files
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["src/tests/**", "src/setupTests.ts"]
      }
    ],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
