{
  "root": true,
  "env": { "browser": true, "es2020": true },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],

  "plugins": ["react", "react-hooks", "import", "jsx-a11y", "react-refresh"],

  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],

      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": ["./tsconfig.json"] },

      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:import/typescript"
      ],

      "plugins": ["@typescript-eslint/eslint-plugin"]
    }
  ]
}
