@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

%fieldValue {
  color: $textColor;
  padding: 10px 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: $bgColor;
}

.programIdTitle {
  display: flex;
  align-items: center;
}

.programId {
  @extend %fieldValue;

  overflow-x: auto;
  white-space: nowrap;
}

.stateTitle {
  padding-top: 10px;
}

.stateValue {
  @extend %fieldValue;

  overflow-y: auto;
  min-height: 125px;
  word-break: break-all;
}
