.nodeInfoButton {
  background: rgba(28, 28, 28, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 6px;
  border-radius: 2px;
}

.open {
  transform: rotate(180deg);
}

.nodeInfo {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
  text-transform: uppercase;
}
