.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 324px;
}

.heading {
  margin-bottom: 8px;
}

.error {
  margin-bottom: 32px;
  color: #f24a4a;
}
