.container {
  min-height: 340px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  text-align: center;
}

.prefix {
  color: rgba(255, 255, 255, 0.5);
}

.title {
  color: rgba(255, 255, 255, 1);
}

.text {
  color: rgba(255, 255, 255, 0.7);
}

.buttons {
  display: flex;
  gap: 16px;
}

.button {
  min-width: 180px;
}
