@use '@/shared/assets/styles/_shared.scss' as *;
@use '@/shared/assets/styles/_variables.scss' as *;
@use '@/shared/assets/styles/animations' as *;

.walletWrapper {
  @include fadeAppear();
  position: relative;
  margin-left: $margin;
}

.accountBtn {
  background-color: $bgColorSecondary;

  &:hover {
    background-color: $bgColorTertiary;
  }

  & > div {
    // hacky, but need to override Identicon's 'cursor: copy'
    cursor: inherit !important;
  }
}
