@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;
@use 'assets/styles/shared' as *;

.countdown {
  display: flex;
  align-items: center;
}

.separator {
  margin: 21px 6px 0;
}

.label {
  @include heading(8px, 21px);
  display: block;
  text-align: center;
}

.digit {
  width: 28px;
  height: 34px;
  display: inline-block;
  font-size: 18px;
  color: $bgColor;
  background-color: #fff;
  box-shadow: inset 1px 1px 2px rgba(40, 40, 40, 0.5);
  border-radius: $borderRadius;
  position: relative;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
