**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
dist/
dist-temp/
dist-ssr/
.rollup.cache
tmp/

.idea
.DS_Store
.vscode/
.env
temp/
*.log
.npmrc

idea/gear/squid/lib/
idea/gear/indexer-db/lib/
.spec.json

# apis
apis/gear/lib/

# cargo
.binpath
target/
