node_modules/
**/.DS_Store
.idea
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/dist/
.vscode/
idea/tmp/

.env
idea/squid/lib/
idea/indexer-db/lib/
.spec.json
