@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.wrapper {
  padding: 40px;

  @include md {
    padding: 20px;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.customScroll {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: $lineColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: $textColor;
  }

  scrollbar-color: $textColor  $lineColor;
  scrollbar-width: thin;
}

// for terms, private policy pages

.document {
  max-width: 680px;
  margin: auto;
  color: #ffffff;
}

.document__title {
  font-size: 30px;
  line-height: 32px;
  font-family: Syncopate;
  margin: 50px 0 0 0;
  text-align: center;
  color: #e0e0e0;
  text-transform: uppercase;
}

.document__text {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 24px;
  text-indent: 24px;
}

.document__text a {
  text-decoration: underline;
  color: #fff;
}

.document--last-modified {
  font-size: 14px;
  color: #858585;
  font-weight: 400;
  line-height: 18px;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.document--variants {
  list-style-type: lower-alpha;
  margin-bottom: 24px;
}

.document--list {
  font-size: 14px;
  line-height: 21px;
}

.document--list__title {
  text-indent: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

.document--list__text {
  margin-bottom: 24px;
  text-indent: 24px;
}

.document--list__text a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .document {
    max-width: 540px;
  }
  .document__title {
    font-size: 26px;
    line-height: 28px;
    margin: 50px 0 0 0;
  }
  .document__text {
    margin-bottom: 18px;
    text-indent: 18px;
  }
  .document--last-modified {
    margin: 18px 0;
  }
  .document--variants {
    margin-bottom: 18px;
  }
  .document--list {
    line-height: 21px;
  }
  .document--list__title {
    text-indent: 18px;
    font-weight: 700;
    margin: 0 0 18px 0;
  }
  .document--list__text {
    margin-bottom: 18px;
    text-indent: 18px;
  }
}

@media (max-width: 600px) {
  .document {
    max-width: 90%;
  }
}
