@use 'assets/scss/breakpoints' as *;

.search-queries {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 10px;
}

.search-query {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 6px 16px;
  background: #2e2e2e;
  border-radius: 16px;
}

.search-query span {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.87);
}

.search-query__remove {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  min-height: 15px;
  height: 15px;
}

.pagination-wrapper {
  margin: 26px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44px;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  span {
    font-weight: 300;
    font-size: 21px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #858585;
  }
}

.pagination-bottom {
  margin-bottom: 76px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .pagination-wrapper__btn {
    position: fixed;
    padding: 12px 0;
    width: 90%;
    background: #3d3d3d;
    border-radius: 2px;
    bottom: 16px;
    right: 16px;
    z-index: 2;
    justify-content: center;
  }
}

.img-wrapper {
  display: flex;
}

.wrapper {
  padding: 40px;

  @include md {
    padding: 20px;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
