@use '@gear-js/ui/resets.scss';
@use '@gear-js/ui/typography.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  scrollbar-gutter: stable both-edges;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input, select, textarea, button, pre {
  font-family:inherit;
}
