[package]
name = "injected"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
ethexe-common.workspace = true
gear-core.workspace = true
gear-core-errors.workspace = true
hex.workspace = true
