.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.headingName {
  margin-right: 20px;
}
.headingTitle {
  margin: auto;
}
.element {
  max-height: 30px;
  display: grid;
  grid-template-columns: 0.3fr 2fr 2fr 4fr 1fr 1fr;
  column-gap: 10px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  padding-bottom: 5px;

  & > * {
    width: 100%;
    max-height: 100%;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  & button {
    width: fit-content;
    height: fit-content;
  }
}
