@use '@gear-js/ui/breakpoints' as *;
@use '@gear-js/ui/mixins' as *;
@use '@gear-js/ui/headings' as *;
@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/variables' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toRem(36) toRem(40) toRem(20) toRem(40);
  text-align: center;
  color: $textColorSecondary;

  @include md {
    @include childrenMargin($marginBig);

    flex-direction: column;
  }
}

.copyright {
  color: $gray600;
  font-size: 12px;
  margin-left: auto;
  margin-right: 32px;
}

.dotButton {
  @include childrenMargin(10px, right);
  @include transition;
  @extend %headingFont;
  color: $gray800;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.5;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
