.heading {
  margin-bottom: 40px;
  text-shadow: 1px 1px 0px #00ff38;
  font-family: Kanit;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}
