@use '@gear-js/ui/headings' as *;

.heading {
  @extend %h1;
  max-width: 800px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.buttons {
  max-width: 285px;
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 28px;
  }
}
