@use '@gear-js/ui/variables' as *;

.section {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.caption {
  margin-bottom: 10px;
  font-weight: 600;
  color: $textColor;
  text-transform: uppercase;
}
