@use '@gear-js/ui/breakpoints' as *;

.searchForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;

  @include lg {
    flex-direction: column;
    gap: 16px;
  }
}

.resetButton {
  white-space: nowrap;
}
