@import '/src/assets/scss/variables.scss';

.meta-form__button {
    background: #2BD071;
    box-shadow: 0px 0px 24px rgba(43, 208, 113, 0.12);
    border-radius: 2px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    width: 194px;
    margin-top: 32px;
}

.meta-form__button.disabled {
    opacity: .2;
    cursor: default;
}

.meta-form__input-error {
    background: #141010!important;
    border: 1px solid #8B3939!important;
}

.meta-form__error {
    position: absolute;
    color: #995757;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    bottom: -18px
}

.meta-form__field-wrapper {
    width: 100%;
    position: relative;
}

.meta-form--switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.meta-form--switch:first-child {
    margin-top: 10px;
}

.meta-form--switch:last-child {
    margin-bottom: 0;
}

.meta-form--switch__name {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    min-width: 100px;
    text-align: right; 
}

.meta-form form {
    background: #212121;
    border: 1px dashed #0E0E0E;
    border-radius: 2px;
    padding: 28px 70px 28px 32px;
    margin: 40px;
}

.meta-form--wrapper {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.meta-form--col {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.meta-form--info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
}

.meta-form--col:first-child .meta-form--info:first-child {
    display: none;
}

.meta-form--info:last-child {
    margin-bottom: 0;
}

.meta-form__field {
    color: #858585;
    font-weight: 300;
    font-size: 21px;
    line-height: 130%;
    min-width: 217px;
}

.meta-form--info input {
    padding: 10px 16px;
    background: #000000;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    height: 38px;
    min-height: 38px;
}

.meta-form--info input::placeholder {
    color: #8B8B8B;
}

.meta-form--payload p{
    color: #858585;
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    min-width: 164px;
    margin-bottom: 24px;
}

.meta-form--switch-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
  
.meta-form--switch-btns__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
  
.meta-form--switch-btns__btn img {
    margin-right: 8px;
}
  
.meta-form--file-btn {
    background: #3D3D3D;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 9px 18px;
}

.meta-form__field {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $textColorSecondary;
    font-weight: 300;
    min-width: 200px;
    font-size: 21px;
    line-height: 130%;
}

.meta-form .is-hidden {
    display: none;
}

.meta-form__filename {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #E0E0E0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.meta-form__filename button {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .meta-form__button {
        width: 100%;
    }

    .meta-form--info {
        flex-direction: column;
        align-items: unset;
        margin-bottom: 32px;
    }


    .meta-form--info label {
        margin-bottom: 4px;
    }

    .meta-form--info:first-child {
        display: flex;
        flex-direction: column;
    }

    .meta-form--info:first-child span:last-child {
        font-weight: normal;
        font-size: 21px;
        line-height: 130%;
        color: #E0E0E0;
    }

    .meta-form--info:first-child span:first-child {
        color: #858585;
        font-weight: 300;
        font-size: 21px;
        line-height: 130%;
        min-width: 164px;
    }

    .meta-form form {
        background: none;
        border: none;
        border-radius: none;
        padding: 27px 16px;
        margin: 0;
    }

    .meta-form--col:first-child {
        margin-right: 0;
        width: 100%;
    }

    .meta-form--file-btn {
        width: fit-content;
    }
}