@use 'assets/styles';
@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/mixins' as *;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

main {
  flex: 1;
  padding: 30px 0;

  // temp solution for api loader
  // display: flex;
  // align-items: center;
  // justify-content: center;

  .loader {
    font-size: $fontSizeLarge;
  }
}

body {
  background: $bgColor url('assets/images/bg.svg');
}

a {
  @include transition();

  &:hover {
    opacity: 0.5;
  }
}
