@use '@gear-js/ui/variables' as *;

@mixin verticalGap($gap) {
  & > *:not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin horizontalGap($gap) {
  & > *:not(:last-child) {
    margin-right: $gap;
  }
}

.heading {
  margin-bottom: 32px;
  // TODO: replace w/ @gear-js/ui heading styles
  font-family: 'Syncopate', sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.main {
  padding: 25px 40px;
  background-color: #212121;
  border: 1px dashed #0e0e0e;
  border-radius: $borderRadius;
}

.form {
  @include verticalGap(32px);
}

.item {
  @include horizontalGap(32px);
  display: flex;
  align-items: center;
}

.input,
.button {
  max-width: 540px;
}

.input {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.error {
  color: $errorColor;
}

.checkbox {
  &Wrapper {
    &::before {
      content: '';
    }
  }

  &Error {
    margin-left: auto;
  }
}
