@use '@gear-js/ui/variables' as *;

.circleIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $textColor;

  &.error {
    background-color: $errorColor;
  }

  &.success {
    background-color: $successColor;
    box-shadow: 0px 0px 10px $successColor;
  }

  &.loading {
    background-color: #3975e9;
  }
}
