@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.programsSection {
  flex: 1 1;
}

.programs {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-row-gap: toRem(12);
  position: relative;
  margin-top: toRem(16);
}