@use '@gear-js/ui/variables' as *;

.pre {
  padding: 15px 25px;
  background-color: $bgColor;
  border: 1px dashed #3d3d3d;
  border-radius: $borderRadius;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.text {
  font-size: $fontSize;
  font-weight: 400;
  color: $textColorSecondary;
}
