.overlay {
  display: none;

  width: 100%;
  height: 100%;
  padding: 0 32px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: #0006;
  backdrop-filter: blur(7.5px);

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
