@use '@gear-js/ui/mixins' as *;
@use 'shared/assets/styles/variables' as *;

.button {
  background-color: $green007;

  svg path {
    @include transition;
    fill: $successColor;
  }

  &:hover {
    background-color: $successColor;

    svg path {
      fill: $textColor;
    }
  }
}
