@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/mixins' as *;

.simpleBar {
  @include customSimplebar;
  width: calc(100% - 0.33px); // somehow it fixes horizontal overflow on sails preview, need to investigate
  padding: toRem(16) toRem(24);
  color: $borderColor2;
  background-color: $gray003;
  border-radius: $borderRadius;
}
