@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.programCard {
  position: relative;
  background: url('/shared/assets/images/placeholders/programBg.svg') no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px $bgColor;
}

.cardContent {
  position: relative;
  padding: toRem(16) toRem(40) toRem(16) toRem(24);
  overflow: hidden;
  
  .title {
    color: $gray600;
    font-size: $fontSizeTiny;
    line-height: 1.3;
  }

  .name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Kanit';
    color: $textColor;
    font-weight: 600;
    font-size: $fontSizeBig;
    line-height: 1.3;
    height: toRem(48);
    overflow-wrap: break-word;
    margin-bottom: $marginSmall;
  }

  &::after {
    content: '';
    width: 160%;
    height: 90px;
    position: absolute;
    left: -60%;
    bottom: -70px;
    background: radial-gradient(50% 50% at 50% 50%, rgba($successColor, 0.2) 15%, rgba(24, 24, 27, 0) 100%);
  }
}

.otherInfo { 
  display: flex;
  margin-top: $marginSmall;
  position: relative;
  z-index: 2;

  .bulbBlock {
    margin-right: $margin;
  }
}

.actions {
  display: flex;
  margin-top: auto;
  padding: toRem(12) toRem(24);

  .sendMessage {
    @include fade();

    margin-right: $margin;
  }
}

.cardLink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
