@use '@gear-js/ui/variables' as *;
@use 'assets/scss/mixins' as *;

.summary {
  @include flexGap(0, 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $textColorSecondary;
}

.section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 37px;
      margin: auto;
      background-color: $lineColor;
    }
  }
}

.data {
  display: flex;
  align-items: center;
  font-size: $fontSizeLarge;
}

.number {
  color: $textColor;
  font-weight: 600;
  margin-right: 6px;
}

.question {
  margin-left: 9px;
}

.questionTooltip {
  transform: translate(-88%, calc(100% + 8.5px)) !important;
}
