@use 'assets/scss/breakpoints' as *;

.upload {
  display: flex;

  @include sm {
    flex-direction: column;
  }

  & > *:not(:last-child) {
    margin-right: 30px;

    @include sm {
      margin-right: 0;
    }
  }
}
