@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/variables' as *;

.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.heading {
  @extend %h4;
  margin-right: 24px;
}

.list {
  margin-bottom: 24px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 8px;

  &:nth-child(even) {
    background-color: #ffffff1a;
  }
}

.key {
  color: $textColorSecondary;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;

  &:empty {
    &::before {
      content: '—';
    }
  }
}
