.message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #282828;
  padding: 32px 44px;
  height: 80px;
  min-height: 80px;
  box-sizing: border-box;
}

.message-header.answer {
  display: none;
}

.message-header--info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-header--info button {
  height: 16px;
  padding: 0;
}

.message-header--info__filename {
  color: #fff;
  padding-top: 2px;
}

.message-header--info__text {
  color: #858585;
  margin-left: 28px;
  padding-top: 2px;
}

.message-header--info__icon {
  margin: 0 11px 0 19px;
}

.message-header--info__text,
.message-header--info__filename {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 130%;
  font-weight: 600;
}

.message-header--info__close {
  display: none;
}

@media (max-width: 768px) {
  .message-header {
    padding: 17px 16px;
    height: 62px;
    min-height: 62px;
  }

  .message-header__button {
    display: none;
  }

  .message-header.answer {
    display: flex;
    padding: 17px 20px;
  }

  .message-header.answer button.message-header--info__back {
    display: block;
    margin-right: 20px;
  }

  .message-header.answer h2.message-header--info__text {
    color: #fff;
  }

  .message-header--info__close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .message-header--info button {
    display: none;
  }

  .message-header--info__text {
    margin-left: 0;
    padding-top: 4px;
  }
  .message-header--info__filename {
    display: none;
  }
  .message-header--info__icon {
    display: none;
  }
}
