@use 'assets/scss/variables' as *;
@use 'assets/scss/breakpoints.scss' as *;

.pageHeader {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.headerBackBtn {
  height: 16px;
  margin-right: 20px;
}

.headerInfo {
  display: flex;

  @include sm {
    flex-direction: column;
  }
}

%infoText {
  font-weight: 600;
  text-transform: uppercase;
  font-size: $fontSizeLarge;

  @include sm {
    font-size: $fontSizeBase;
  }
}

.infoTitle {
  @extend %infoText;

   color: $textColorSecondary;

   &:not(:empty) {
      margin-right: 20px;
   }
}

.infoFile {
  display: flex;
  align-items: center;

  @include sm {
    margin-left: 0;
    margin-top: 5px;
  }
}

.fileIcon {
  margin-right: 10px;

  @include sm {
    display: none;
  }
}

.fileName {
  @extend %infoText;

  color: $textColor;
}
