.message-status {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #2e2d2d;
  margin: 32px 40px;
  &--info {
    display: flex;
    flex-direction: row;
    gap: 57px;
    &__title {
      width: 107px;
      font-weight: 300;
      font-size: 21px;
      line-height: 130%;
      color: #858585;
    }
    &__text {
      font-weight: 600;
      font-size: 21px;
      line-height: 130%;
      text-transform: lowercase;
      color: #ffffff;
    }
  }
}

@media (max-width: 767px) {
  .message-status {
    position: fixed;
    top: 62px;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 27px 16px;
    &--info {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 32px;
      &__text {
        font-weight: normal;
        color: #e0e0e0;
        word-break: break-all;
      }
    }
  }
}
