.container {
  padding: 1px 12px;
  border-radius: 2px;
  font-size: 11px;
  height: 20px;
}

.primary {
  color: rgba(168, 245, 147, 1);
  background: rgba(168, 245, 147, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.secondary {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.color-1 {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.color-2 {
  color: rgba(125, 187, 207, 1);
  background: rgba(0, 193, 255, 0.1);
  border: 1px solid rgba(0, 193, 255, 0.1);
}

.color-3 {
  color: rgba(205, 193, 237, 1);
  background: rgba(207, 159, 255, 0.1);
  border: 1px solid rgba(207, 159, 255, 0.1);
}

.color-4 {
  color: rgba(242, 241, 182, 1);
  background: rgba(254, 252, 172, 0.1);
  border: 1px solid rgba(254, 252, 172, 0.1);
}

.color-5 {
  color: rgba(173, 192, 227, 1);
  background: rgba(159, 186, 255, 0.1);
  border: 1px solid rgba(159, 186, 255, 0.1);
}

.color-6 {
  color: rgba(189, 244, 224, 1);
  background: rgba(174, 255, 221, 0.1);
  border: 1px solid rgba(174, 255, 221, 0.1);
}

.color-7 {
  color: rgba(158, 239, 162, 1);
  background: rgba(140, 254, 121, 0.1);
  border: 1px solid rgba(140, 254, 121, 0.1);
}

.color-8 {
  color: rgba(246, 200, 147, 1);
  background: rgba(255, 199, 133, 0.1);
  border: 1px solid rgba(255, 199, 133, 0.1);
}

.color-9 {
  color: rgba(223, 164, 199, 1);
  background: rgba(255, 106, 187, 0.1);
  border: 1px solid rgba(255, 106, 187, 0.1);
}

.color-10 {
  color: rgba(248, 161, 149, 1);
  background: rgba(245, 139, 124, 0.1);
  border: 1px solid rgba(245, 139, 124, 0.1);
}
