@use '@gear-js/ui/variables' as *;
@use './styles/index.scss';
@use 'shared/assets/styles/_variables.scss' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $mainBgColor;
}

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

button {
  border: none;
}