@use './styles/index.scss';
@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: $bgColor;
  background-image: url('/shared/assets/images/placeholders/greenShadowBg.png');
  background-repeat: no-repeat;
  background-position: right -150px top -50px;
}

#root {
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
}

.content {
  flex: 1 1;
  position: relative;
  padding: 0 toRem(32) 0 toRem(48);
}

button {
  border: none;
}
