@use '../../utils' as *;

@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}

.root {
  width: 480px;
  position: fixed;
  right: 22px;
  bottom: 5px;
  z-index: 20;
}

.container {
  @include lightDark(background-color, #fff, #272b2f);

  display: flex;
  flex-direction: column;

  border: 1px solid transparent;

  @include lightMode() {
    box-shadow: 0 10px 20px 0 rgba(92, 92, 92, 0.15);
  }
}

.header {
  display: flex;
  align-items: center;
}

.title {
  text-transform: capitalize;
}

.button {
  @include lightDark(color, #000, #fff);

  margin-left: auto;

  svg {
    width: 20px;
    height: 20px;
  }
}

.body {
  @include lightDark(color, #525251, #fff);

  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  @include lightDark(color, #9babb0, rgba(245, 245, 245, 0.8));

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.alert {
  gap: 8px;
  padding: 24px 48px 24px 24px;
  border-radius: 4px;

  .header {
    gap: 8px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }

  .body {
    padding: 4px 0 6px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.notification {
  gap: 4px;
  padding: 16px 48px 16px 16px;
  border-radius: 8px;

  .header {
    gap: 12px;
  }

  .title {
    @include lightDark(color, #000, #fff);

    font-size: 17px;
    font-weight: 700;
    line-height: 1.4;
  }

  .body,
  .footer {
    padding-left: 28px;
  }

  .body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.success {
  @include darkMode() {
    border-color: rgba(0, 255, 196, 0.6);
  }

  .header {
    @include lightDark(color, #0dd3a2, #00ffc4);
  }
}

.error {
  @include darkMode() {
    border-color: rgba(255, 55, 87, 0.6);
  }

  .header {
    @include lightDark(color, #ff3231, #ff3757);
  }
}

.info {
  @include darkMode() {
    border-color: rgba(255, 255, 255, 0.6);
  }

  .header {
    @include lightDark(color, #000, #fff);
  }
}

.loading {
  @include darkMode() {
    border-color: rgba(58, 172, 233, 0.6);
  }

  .header {
    @include lightDark(color, #3a74e9, rgba(58, 172, 233, 1));
  }

  .icon {
    animation: rotating 1s linear infinite;
  }
}
