@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}

.root {
  width: 480px;
  position: fixed;
  right: 22px;
  bottom: 5px;
  z-index: 20;
}

// Base styles
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(92, 92, 92, 0.15);
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: capitalize;
}

.icon {
  display: flex;
  align-items: center;
  align-self: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.close {
  position: absolute;
  top: 18px;
  right: 18px;

  display: inline-flex;
  align-self: flex-start;
  height: 20px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 250ms ease;

  &:hover, &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.body {
  padding-top: 4px;
  padding-bottom: 6px;

  color: #525251;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;

  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  color: #9babb0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

// Types
.success {
  .header {
    color: #0dd3a2;
  }
}

.error {
  .header {
    color: #ff3333;
  }
}

.info {
  .header {
    color: #000;
  }
}

.loading {
  .header {
    color: #3a74e9;
  }

  .icon svg {
    animation: rotating 1s linear infinite;
  }
}

// Variants
.alert {
  gap: 8px;
  padding: 24px 48px 24px 24px;
  border-radius: 4px;
}

.notification {
  gap: 4px;
  padding: 16px 48px 16px 16px;
  border-radius: 8px;

  .header {
    gap: 12px;
  }
  
  .title {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.4;
  }

  .body,
  .footer {
    padding: 0 0 0 32px;
  }

  .close {
    top: 16px;
    right: 16px;
  }

  &.success,
  &.error,
  &.info,
  &.loading {
    .title {
      color: #000;
    }
  }
}

// Theming
:global(.dark-theme) {
  .wrapper {
    background-color: #272b2f;
  }

  .body {
    color: #ffffff;
  }

  .footer {
    color: rgba(245, 245, 245, 0.8);
  }

  // Types
  .success {
    box-shadow: 0 0 0 1px rgba(0, 255, 196, 0.6);

    .header {
      color: #00ffc4;
    }
  }

  .error {
    box-shadow: 0 0 0 1px rgba(255, 56, 89, 0.6);

    .header {
      color: rgb(255, 56, 86);
    }
  }

  .info {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);

    .header {
      color: #ffffff;
    }
  }

  .loading {
    box-shadow: 0 0 0 1px rgba(58, 172, 233, 0.6);

    .header {
      color: rgba(58, 172, 233, 1);
    }
  }

  // Variants
  .notification {
    &.success {
      box-shadow: 0 0 0 1px rgba(0, 255, 196, 0.6);

      .header {
        color: #ffffff;
      }
    }

    &.error {
      box-shadow: 0 0 0 1px rgba(255, 56, 89, 0.6);

      .header {
        color: #ffffff;
      }
    }
  }
}
