@use 'assets/scss/variables' as *;
@use 'assets/scss/breakpoints' as *;

.header {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;
  background-color: $mainBackground;
  @include lg {
    padding-top: 16px;
  }
  @include sm {
    padding-bottom: 16px;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include lg {
    flex-direction: column;
    align-items: flex-start;
  }

  & > *:not(:last-child) {
    margin-right: 100px;

    @include lg {
      margin-right: 0;
      margin-bottom: 32px;
    }
  }
}
