@use 'assets/scss/variables' as *;

.header {
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__links {
    display: flex;
  }

  &__logo {
  }
}

.header__logo-and-button {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .add_node {
    margin-left: 15px;
    color: $textColor;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 40px;
    background-color: $bkgActiveButtonColor;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

.headder__chain-block {
  margin-left: 10px;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 15px;
  }
  .headder__chain-text {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.header__nav-button {
  outline: none;
  border: none;
  border-radius: 2px;
  color: white;
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.header__nav-button:active,
.header__nav-button:focus,
.header__nav-button:hover {
  background: #3d3d3d;
}

.header__right-block {
  display: flex;
  align-items: center;
  .header__right-block_ide {
    color: $textColor;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1) url('../../../assets/images/editor_icon.svg') 10px center no-repeat;
    padding: 10px 15px 10px 45px;
    font-weight: bold;
    &:hover {
      color: $mainBackground;
      background: $textColor url('../../../assets/images/editor_icon_gray.svg') 10px center no-repeat;
    }
    .header__right-block_ide-icon {
      margin-right: 10px;
    }
  }
}

.user-block {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.user-block--wrapper {
  display: flex;
  align-items: center;
}

.user-block--wrapper img {
  width: 22px;
}

.user-block__name {
  color: $textColorSecondary;
  position: relative;
  margin-left: 10px;
}

.header__burger {
  display: none;
}

.user-block__programs,
.user-block__notifications,
.user-block__account,
.user-block__restore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  padding: 0 8px;
}

.user-block__notifications {
  margin: 0 30px 0 20px;
}

.user-block__programs span,
.user-block__notifications span,
.user-block__account span,
.user-block__restore span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #858585;
  margin-left: 12px;
}

.user-block__programs.selected::after,
.user-block__notifications.selected::after {
  position: absolute;
  content: '';
  background: #2bd071;
  width: 100%;
  height: 3px;
  bottom: -24px;
  left: 0;
}

.user-block__programs.selected span,
.user-block__notifications.selected span {
  color: #ffffff;
}

.notifications-count {
  margin-left: 7px;
  background: #f2994a;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 30px;
  height: 18px;
  min-height: 18px;
  max-height: 18px;
}

.header--actions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.header__notifications {
  display: none;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0 16px;
  }

  .user-block__programs,
  .user-block__notifications,
  .user-block__account {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    z-index: 100;
    user-select: none;
  }

  .header__burger span {
    width: 26px;
    border: 1px solid #fff;
    margin-bottom: 6px;
    transition: 0.5s;
  }

  .header__burger span:last-child {
    margin-bottom: 0;
  }

  .header__burger.active span {
    border-color: #282828;
  }

  .header__burger.active span:first-child {
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .header__burger.active span:nth-child(2) {
    display: none;
  }

  .header__burger.active span:last-child {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    left: 0;
    top: -100%;
    transition: top 0.5s;
    z-index: 2;
    text-align: center;
  }

  .header__nav.show {
    top: 0 !important;
  }

  .header__nav-button {
    font-size: 24px !important;
    color: #282828 !important;
    margin-bottom: 16px;
  }

  .header__nav-button:last-child {
    margin-bottom: 0;
  }

  .header__logo {
    z-index: 100;
  }

  .header__user-block {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    left: 0;
    top: -100%;
    transition: top 0.5s;
    z-index: 4;
    text-align: center;
    padding: 0 16px;
  }

  .header__user-block.show {
    top: 0 !important;
  }

  .header__user-block .user-block--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }

  .header__user-block .user-block--wrapper img {
    width: 44px;
    margin-bottom: 18px;
  }

  .header__user-block .user-block--wrapper span {
    font-size: 22px;
    margin-left: 0;
  }

  .header__notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header__notifications .indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    min-height: 8px;
    max-height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #282828;
  }

  .notifications-count.mobile {
    width: 6px;
    height: 6px;
    min-height: 6px;
    max-height: 6px;
    border-radius: 50%;
    margin-left: 0;
  }
}
