@use 'assets/scss/variables' as *;
@use 'assets/scss/breakpoints' as *;

.header {
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;
}

.section {
  display: flex;
  align-items: center;
}
