@use 'assets/scss/variables' as *;
@use 'assets/scss/mixins' as *;
@use 'assets/scss/breakpoints' as *;

.header {
  min-height: 80px;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;
}

.section {
  display: flex;
  align-items: center;
}

.nav {
  @include flexGap(100px);

  @include lg {
    @include flexGap(32px);
    flex-direction: column;
    align-items: flex-start;
  }
}

// commented since notifications/alerts feature isn't ready yet
// .interaction {
//   @include flexGap(35px);

//   @include sm {
//     @include flexGap(20px);
//     flex-direction: column;
//   }
// }
