@import '../../../assets/scss/variables';

.header {
  display: flex;
  align-items: center;
  margin: 22px 0;
  padding: 0 40px;
  color: white;
  justify-content: space-between;
}

.header__logo-and-button {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .add_node {
    margin-left: 15px;
    color: $textColor;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 40px;
    background-color: $bkgActiveButtonColor;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

.headder__chain-block {
  margin-left: 10px;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 15px;
  }
  .headder__chain-text {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.header__nav-button {
  outline: none;
  border: none;
  border-radius: 2px;
  color: white;
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.header__nav-button:active,
.header__nav-button:focus,
.header__nav-button:hover {
  background: #3d3d3d;
}

.user-block {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.user-block--wrapper {
  display: flex;
  align-items: center;
}

.user-block--wrapper img {
  width: 22px;
}

.user-block__name {
  color: $textColorSecondary;
  position: relative;
  margin-left: 10px;
}

.header__burger {
  display: none;
}

.user-block__programs,
.user-block__notifications,
.user-block__account,
.user-block__restore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  padding: 0 8px;
}

.user-block__notifications {
  margin: 0 30px 0 20px;
}

.user-block__programs span,
.user-block__notifications span,
.user-block__account span,
.user-block__restore span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #858585;
  margin-left: 12px;
}

.user-block__programs.selected::after,
.user-block__notifications.selected::after {
  position: absolute;
  content: '';
  background: #2bd071;
  width: 100%;
  height: 3px;
  bottom: -24px;
  left: 0;
}

.user-block__programs.selected span,
.user-block__notifications.selected span {
  color: #ffffff;
}

.notifications-count {
  margin-left: 7px;
  background: #f2994a;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 30px;
  height: 18px;
  min-height: 18px;
  max-height: 18px;
}

.header--actions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.header__notifications {
  display: none;
}

.nodes {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #121212;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  z-index: 100;
  transition: all ease 300ms;
  &.show {
    left: 0;
  }
  .nodes__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .nodes__switch-button {
      padding: 5px 15px 5px 20px;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      background: $successColor;
      border-radius: 2px;
      color: $textColor;
      .nodes__switch-icon {
        margin-right: 15px;
      }
    }
  }

  .nodes__wrap {
    .nodes__item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .nodes__item-caption {
        font-weight: bold;
        color: $textColor;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .nodes__item-list {
        .nodes__item-elem {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          &:last-child {
            margin-bottom: 0;
          }
          .nodes__item-icon {
            width: 20px;
            height: 20px;
          }
          .nodes__item-btn {
            padding: 0;
            display: flex;
            align-items: center;
          }
          .nodes__item-text {
            display: inline-block;
            color: $textColor;
            max-width: 230px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            @media (max-width: 768px) {
              max-width: 170px;
            }
          }
          .nodes__item-remove {
            padding: 0;
            display: flex;
            align-items: center;
            img {
              width: 20px;
              height: 20px;
            }
          }
          .nodes__item-choose {
            margin-right: 10px;
            .nodes__item-icon {
              margin-right: 10px;
            }
          }
          .nodes__item-btns {
            display: flex;
            align-items: center;
            .nodes__item-btn {
              margin-right: 10px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .nodes__add {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .nodes__add-input {
      padding: 10px 20px;
      border-radius: 2px;
      border: none;
      outline: none;
      background-color: $mainBackground;
      color: $textColorSecondary;
      font-size: 16px;
    }
    .nodes__add-button {
      margin-top: 10px;
      border: none;
      outline: none;
      color: $textColor;
      padding: 12px;
      background: $successColor;
      border-radius: 2px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $textColor;
      &:disabled {
        color: $textColor;
        background: $bkgButtonColor;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0 16px;
  }

  .user-block__programs,
  .user-block__notifications,
  .user-block__account {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    z-index: 100;
    user-select: none;
  }

  .header__burger span {
    width: 26px;
    border: 1px solid #fff;
    margin-bottom: 6px;
    transition: 0.5s;
  }

  .header__burger span:last-child {
    margin-bottom: 0;
  }

  .header__burger.active span {
    border-color: #282828;
  }

  .header__burger.active span:first-child {
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .header__burger.active span:nth-child(2) {
    display: none;
  }

  .header__burger.active span:last-child {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    left: 0;
    top: -100%;
    transition: top 0.5s;
    z-index: 2;
    text-align: center;
  }

  .header__nav.show {
    top: 0 !important;
  }

  .header__nav-button {
    font-size: 24px !important;
    color: #282828 !important;
    margin-bottom: 16px;
  }

  .header__nav-button:last-child {
    margin-bottom: 0;
  }

  .header__logo {
    z-index: 100;
  }

  .header__user-block {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    left: 0;
    top: -100%;
    transition: top 0.5s;
    z-index: 4;
    text-align: center;
    padding: 0 16px;
  }

  .header__user-block.show {
    top: 0 !important;
  }

  .header__user-block .user-block--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }

  .header__user-block .user-block--wrapper img {
    width: 44px;
    margin-bottom: 18px;
  }

  .header__user-block .user-block--wrapper span {
    font-size: 22px;
    margin-left: 0;
  }

  .header__notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header__notifications .indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    min-height: 8px;
    max-height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #282828;
  }

  .notifications-count.mobile {
    width: 6px;
    height: 6px;
    min-height: 6px;
    max-height: 6px;
    border-radius: 50%;
    margin-left: 0;
  }
}
