@import '../../../assets/scss/variables';

.error-block {
  align-items: center;
  background-color: $errorColor;
  border-radius: $borderRadiusBase;
  bottom: 0;
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 16px;
  position: fixed;
  z-index: 10;
}
.error-block__msg {
  color: $textColor;
}

.error-block__close-btn {
  background: url('../../../images/error_close.svg');
  height: 14px;
  width: 14px;
}
