.header {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin: 2px 0 1px 0;
}

.empty {
  width: 16px;
  height: 16px;
}

.leftSide {
  display: flex;
  flex: 1;
  gap: 12px;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

.content {
  margin-top: 12px;
  margin-left: 28px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.iconOpen {
  transform: rotate(-90deg);
}
