@use '@gear-js/ui/variables' as *;

.container {
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  margin: 80px auto;
}

.message {
  padding-right: 30px;
  padding-bottom: 20px;
}

.info {
  display: flex;
}

.icon {
  padding-right: 15px;
}

.name {
  font-size: $fontSizeMedium;
  color: $textColor;
}

.text {
  margin-left: 42px;
  font-size: $fontSizeMedium;
  color: $textColor;
  line-height: 24px;
  padding: 10px 20px;
  background: $lineColor;
  border-radius: $borderRadius;
}
