@use '@gear-js/ui/variables' as *;
@use 'assets/styles/shared' as *;

.empty {
  @extend %absoluteCenter;
  padding: 48px;
  text-align: center;
  color: $textColorSecondary;
  background-image: linear-gradient(0deg, transparent 0%, #242424 25%, #242424 75%, transparent 100%);
}

.heading {
  margin-bottom: 8px;
  font-size: $fontSizeLarge;
  font-weight: 500;
}

.subheading {
  font-size: $fontSizeMedium;
}
