.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 8px 48px 0px 48px;
  height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
