.tabs {
  margin-bottom: 16px;

  display: flex;
  gap: 32px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.button {
  padding-bottom: 16px;

  font-family: Kanit;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  transition:
    color 0.25s,
    box-shadow 0.25s;

  &.active {
    color: #2bd071;

    box-shadow: 0 2px 0 0 #2bd071;
  }
}
