@use 'shared/assets/styles/shared' as *;
@use 'shared/assets/styles/mixins' as *;
@use 'shared/assets/styles/variables' as *;
@use 'shared/assets/styles/animations' as *;
@use '@gear-js/ui/mixins' as *;

.messageInfo {
  @include childrenMargin($marginMedium);

  padding: toRem(24);
  border-radius: 16px;
  background-color: $bgColor4;
}

.loading {
  > div:last-child {
    > div {
      @include loading;
      position: relative;
    }
  }
}

.link {
  align-items: center;

  a {
    @include transition;
    display: inline-block;
    max-width: 450px;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      opacity: 0.5;
    }
  }
}

.copyButton {
  margin-left: 4px;
}
