@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heading {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: rgba(#9cdcb7, 0.7);
}

.balance {
  display: flex;
  align-items: flex-end;
}

.value {
  font-family: Kanit;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}

.unit {
  font-family: Kanit;
  font-size: 12px;
  font-weight: 300;
  line-height: 15.6px;
  color: rgba(255, 255, 255, 0.7);
}

.button svg {
  transform: rotate(90deg);
}
