.content {
  max-width: 930px;
}

.input {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.buttons {
  max-width: 590px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
