@use '../../utils' as *;

.label {
  --color: #000;
  --error-color: rgba(255, 51, 51, 0.8);

  @include darkMode() {
    --color: #fff;
    --error-color: #d73b4f;
  }

  display: flex;
  align-items: center;
  gap: var(--gap);

  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--color);

  cursor: pointer;

  &:has(.input:disabled) {
    pointer-events: none;
  }
}

.input {
  appearance: none;
  margin: 0;
}

.checkbox.box {
  --background-color: transparent;
  --border-color: #d0d5dd;
  --disabled-background-color: #eceded;
  --checked-color: #00ffc4;

  @include darkMode() {
    --background-color: rgba(255, 255, 255, 0.03);
    --border-color: rgba(255, 255, 255, 0.04);
    --disabled-background-color: rgba(40, 44, 48, 0.1);
    --checked-color: #30ffcf;
  }

  width: var(--checkbox-size);
  height: var(--checkbox-size);

  display: flex;
  align-items: center;

  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;

  transition: 0.25s border-color ease, 0.25s background-color ease;

  &::before {
    content: '';
    opacity: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
    mask: url(./assets/check.svg) center/cover no-repeat;

    transition: 0.25s opacity ease, 0.25s background-color ease;

    .input:checked + & {
      opacity: 1;
    }

    .input:not(:disabled)[aria-invalid='true'] + & {
      background-color: #fff;
    }

    .input:disabled + & {
      background-color: var(--border-color);
    }
  }

  .input:not(:disabled):checked + & {
    background-color: var(--checked-color);
    border-color: var(--checked-color);
  }

  .input:not(:disabled)[aria-invalid='true'] + & {
    border-color: var(--error-color);
  }

  .input:not(:disabled):checked[aria-invalid='true'] + & {
    background-color: var(--error-color);
  }

  .input:disabled + & {
    background-color: var(--disabled-background-color);
  }
}

.switch.box {
  --border-color: #909090;
  --checked-color: #0ed3a3;
  --disabled-color: rgba(144, 144, 144, 0.3);

  @include darkMode() {
    --border-color: rgba(255, 255, 255, 0.08);
    --checked-color: #00ffc4;
    --disabled-color: rgba(255, 255, 255, 0.03);
  }

  width: 26px;
  height: 15px;
  padding: 0 4px;

  display: flex;
  align-items: center;

  border: 1px solid var(--border-color);
  border-radius: 16px;

  transition: 0.25s border-color ease;

  &::before {
    content: '';

    width: 7px;
    height: 7px;

    background-color: var(--border-color);
    border-radius: 50%;

    transition: transform 0.25s ease, background-color 0.25s ease;

    .input:checked + & {
      transform: translateX(9px);
    }

    .input:not(:disabled):checked + & {
      background-color: var(--checked-color);
    }

    .input:not(:disabled)[aria-invalid='true'] + & {
      background-color: var(--error-color);
    }

    .input:disabled + & {
      background-color: var(--disabled-color);
    }
  }

  .input:not(:disabled):checked + & {
    border-color: var(--checked-color);
  }

  .input:not(:disabled)[aria-invalid='true'] + & {
    border-color: var(--error-color);
  }

  .input:disabled + & {
    border-color: var(--disabled-color);
  }
}

.default {
  --gap: 12px;
  --font-size: 14px;
  --line-height: 20px;

  --checkbox-size: 18px;
}

.small {
  --gap: 10px;
  --font-size: 12px;
  --line-height: 22px;

  --checkbox-size: 15px;
}
