@use '../../utils' as *;

.label {
  --color: #000;
  --background-color: transparent;
  --border-color: #d0d5dd;
  --disabled-background-color: #eceded;

  @include darkMode() {
    --color: #fff;
    --background-color: rgba(255, 255, 255, 0.03);
    --border-color: rgba(255, 255, 255, 0.04);
    --disabled-background-color: rgba(40, 44, 48, 0.1);
  }

  display: flex;
  align-items: center;
  gap: var(--gap);

  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--color);

  cursor: pointer;

  &:has(:disabled) {
    pointer-events: none;
  }
}

.inputWrapper {
  display: flex;

  position: relative;

  &::after {
    content: '';
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
    mask: url(./assets/check.svg) center / cover no-repeat;

    transition-duration: 250ms;
    transition-property: background-color, opacity;
    transition-timing-function: ease;
  }

  &:has(:checked) {
    &::after {
      opacity: 1;
    }
  }

  &:has(:disabled) {
    &::after {
      background-color: var(--border-color);
    }
  }

  &:has([aria-invalid='true']:not(:disabled)) {
    &::after {
      background-color: #fff;
    }
  }
}

.input {
  appearance: none;
  margin: 0;
  cursor: inherit;
}

.checkbox {
  width: var(--size);
  height: var(--size);

  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;

  transition-duration: 250ms;
  transition-property: background-color, border-color;
  transition-timing-function: ease;

  &:disabled {
    background-color: var(--disabled-background-color);
  }

  &:not(:disabled) {
    &:checked {
      border-color: #00ffc4;
      background-color: #00ffc4;
    }

    &[aria-invalid='true'] {
      border-color: rgba(255, 51, 51, 0.8);

      &:checked {
        background-color: rgba(255, 51, 51, 0.8);
      }
    }
  }
}

.switch {
  width: 25px;
  height: 15px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='25' height='14' rx='7' fill='white'/%3E%3Crect x='0.5' y='0.5' width='25' height='14' rx='7' stroke='%23909090'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.5' fill='%23909090'/%3E%3C/svg%3E%0A");

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='25' height='14' rx='7' stroke='%230ED3A3'/%3E%3Ccircle cx='18.5' cy='7.5' r='3.5' fill='%230ED3A3'/%3E%3C/svg%3E%0A");
  }

  :global(.dark-theme) & {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='25' height='14' rx='7' stroke='white' stroke-opacity='0.08'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.5' fill='white' fill-opacity='0.08'/%3E%3C/svg%3E%0A");

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='25' height='14' rx='7' stroke='%2300FFC4'/%3E%3Ccircle cx='18.5' cy='7.5' r='3.5' fill='%2300FFC4'/%3E%3C/svg%3E%0A");
    }
  }
}

.default {
  --gap: 12px;
  --size: 18px;
  --font-size: 14px;
  --line-height: 20px;
}

.small {
  --gap: 10px;
  --size: 15px;
  --font-size: 12px;
  --line-height: 22px;
}
