@use 'assets/scss/variables' as *;
@use 'assets/scss/breakpoints.scss' as *;

.menu {
  display: flex;

  @include sm {
    flex-direction: column;
  }

  & > *:not(:last-child) {
    margin-right: 40px;

    @include sm {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.link {
  color: inherit;
  transition: all 0.25s;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $textColorSecondary;
  }

  &.active {
    border-bottom: 2px solid $successColor;
  }
}
