@use 'assets/scss/variables' as *;

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.message {
  width: 80%;
  padding: 10px 15px;
  background-color: $mainBackground;
  border-radius: $borderRadiusBase;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  color: $textColor;
  overflow-x: auto;
  min-height: 230px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  background-color: $successColor;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon {
  width: 15px;
  margin-right: 14px;
}
