@use 'assets/scss/variables' as *;

.message {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.pre {
  width: 100%;
  max-width: 800px;
  margin-right: 20px;
  padding: 10px 15px;
  background-color: $mainBackground;
  border-radius: $borderRadiusBase;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}
