@use '@gear-js/ui/headings' as *;

.heading {
  @extend %h2;

  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.cubeWrapper {
  margin: -0.75rem 0 0 -8rem;
}

.main {
  flex: 0 0 32.5rem;
  max-width: 32.5rem;
}