.button {
  /* overriding @gear-js/ui and @gear-js/vara-ui */
  justify-content: space-between !important;
}

.wallet {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ebeeee;
}
