@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.uploadFormWrapper {
  padding: 0 !important;
  margin-bottom: 40px;

  @include md {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 111;
    overflow: scroll;
  }

  .heading {
    color: $textColor;
    font-size: $fontSizeLarge;
    font-weight: 600;
    border-bottom: 2px solid $successColor;

    @include md {
      padding: 16px;
    }
  }

  .heading,
  .uploadForm {
    padding: 32px;
  }
}

.formContent {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  .meta,
  .program {
    flex-basis: calc(50% - 30px);

    @include lg {
      flex-basis: 100%;
    }
  }

  .program {
    margin-right: 60px;

    @include lg {
      margin-right: 0;
    }
  }

  .meta {
    padding: 23px 25px;
    margin-top: 10px;
  }
}

.file {
  display: flex;
  justify-content: flex-start;

  .fileName {
    color: $textColor;
  }

  @include md {
    justify-content: space-between;

    .fileName {
      margin-left: 20px;
    }
  }
}

.buttons {
  margin: 32px 0;

  & > *:not(:last-child) {
    margin-right: 32px;
  }

  @include md {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}
