.balance {
  display: flex;
  align-items: center;
  gap: 8px;
}

.value {
  font-family: Kanit;
  font-weight: 600;
  line-height: 18.2px;
}

.unit {
  font-family: Kanit;
  font-weight: 300;
  line-height: 18.2px;
  color: rgba(255, 255, 255, 0.7);
}
