@use 'assets/scss/variables.scss' as *;
@use 'assets/scss/mixins.scss' as *;
@use 'assets/scss/breakpoints.scss' as *;

.wallet {
  @include flexGap(0, 50px);
  display: flex;
}

.section {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-right: 1px solid $separateLineColor;
  }
}

.balance {
  font-size: 17px;
  font-weight: 400;

  @include md {
    display: none;
  }

  &Amount {
    color: $textColorSecondary;
  }
}

.accountButton {
  text-transform: uppercase;
}

.avatar {
  margin-right: 10px;
  // hacky, but need to override Identicon's 'cursor: copy'
  cursor: inherit !important;
}

.message {
  text-align: center;

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.logoutButton {
  display: block;
  margin: 16px auto 0;
}
