@use '@gear-js/ui/variables' as *;

.viewCheckbox {
  margin-bottom: 16px;
}

.fieldset {
  & > *:not(:last-child):not(legend) {
    margin-bottom: 16px;
  }
}

.textarea {
  & > span {
    padding-top: 0;
  }
}

.select {
  align-items: flex-start;
}

.field {
  flex-direction: column;
  align-items: stretch;

  & > span {
    margin-right: 0;
  }
}

.fileInput {
  margin-top: 25px;
}
