@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.balanceSection {
  margin-left: toRem(16);

  .title {
    color: $gray800;
    font-weight: 400;
  }
  
  .unit {
    color: $gray700;
  }
  
  .value {
    color: $textColor;
  }
}
