@use '../../utils.scss' as *;

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.button,
.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button {
  border: none;
  cursor: pointer;
  padding: var(--padding, 0);
  font-family: inherit;

  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: var(--color, #000);

  background-color: var(--background-color, transparent);
  background-image: var(--background-image);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  transition: all 0.25s;

  &:disabled {
    pointer-events: none;
  }

  &:not(.loading):disabled {
    @include lightDark(--background-color, rgba(88, 105, 110, 0.04), rgba(88, 105, 110, 0.1));
    @include lightDark(--color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));

    --box-shadow: none;
  }

  &.loading {
    > * {
      visibility: hidden;
    }

    &::before {
      content: '';

      position: absolute;

      width: var(--spinner-size);
      height: var(--spinner-size);

      background-color: var(--spinner-color, #000);
      mask: url(./assets/spinner.svg) center/cover no-repeat;
      animation: spin 1s ease-in-out infinite;
    }
  }
}

.block {
  width: 100%;
}

.noWrap {
  white-space: nowrap;
}

.primary {
  --background-color: #00ffc4;
  --box-shadow: 0px 1.6px 3.2px 0px #00ffc466;

  &:hover {
    --background-color: #30ffcf;
    --box-shadow: 0px 1.6px 3.2px 0px #00ffc466, 0px 0.4px 1.2px 0px #00000033 inset;
  }

  &.loading {
    --background-color: #0abe92;
    --box-shadow: 0px 0.4px 1.2px 0px #00000033 inset;
  }
}

.dark {
  @include lightDark(--background-color, #000, #fff);
  @include lightDark(--spinner-color, #fff, #000);
  @include lightDark(--color, #fff, #000);

  &:hover {
    /* TODO: icon color (?) */
    @include lightDark(--background-color, #404040, #d0d1d2);
  }

  &.loading {
    @include darkMode() {
      --background-color: #babdbe;
    }
  }
}

.light {
  @include lightDark(--background-color, #fff, #1d1d1f);
  @include lightDark(--spinner-color, #fff, #000);

  @include darkMode {
    --color: #fff;
  }

  &:hover {
    @include lightDark(--background-color, rgba(243, 245, 247, 0.8), rgba(88, 105, 110, 0.1));
  }

  &.loading {
    @include lightDark(--background-color, #262628, #f0f0f6);
  }
}

.grey {
  @include lightDark(--background-color, #e5e5e7, rgba(88, 105, 110, 0.1));

  @include darkMode {
    --color: #fff;
    --spinner-color: #fff;
  }

  &:hover {
    @include lightDark(--background-color, #dddde1, rgba(88, 105, 110, 0.3));
  }

  &.loading {
    @include lightDark(--background-color, #bdbdc2, rgba(88, 105, 110, 0.8));
  }
}

.border {
  --spinner-color: #fff;

  &:not(:hover):not(:disabled) {
    @include lightDark(--box-shadow, inset 0px 0px 0px 2px #000, inset 0px 0px 0px 2px #fff);

    @include darkMode() {
      --color: #fff;
    }
  }

  &:hover {
    @include lightDark(--background-color, #2a3133, rgba(88, 105, 110, 0.3));
    --color: #fff;
  }

  &.loading {
    @include lightDark(--background-color, #000, rgba(88, 105, 110, 0.8));
  }
}

.danger {
  --color: #fff;
  --background-color: #eb5757;
  --spinner-color: #fff;

  &:hover {
    --background-color: #f04949;
  }

  &.loading {
    --background-color: #dd3131;
  }
}

.transparent {
  --spinner-size: 16px;

  @include darkMode() {
    --color: #fff;
    --spinner-color: #fff;
  }

  &:hover {
    opacity: 0.5;
  }

  &:not(.loading):disabled {
    --background-color: transparent;
  }
}

.x-small {
  --padding: 10px 16px;
  --spinner-size: 20px;
}

.small {
  --padding: 14px 24px;
  --spinner-size: 20px;

  &.noText {
    --padding: 12px 16px;
  }
}

.medium {
  --padding: 16px 24px;
  --spinner-size: 24px;
}

.default {
  --padding: 18px 24px;
  --spinner-size: 24px;

  &.noText {
    --padding: 15px 16px;
  }
}

.x-large {
  --padding: 20px 28px;
  --spinner-size: 24px;
}
