@use 'assets/scss/variables' as *;

.cell {
  $lastRow: ':nth-last-child(-n + 4)';
  padding-left: 20px;
  overflow-x: auto;

  &:not(#{$lastRow}) {
    border-bottom: 1px solid $separateLineColor;
  }
}

.text {
  padding-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event {
  border-top: none;
}
