@use 'assets/scss/variables' as *;

.upload {
  display: flex;
  margin-bottom: 25px;
  .caption {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $textColorSecondary;
    font-weight: 300;
    min-width: 200px;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 768px) {
      margin-bottom: 4px;
    }
    @media (min-width: 769px) and (max-width: 1270px) {
      font-size: 16px;
      min-width: 160px;
    }
  }
  .hidden {
    display: none;
  }
  .block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    .value {
      display: flex;
      align-items: center;
      position: relative;
      &.filename {
        color: #e0e0e0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: transparent;
        button {
          display: flex;
          align-content: center;
        }
      }
    }
    .button {
      background: #3d3d3d;
      border-radius: 2px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $textColor;
      padding: 9px 18px;
      @media (max-width: 768px) {
        width: fit-content;
      }
    }
  }
}
