@use '@gear-js/ui/variables' as *;
@use 'assets/styles/shared' as *;

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding: 20px;
    margin: 25px;
  }
}

.tower {
  width: 26px;
  height: 26px;
  display: inline-flex;
  margin-right: 15px;
  position: relative;
  background: url('/assets/images/icons/tower-icon.svg') no-repeat 50% 100%;

  &::before,
  &::after {
    content: '';
    width: 26px;
    height: 12px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    animation: firstWave 2s ease-in-out infinite;
    background: url('/assets/images/icons/first-wave.svg') no-repeat 50%;
  }

  &::after {
    animation: secondWave 2s ease-in-out infinite;
    background: url('/assets/images/icons/second-wave.svg') no-repeat 50%;
  }

  @keyframes firstWave {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes secondWave {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 0;
    }

    85% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0 0 25px;
  }
}

.info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: $fontSizeMedium;
  color: $textColor;

  @media screen and (max-width: 767px) {
    align-items: center;
    padding-bottom: 20px;
  }
}

.address {
  flex: 1 1 auto;
  font-weight: 500;
  font-size: $fontSizeMedium;
  padding-left: 25px;
}