.fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 0;
  padding: 8px 16px;

  border: 1px solid rgba(41, 41, 41, 1);
  border-radius: 4px;
}

.legend {
  padding: 0 8px;

  font-size: 12px;
}
