@use 'assets/scss/variables' as *;

.item {
  flex-direction: column;
  align-items: stretch;

  &::before {
    content: none;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: $textColorSecondary;
}
