@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/mixins' as *;

.text {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  font-size: 16px;
  color: #d1d1d1;
  border: 1px dashed #ffffff;
  border-radius: $borderRadius;

  &::before {
    @include square(20px);
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5C4.47733 0.5 0 4.97733 0 10.5C0 16.0227 4.47733 20.5 10 20.5C15.5227 20.5 20 16.0227 20 10.5C20 4.97733 15.5227 0.5 10 0.5ZM11.3333 17.1667H8.66667V14.5H11.3333V17.1667ZM11.3333 12.5H8.66667V3.83333H11.3333V12.5Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
