@use 'assets/styles/_shared.scss' as *;
@use 'assets/styles/_mixins.scss' as *;
@use 'assets/styles/_variables.scss' as *;

.accountItem {
  @include childrenMargin(10px, right);

  display: flex;
  align-items: center;

  .accountButton {
    flex: 1 1;

    &.active {
      cursor: default;
      background-color: $successColor;

      &:hover {
        background-color: $successColor;
      }
    }
  }
}
