@use '@gear-js/ui/variables' as *;

.layout {
  grid-template-columns: 1fr repeat(4, 2fr);
}

.number {
  display: flex;
  position: relative;

  > *:first-child {
    margin-right: 10px;
  }
}

.link {
  color: $textColor;

  &:hover {
    text-decoration: underline;
  }
}
