.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accountIcon {
  /* overriding Identicon */
  cursor: pointer !important;
}

.copyButton {
  &.gear svg path {
    fill: #fff;
  }
}
