@use 'assets/scss/variables' as *;

.pre {
  padding: 15px 25px;
  background-color: $mainBackground;
  border: 1px dashed $bkgButtonColor;
  border-radius: 2px;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
