.header {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;

  // TODO: remove after default heading capitalize is gone
  text-transform: none;
  font-size: 16px;
}

.data {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px 24px;
}

.key {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
