@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

%textStyle {
  color: $indigo;
  line-height: 1.3;
}

.header {
  display: flex;
  padding-top: toRem(21);
}

.title {
  @extend %textStyle;

  font-size: $fontSizeTiny;
}

.content {
  @extend %textStyle;

  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 4px;
  }

  .value {
    font-weight: 600;
  }
}

.rightSide {
  margin-left: auto;
}