@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.header {
  display: flex;
  position: relative;
  align-items: center;
  padding: toRem(21) 0 toRem(16) 0;
  min-height: $headerHeight;
}

.title {
  color: $indigo800;
  line-height: 1.3;
  font-size: $fontSizeTiny;
}

.content {
  display: flex;
  color: $indigo700;
  font-size: $fontSizeBig;
  font-weight: 300;
  line-height: 1.3;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 4px;
  }

  .value {
    color: $indigo;
    font-weight: 600;
    font-family: 'Kanit';
  }
}

.rightSide {
  display: flex;
  align-items: center;
  margin-left: auto;

  .privateContent {
    display: flex;
    align-items: center;

    @include fadeAppear();
  }
}