@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.players {
  flex: 1;
  max-width: 500px;
  margin-right: 20px;
}

.players,
.summary {
  > *:first-child {
    margin-bottom: 30px;
  }
}

.heading {
  max-height: 80%;
  @extend %h2;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.summary {
  max-width: 600px;
  &Main {
    display: grid;
    grid-template-areas:
      'a a'
      'b c'
      'd e';
    gap: 40px 55px;
    margin-bottom: 30px;
  }
}

.time {
  grid-area: a;
}

.stage {
  grid-area: b;
}

.bet {
  grid-area: c;
  font-weight: 600;
  color: $successColor;
}

.game {
  grid-area: d;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.round {
  grid-area: e;
}

.detailsButton {
  margin-right: 25px;
}

.actionButton {
  margin-top: 47px;
}
