.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7.5px);
  z-index: 10;
}

.modal {
  width: 438px;
  padding: 16px 16px 20px 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.small {
  width: 316px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.body {
  margin-top: 16px;
}

.heading {
  font-size: 12px;
  font-weight: 500;
}

.closeButton {
  margin-left: auto;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
