@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;
@use 'assets/scss/common.scss' as *;

.programWrapper {
  display: flex;
  align-items: center;

  @include md {
    flex-direction: column;
  }
}

.programsListNumber {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;

  @include md {
    font-size: $fontSize;
  }
}

.programWrapperName {
  padding: 0 5px;
  margin-right: 5px;
  line-height: 21px;

  @include md {
    width: 100%;
    padding: 0;
    margin: 12px 0;
    text-align: center;
  }

  .programLink {
    color: $textColor;
    font-size: $fontSize;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.programsCopyId {
  position: relative;
  top: 4px;
}

.programsListIndicator {
  margin-right: 15px;

  @include md {
    margin-right: 0;
  }
}

.programsListInfoData {
  color: $textColor;
  display: inline-block;
  min-width: 56px;
}

.programsListBtns {
  display: flex;
  flex: 0 1 260px;
  align-items: center;
  justify-content: flex-end;
}

%actionItem {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-size: 0;

  &:hover {
    background: #3d3d3d;
  }
}

.allProgramsItemSendMessage {
  @extend %actionItem;

  padding: 8px 6px;
}

.allProgramsItemUpload {
  @extend %actionItem;

  padding: 9px 5px;
}

.linkInactive {
  @extend .disabled;
  pointer-events: none;
}
