@use 'assets/scss/variables' as *;
@use 'assets/scss/breakpoints' as *;
@use './Animation.scss' as *;

.PageNotFound {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/images/gears-pattern.jpg) no-repeat 50%;
  background-size: 1280px auto;

  .container {
    figure {
      position: relative;
      .img {
        max-width: 500px;
        position: absolute;
        margin-bottom: 70px;
        top: 0;
        left: 50%;
        animation: blink 12s none infinite;
        transition: none;
        transform: translateX(-50%);
        &:first-child {
          position: relative;
          left: 0;
          opacity: 0 !important;
          animation: none;
          transform: translateX(0%);
        }
        &:last-child {
          opacity: 0;
          left: calc(50% + 5px);
          animation: blink2 12s none infinite;
        }
      }
    }
    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .stack {
        display: grid;
        grid-template-columns: 1fr;
        color: $textColor;
        font-size: 21px;
        text-align: center;

        .heading,
        .paragraph {
          grid-row-start: 1;
          grid-column-start: 1;
          --stack-height: calc(100% / var(--stacks) - 1px);
          --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
          --clip-top: calc(var(--stack-height) * var(--index));
          --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
          clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
          animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 120ms),
            glitch 2.8s ease infinite 4s alternate-reverse;
        }
        .paragraph {
          animation-delay: 0.3s;
          &:nth-child(odd) {
            --glitch-translate: 8px;
          }
          &:nth-child(even) {
            --glitch-translate: -8px;
          }
        }
        .heading {
          font-size: 1.5em;
          text-transform: uppercase;
          margin-bottom: 20px;
          &:nth-child(odd) {
            --glitch-translate: 8px;
          }
          &:nth-child(even) {
            --glitch-translate: -8px;
          }
        }
      }
      .link {
        padding: 12px 24px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        background: #3d3d3d;
        border-radius: 2px;
        color: #ffffff;
      }
    }
  }
}
