.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  gap: 16px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: rgba(255, 255, 255, 1);
  }

  p {
    font-size: 16px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
  }
}

