@use 'assets/scss/variables' as *;

.switch {
  display: flex;
  margin-bottom: 25px;
  .caption {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $textColorSecondary;
    font-weight: 300;
    min-width: 200px;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 768px) {
      margin-bottom: 4px;
    }
    @media (min-width: 769px) and (max-width: 1270px) {
      font-size: 16px;
      min-width: 160px;
    }
  }
  .block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    .button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: $textColor;
      padding: 0;
      .img {
        margin-right: 8px;
      }
    }
  }
}
