NETWORKS=mainnet,testnet

MAINNET_ROUTER_ADDRESS=
MAINNET_ETHEREUM_RPC_URL=
MAINNET_PRIVATE_KEY=

TESTNET_ROUTER_ADDRESS=
TESTNET_ETHEREUM_RPC_URL=
TESTNET_PRIVATE_KEY=

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

PORT=3000
WORKER_CONCURRENCY=3
