.highlight {
  margin-right: 8px;
  font-weight: 600;
}

.table {
  display: flex;

  > *:first-child {
    flex: 1;
  }
}

.openButton {
  margin-left: 4px;
  padding: 44px 0;

  display: flex;
  align-items: flex-start;

  background-color: transparent;

  transition: opacity 0.25s;

  &:hover {
    opacity: 0.75;
  }

  svg {
    transform: rotate(90deg);

    path {
      fill: #fff;
    }
  }

  &.open {
    svg {
      transform: rotate(-90deg);
    }
  }
}
