@use 'assets/scss/variables' as *;
@use 'assets/scss/mixins' as *;

.label {
  display: flex;
  color: $textColor;
  cursor: pointer;
}

.input {
  @include square(20px);
  margin-right: 8px;
  appearance: none;
  border: 2px solid #909090;
  border-radius: 2px;
  transition: border-color 0.25s;

  &:checked {
    background: url('/assets/images/check.svg') center no-repeat;
    border-color: $successColor;
  }
}
