:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(57, 36, 20);
  --foreground-80: rgba(57, 36, 20, 0.8);
  --foreground-75: rgba(57, 36, 20, 0.75);
  --foreground-50: rgba(57, 36, 20, 0.5);
  --foreground-30: rgba(57, 36, 20, 0.3);

  --muted: rgb(240, 245, 255);
  --muted-foreground: rgb(110, 115, 125);

  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(57, 36, 20);

  --border: rgb(235, 240, 245);
  --input: rgb(235, 240, 245);

  --card: rgb(255, 255, 255);
  --card-foreground: rgb(57, 36, 20);

  --primary: rgba(168, 245, 147, 1);
  --primary-foreground: rgb(240, 245, 255);

  --secondary: rgb(240, 245, 255);
  --secondary-foreground: rgb(57, 36, 20);

  --accent: rgb(240, 245, 255);
  --accent-foreground: rgb(57, 36, 20);

  --destructive: rgb(255, 0, 0);
  --destructive-foreground: rgb(240, 245, 255);

  --ring: rgb(150, 150, 150);

  --radius: 0.5rem;
}

.dark {
  --background: rgb(0, 0, 0);
  --foreground: rgb(255, 255, 255);
  --foreground-80: rgba(255, 255, 255, 0.8);
  --foreground-75: rgba(255, 255, 255, 0.75);
  --foreground-50: rgba(255, 255, 255, 0.5);
  --foreground-30: rgba(255, 255, 255, 0.3);

  --muted: rgb(50, 50, 50);
  --muted-foreground: rgb(200, 200, 200);

  --popover: rgb(50, 50, 50);
  --popover-foreground: rgb(255, 255, 255);

  --border: rgba(255, 255, 255, 0.16);
  --input: rgb(100, 100, 100);

  --card: rgb(50, 50, 50);
  --card-foreground: rgb(255, 255, 255);

  --primary: rgba(168, 245, 147, 1);
  --primary-foreground: rgb(0, 0, 0);

  --secondary: rgb(50, 50, 50);
  --secondary-foreground: rgb(255, 255, 255);

  --accent: rgb(50, 50, 50);
  --accent-foreground: rgb(255, 255, 255);

  --destructive: rgb(255, 0, 0);
  --destructive-foreground: rgb(0, 0, 0);

  --ring: rgb(100, 100, 100);

  --radius: 0.5rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--foreground-75);
}

body {
  margin: 0;

  scrollbar-width: thin;
  scrollbar-color: #ffffff80 transparent;

  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font: inherit;
}

button {
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font: inherit;
}

w3m-modal {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

#root {
  max-width: 1376px;
  height: 100dvh;
  margin: 0 auto;
  padding: 0 16px;
}

#root,
main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main {
  flex: 1;

  justify-content: space-between;
}

main,
.content {
  /* control nested overflows */
  min-height: 0;
}

.content {
  display: flex;
  flex-direction: column;
}
