@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/mixins' as *;

.input {
  // same as FilterGroup title
  label {
    font-family: Kanit;
    font-size: $fontSizeSmall;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: $gray600;
  }
}

.positioner {
  z-index: 1;
}

.popup {
  max-width: var(--available-width);

  background-color: #242529;
  border-radius: 12px;
  box-shadow:
    inset 0 1px 0 0 #ffffff0d,
    0 20px 76px 0 #000000;

  transform-origin: var(--transform-origin);
  transition:
    opacity 0.1s,
    transform 0.1s;

  overflow: hidden;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.list {
  max-height: min(24rem, var(--available-height));

  display: flex;
  flex-direction: column;
  gap: 16px;

  // padding: 8px;

  overflow-y: auto;
  overscroll-behavior: contain;
}

.group {
  border-radius: 8px;

  &.selected {
    .groupLabel {
      color: $successColor;

      background-color: #233632;

      pointer-events: none;
    }

    .item {
      color: $successColor;

      &:hover {
        background-color: $green007;
      }
    }
  }
}

.groupLabel {
  position: sticky;
  top: 0;

  padding: 8px 8px;
  margin-bottom: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  font-family: Kanit;
  font-size: $fontSizeSmall;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $gray800;

  background-color: #333438;

  .selectAllButton {
    padding: 4px 8px;
    font-size: 10px;
  }
}

.item {
  padding: 4px 8px;

  font-size: 14px;
  color: rgba(#fff, 0.9);

  border-radius: 4px;

  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    background-color: $gray005;
  }

  &[data-selected] {
    background-color: $green100;
    color: $successColor;

    pointer-events: none;
  }
}
