@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/mixins' as *;

%input {
  width: 100%;
  height: 40px;
  padding: 10px 16px;

  color: #fff;

  background-color: #222225;
  border: 1px solid #3a3d4d;
  border-radius: 20px;

  outline: none;

  &:focus-within {
    border-color: #898b94;
  }

  &::placeholder {
    color: #ffffff99;
  }
}

.input {
  @extend %input;
}

// same as FilterGroup title
.label {
  display: block;
  margin-bottom: 8px;

  font-family: Kanit;
  font-size: $fontSizeSmall;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: $gray600;
}

.trigger {
  @extend %input;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: left;

  .placeholder {
    color: #ffffff99;
  }

  .icon {
    transition: rotate 0.25s;
    rotate: 90deg;
  }

  &[data-popup-open] {
    .icon {
      rotate: 270deg;
    }
  }
}

.positioner {
  z-index: 1;
}

.inputContainer {
  padding: 12px 16px;

  background-color: #242529;
}

.popup {
  max-width: var(--available-width);
  min-width: var(--anchor-width);

  z-index: 1;

  background-color: #131416;
  border-radius: 12px;
  box-shadow:
    inset 0 1px 0 0 #ffffff0d,
    0 20px 76px 0 #000000;

  transform-origin: var(--transform-origin);
  transition:
    opacity 0.1s,
    transform 0.1s;

  overflow: hidden;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  &:not([data-empty]) {
    .empty {
      display: none;
    }
  }
}

.list,
.empty {
  border-style: solid;
  border-color: #242529;
}

.list {
  @include customSimplebar;

  max-height: min(24rem, var(--available-height));

  display: flex;
  flex-direction: column;
  gap: 16px;

  border-width: 0 2px;

  overscroll-behavior: contain;
}

.empty {
  padding: 16px;
  text-align: center;

  font-size: 14px;
  color: rgba(#fff, 0.6);

  border-width: 2px;
  border-radius: 12px 12px 0 0;
}

.group {
  border-radius: 8px;

  &.selected {
    .groupLabel {
      color: $successColor;

      background-color: #233632;

      pointer-events: none;
    }

    .item {
      color: $successColor;

      &:hover {
        background-color: $green007;
      }
    }
  }
}

.groupLabel {
  position: sticky;
  top: 0;

  padding: 8px 8px;
  margin-bottom: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  font-family: Kanit;
  font-size: $fontSizeSmall;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $gray800;

  background-color: #242529;

  .selectAllButton {
    padding: 4px 8px;
    font-size: 10px;
  }
}

.item {
  padding: 4px 8px;

  font-size: 14px;
  color: rgba(#fff, 0.9);

  border-radius: 4px;

  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    background-color: $gray005;
  }

  &[data-selected] {
    background-color: $green100;
    color: $successColor;

    pointer-events: none;
  }
}
