@import '../../../../../assets/scss/variables';

.block-list {
  flex: 1;
  padding-bottom: 20px;
}

.block-list__header {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.no-message {
  color: $textColorSecondary;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.block-list__button {
  background-color: $bkgButtonColor;
  border: none;
  border-radius: $borderRadiusBase;
  color: $textColor;
  cursor: pointer;
  padding: 8px 18px 9px;
}

.block-list__button--hidden {
  display: none;
}

.programs-list--short-list {
  height: 234px;
  overflow: hidden;
}

.programs-list__item {
  align-items: center;
  display: flex;
  padding: 23px 0;
  position: relative;
  @media (max-width: 768px) {
    * {
      align-items: unset;
    }
  }

  &::before {
    border-top: 1px solid $separateLineColor;
    content: '';
    display: block;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.programs-list__number {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
  @media (max-width: 768px) {
    & {
      font-size: 14px;
    }
  }
}

.programs-list__name {
  color: $textColor;
  font-size: $fontSizeBase;
  margin-left: 24px;
  @media (max-width: 768px) {
    font-size: 14px;
    word-break: break-all;
    margin-left: 16px;
  }
}

.programs-list__message-btn img {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 21px;
  height: 18px;
}

@media (max-width: 768px) {
  .block-list__header {
    margin-bottom: 16px;
  }
  .block-list__button {
    width: 100%;
  }
}
