@use 'shared/assets/styles/_variables.scss' as *;

.modal {
  width: 460px;
}

.message {
  text-align: center;

  a {
    color: inherit;
  }
}

.logoutButton {
  display: block;
  margin: 32px auto 0;
}
