@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.message {
  text-align: center;

  a {
    color: inherit;
  }
}

.logoutButton {
  display: block;
  margin: toRem(32) auto 0;
  line-height: toRem(16);
  letter-spacing: 0.08em;
}
