@use '@gear-js/ui/breakpoints' as *;
@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toRem(36) toRem(40) toRem(20) toRem(40);
  text-align: center;
  color: $textColorSecondary;

  @include md {
    @include childrenMargin(toRem(32));

    flex-direction: column;
  }
}

.copyright {
  color: $gray600;
  font-size: $fontSize;
  line-height: 1.3;
}
