@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  padding: 20px 0;
  text-align: center;
  color: $textColorSecondary;
  border-top: 1px solid $lineColor;

  @include md {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
