@use '../../assets/styles/variables' as *;
@use '../../assets/styles/utils' as *;

.resets {
  outline: none;
  resize: none;
  background-color: transparent;
  border: none;
}

.wrapper {
  @extend %inputWrapper;
  align-items: flex-start;
}

.textarea {
  @extend .resets;
  @extend %input;

  // using attribute selector instead of :read-only pseudo-class cuz latter selects disabled inputs too
  &[readonly] {
    @extend %readOnlyInputWrapper;
  }
}

.clearButton {
  @extend %clearButton;
}
