@use '../../assets/styles/variables' as *;
@use '../../assets/styles/utils' as *;

.resets {
  font: inherit;
  outline: none;
  resize: none;
  background-color: transparent;
  border: none;
}

.wrapper {
  @extend %inputWrapper;
  align-items: flex-start;

  &.readOnly {
    @extend %readOnlyInputWrapper;
  }

  &:not(.block) {
    max-width: $textareaWidth;
  }
}

.textarea {
  @extend .resets;
  @extend %input;
}

.clearButton {
  @extend %clearButton;
}
