@use '@gear-js/ui/variables' as *;

.item {
  display: flex;
  align-items: center;
  color: $textColor;

  .messageStatus {
    margin-right: 15px;
  }
  
  .messageLink {
    color: $textColorSecondary;
    margin-right: 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

