@use '@gear-js/ui/variables' as *;

.messageItem {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #363636;

  .itemCol {
    display: flex;
    align-items: center;
    color: $textColor;

    &:nth-child(2) {
      flex: 0 2 700px;
    }

    &:nth-child(3) {
      flex: 0 1 200px;
    }

    .messageStatus {
      margin-right: 15px;
    }

    .copyButton {
      margin-left: 5px;
    }

    .messageLink {
      color: $textColorSecondary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
