@use 'src/assets/styles/variables' as *;

.label {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #d2d2d3;
}

.text {
  margin-right: 16px;
}

.wrapper,
.input {
  flex: 1;
}

.wrapper {
  display: flex;
  padding: 10px 16px;
  background-color: #222225;
  border: 1px solid #3a3d4d;
  border-radius: 20px;

  &:focus-within {
    border-color: #898b94;
  }

  &.readOnly {
    border: none;
    background-color: #2b2b2e;
  }
}

.resets {
  @extend .resets;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.input {
  @extend .resets;
  color: $textColor;

  &::placeholder {
    color: #ffffff99;
  }
}

.icon {
  margin-right: 8px;
}

.clearButton {
  margin-left: 8px;
}
