@use '../../assets/styles/variables' as *;
@use '../../assets/styles/utils' as *;

.wrapper {
  @extend %inputWrapper;

  &.readOnly {
    @extend %readOnlyInputWrapper;
  }
}

.resets {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.input {
  @extend .resets;
  @extend %input;
}

.icon {
  margin-right: 8px;
}

.clearButton {
  @extend %clearButton;
}
