@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/mixins' as *;
@use 'shared/assets/styles/mixins' as *;

.header {
  @include transition;
  @include childrenMargin(16px, right);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  &.open {
    color: $successColor;

    .arrow {
      transform: rotate(-90deg);

      path {
        fill: $successColor;
      }
    }
  }
}

.arrow {
  @include transition;
  transform: rotate(90deg);
}
