.positioner {
  z-index: 2;
}

.popup {
  padding: 16px;

  background-color: #2b2b2e;
  border-radius: 20px;

  transform-origin: var(--transform-origin);
  transition:
    transform 0.25s,
    opacity 0.25s;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.input {
  // TODO: fix in ui kit
  > div > div:first-child {
    align-items: center;
  }

  input {
    cursor: pointer;
  }

  cursor: pointer;
}

.calendar {
  text-align: center;
  position: relative;

  .heading {
    display: inline-block;

    margin-bottom: 16px;

    font-family: Kanit;
    font-size: 16px;
    font-weight: 600;
  }

  .button {
    &Prev,
    &Next {
      position: absolute;
      top: 4px;

      background-color: transparent;
    }

    &Prev {
      left: 0;
    }

    &Next {
      right: 0;
    }

    &Icon {
      width: 16px;
      height: 16px;

      fill: #fff;
    }
  }

  .weekdays {
    font-family: Kanit;
    font-weight: 600;
    color: #bcbcbcb2;
  }

  .month {
    margin: 0 auto;

    border-collapse: separate;
    border-spacing: 0 2px;
  }

  .day {
    width: 24px;
    height: 24px;

    &Button {
      display: block;

      width: 100%;
      height: 100%;

      font-family: Kanit;
      font-size: 12px;
      color: #fff;

      background-color: transparent;
      border-radius: 50%;
    }

    &Outside {
      .dayButton {
        color: #bcbcbcb2;
      }
    }

    &Start,
    &End {
      border-radius: 50%;

      .dayButton {
        background-color: #2bd07180;
      }
    }

    &Start,
    &Middle,
    &End {
      background-color: #2bd07133;
    }

    &Start:not(:last-child),
    &Selected:first-child:not(&End) {
      border-radius: 50% 0 0 50%;
    }

    &End:not(:first-child),
    &Selected:last-child:not(&Start) {
      border-radius: 0 50% 50% 0;
    }
  }

  .dayStart.dayEnd {
    background-color: transparent;
  }
}
