@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/variables' as *;

.fieldWrapper {
  position: relative;
  margin-bottom: 1.25rem;
}

.field {
  align-items: stretch;
  flex-direction: column;

  & > span {
    @include heading($fontSizeSmall, 1.3);

    font-weight: 700;
    margin-right: 0;
    margin-bottom: 0.625rem;
  }
}

.fieldError {
  position: absolute;
  left: 0;
  bottom: -1.125rem;
  color: $errorColor;
  font-size: $fontSizeSmall;
}