@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.caption {
  font-family: 'Kanit';
  font-weight: 600;
  font-size: toRem(20);
  line-height: 1.5;
  color: $textColor;
  text-transform: capitalize;
}

.sectionList {
  @include childrenMargin(toRem(10))
}