.container {
  border-radius: 2px;
  font-size: 11px;
}

.default {
  padding: 3.5px 12px;
  line-height: 12px;
}

.sm {
  padding: 2.5px 8px;
  line-height: 1;
}

.primary {
  color: rgba(168, 245, 147, 1);
  background: rgba(168, 245, 147, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.secondary {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.danger {
  color: rgba(247, 58, 61, 1);
  background: rgba(247, 58, 61, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.16);
}
