.keyring__address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.keyring__icon {
  padding-top: 5px;
  cursor: copy;
}

.keyring__textArea {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px dotted #0e0e0e;
  border-radius: 2px;
  display: flex;
  min-height: 80px;
  justify-content: center;
  padding: 20px 15px;
}

.keyring__details {
  font-size: 1.25em;
  padding: 0px;
  margin: 20px 10px;
}

@media (max-width: 768px) {
  .keyring__details {
    font-size: 1em;
  }
}

.keyring__help-container {
  color: #858585;
  font-size: 12px;
  text-align: left;
  display: flex;
  padding: 5px 0;
}

.keyring__warning {
  background: #eccf71;
  border-color: #ffc40c;
  color: #222;
  font-size: 12px;
  border: 2px solid #ffc40c;
  border-left: -29px;
  padding: 10px;
  margin: 20px 0;
}

.keyring__copy {
  padding: 10px;
}

.keyring__key {
  width: 100%;
}

.keyring__key-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
  width: 100px;
  position: relative;
}

.keyring__key-type__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.keyring__copy-button {
  padding-top: 5px;
  cursor: copy;
}

.keyring__action-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.keyring__action-btn {
  padding: 12px 24px;
  background: #2bd071;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.keyring__action-btn:disabled {
  color: #ffffff;
  background: #3d3d3d;
}

.keyring__saveToggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0;
}

.keyring__saveToggle-checkbox {
  margin: 5px;
}

.password-form form {
  background: #212121;
  border: 1px dashed #0e0e0e;
  border-radius: 2px;
  padding: 28px 70px 28px 32px;
  margin: 40px;
}

.password--wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 90px;
}

.password-form--col {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.password-form--info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.password-form--col:first-child .meta-form--info:first-child {
  display: none;
}

.password-form--info:last-child {
  margin-bottom: 0;
}

.password-form__field {
  color: #858585;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  min-width: 100px;
}

.password-form--info input {
  padding: 10px 16px;
  background: #000000;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  height: 38px;
  min-height: 38px;
}

.password-form--info input::placeholder {
  color: #8b8b8b;
}

.password-form__error {
  color: #995757;
  font-weight: normal;
  font-size: 12px;
}