@use 'assets/scss/variables' as *;

.link {
  margin-bottom: 10px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: $successColor;
  border-radius: 2px;
  transition: 0.25s all;

  &:hover {
    background-color: #12582f;
  }
}

.icon {
  width: 15px;
  margin-right: 10px;
}
