.progress-bar {
  background-color: #373c39;
  width: 100%;
  height: 1px;
}

.progress-bar.green {
  background-color: #2bd071;
}

.progress-bar__indicator {
  animation: progress_line 20s linear 1;
  background-color: #2bd071;
  height: 100%;
}

@keyframes progress_line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
