@use '@/shared/assets/styles/_mixins.scss' as *;
@use '@/shared/assets/styles/_shared.scss' as *;
@use '@/shared/assets/styles/_variables.scss' as *;
@use '@/shared/assets/styles/_animations.scss' as *;

.form {
  padding: toRem(16) toRem(24);
  background: linear-gradient(0deg, $indigo005, $indigo005), $bgColorSecondary;
  box-shadow: 0px 4px 4px $bgColor;
  border-radius: 16px;
}

.mainFilters {
  @include childrenMargin($marginMedium);

  margin-top: $margin;

  .filtersGroup {
    @include childrenMargin($marginSmall);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
