@use '@gear-js/ui/headings' as *;
@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/mixins' as *;

.heading {
  @extend %h4;
  margin-bottom: 16px;
  font-weight: 400;
  color: $gray800;
}

.wrapper {
  @include childrenMargin(32px);
}

.functions {
  @include childrenMargin(24px);
}

.uploadFileButton {
  margin-top: 24px;
}
