.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.balance {
  margin-top: 8px;

  display: flex;
  gap: 8px;

  .text {
    font-family: Kanit;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
}
