%headingFont {
  font-family: Kanit, sans-serif;
}

@mixin heading($size: 14px, $height: 21px, $weight: 400) {
  @extend %headingFont;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

%h1 {
  @include heading(72px, 86px, 700);
}

%h2 {
  @include heading(40px, 48px, 700);
}

%h3 {
  @include heading(28px, 31px, 600);
}

%h4 {
  @include heading(24px, 32px, 600);
}

%h5 {
  @include heading(20px, 24px, 600);
}
