@use './variables' as *;

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('./fonts/poppins-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./fonts/poppins-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('./fonts/poppins-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('./fonts/poppins-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('./fonts/poppins-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Kanit';
  font-weight: 300;
  src: url('./fonts/kanit-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Kanit';
  font-weight: 400;
  src: url('./fonts/kanit-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Kanit';
  font-weight: 500;
  src: url('./fonts/kanit-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Kanit';
  font-weight: 600;
  src: url('./fonts/kanit-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Kanit';
  font-weight: 700;
  src: url('./fonts/kanit-700.woff2') format('woff2');
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: $fontSize;
  color: $textColor;
}
