// color

$successColor: #2bd071;
$errorColor: #f24a4a;
$tertiaryColor: #3975e9;

$textColor: #fff;
$textColorSecondary: #858585;

$bgColor: #282828;
$lineColor: #333333;

// button color

$buttonColor: $successColor;
$buttonColorHover: #12582f;

$buttonColorSecondary: #373737;
$buttonColorSecondaryHover: $textColorSecondary;

$buttonColorTertiary: $tertiaryColor;
$buttonColorTertiaryHover: #2955ab;

// font

$fontSizeSmall: 12px;
$fontSize: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 21px;

// size

$borderRadius: 20px;
