// color

$successColor: #2bd071;
$errorColor: #f24a4a;
$tertiaryColor: #3975e9;

$textColor: #fff;
$textColorSecondary: #858585;

$bgColor: #282828;
$lineColor: #333333;

// button color

$buttonColor: $successColor;
$buttonColorHover: #168b4e;

$buttonColorSecondary: #1852ff;
$buttonColorSecondaryHover: #1443cf;

$buttonColorLight: #ffffff1a;
$buttonColorLightHover: #ffffff4d;

$buttonColorLightGreen: #2bd0711a;
$buttonColorLightGreenHover: #2bd0714d;

$buttonColorGradient: linear-gradient(87.17deg, #2bd071 53.13%, #1852ff 85.01%);
$buttonColorGradientHover: linear-gradient(87.17deg, #1852ff 10.42%, #2bd071 79.17%);

// font

$fontSizeSmall: 12px;
$fontSize: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 21px;

// size

$borderRadius: 16px;
$borderRadiusMedium: 20px;
$borderRadiusLarge: 24px;
$inputWidth: 450px;
$textareaWidth: 600px;

//

$borderModalWidth: 2px;
$borderModalColor: rgba($successColor, 0.5);
$borderModal: $borderModalWidth solid $borderModalColor;
