@use 'sass:math';

@mixin flexGap($y, $x: null) {
  // something to think of:
  // prolly we can specify sides as a single parameter, since '0 20px' is a sass:list variable
  $yHalf: math.div($y, 2);
  $xHalf: if($x != null, math.div($x, 2), $yHalf);

  margin: -#{$yHalf} -#{$xHalf};

  & > * {
    padding: $yHalf $xHalf;
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}
