@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;

.programsList {
  position: relative;
  margin-top: toRem(16);
  
  .simpleBar {
    @include customSimplebar;

    // TODO: fix this
    height: calc(66vh);

    :global(.simplebar-content) {
      @include childrenMargin(toRem(12));

      margin-right: toRem(15);
    }
  }
}