@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.programsList {
  position: relative;
  margin-top: 16px;
  
  .simpleBar {
    @include customSimplebar;

    height: calc($contentHeight - toRem(31.19) - 16px);

    :global(.simplebar-content) {
      @include childrenMargin(toRem(12));

      margin-right: toRem(15);
    }

    &.noOverflow {
      overflow: hidden;
    }
  }
}