@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/shared' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  .name {
    flex: 1 1;
    overflow-wrap: anywhere;
    color: $textColor;
    font-size: 28px;
    font-family: 'Kanit';
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  .links {
    @include childrenMargin($marginMedium, right);
    white-space: nowrap;
    margin-left: auto;

    .fixWidth {
      min-width: toRem(180);
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
}
