@import '../../assets/scss/variables.scss';

.program-details{
    display: flex;
    flex-direction: column;   
    background: rgba(0, 0, 0, 0.05);
    border: 1px dashed #0E0E0E;
    border-radius: 2px;
    margin-bottom: 40px;

    &__header{
        color: white;
        font-size: $fontSizeLarge;
        font-weight: 600;
        padding: 32px;
    }
    
    &__download{
        position: relative;
        overflow: hidden;
    }
    &__progress{
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        left: -777px;
    }
    &__progress-bar{
      overflow: hidden;
      background: rgba(43, 208, 113, 1);
      width: 65%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__progress-value{
      color: #333;
      display: block;
      line-height: 21px;
      text-align: center;
    }
    &__progress-bg{
      background: rgba(235, 239, 242, 0.1);;
      position: relative;
      height: 2px;
      border-radius: 5px;
      overflow: hidden;
    }
    &__wrapper{
      padding: 32px;
        display: grid;
        grid-template-areas:
        "post-1 post-2"
        "post-3 post-3";
        grid-template-rows: repeat(2,auto);
        grid-template-columns: repeat(2, 1fr);

    }
    &__value{
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 310px;
      height: 38px;
      background: #000000;
      font-style: normal;
      font-weight: normal;
      //font-size: 21px;
      line-height: 130%;
      color: #E0E0E0;
      font-size: 14px;
      padding:0 16px;
    }
    &__info{
      display: flex;
      margin-bottom: 16px;
    }
    &__field{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      color:$textColorSecondary;
      font-weight: 300;
      min-width: 200px;
      //font-size: 21px;//в макете кажется наглая ложь
      line-height: 130%;
    }
    &__filename{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: transparent;
  }
  &__upload{
    background: #2BD071;
    opacity: 0.2;
    box-shadow: 0px 0px 24px rgba(43, 208, 113, 0.12);
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
    padding: 12px 24px;
    margin: 32px;
  }
  &__cancel{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
  }
    
}

