@use '@gear-js/ui/variables' as *;

.fields {
  color: $textColor;
  padding: 10px 15px;
  background-color: $bgColor;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
}
