@use 'src/assets/styles/variables' as *;
@use 'src/assets/styles/mixins' as *;

.button {
  @include transition();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: $textColor;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.block {
  width: 100%;
}

.normal {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;

  .icon {
    margin-right: 16px;
  }
}

.small {
  padding: 8px 16px;
  font-weight: 500;

  .icon {
    margin-right: 10px;
  }
}

.noText {
  padding: 10px 12px;
}

.primary {
  background-color: $successColor;

  &:hover {
    background-color: #12582f;
  }
}

.secondary {
  background-color: #373737;

  &:hover {
    background-color: $textColorSecondary;
  }
}

.transparent {
  padding: 0;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }
}
