@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.resets {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.button {
  @extend .resets;
  @include transition();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  border-radius: $borderRadius;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.block {
  width: 100%;
}

.noWrap {
  white-space: nowrap;
}

.normal {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;

  .icon {
    margin-right: 16px;
  }
}

.small {
  padding: 8px 16px;
  font-weight: 500;

  .icon {
    margin-right: 10px;
  }
}

.noText {
  padding: 10px 12px;
}

.primary {
  background-color: $buttonColor;

  &:hover {
    background-color: $buttonColorHover;
  }
}

.secondary {
  background-color: $buttonColorSecondary;

  &:hover {
    background-color: $buttonColorSecondaryHover;
  }
}

.tertiary {
  background-color: $tertiaryColor;

  &:hover {
    background-color: $buttonColorTertiaryHover;
  }
}

.transparent {
  padding: 0;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }
}
