@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/headings' as *;

.resets {
  border: none;
  cursor: pointer;
}

.button {
  @extend .resets;
  @extend %headingFont;
  @include transition();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  border-radius: 24px;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.block {
  width: 100%;
}

.noWrap {
  white-space: nowrap;
}

.large {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  .icon {
    margin-right: 10px;
  }
}

.medium {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  .icon {
    margin-right: 10px;
  }
}

.small {
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;

  .icon {
    margin-right: 6px;
  }
}

.noText {
  padding: 10px 12px;
}

.primary {
  background-color: $buttonColor;

  &:hover {
    background-color: $buttonColorHover;
  }
}

.secondary {
  background-color: $buttonColorSecondary;

  &:hover {
    background-color: $buttonColorSecondaryHover;
  }
}

.light {
  color: #bcbcbc;
  background-color: $buttonColorLight;

  &:hover {
    background-color: $buttonColorLightHover;
  }
}

.lightGreen {
  color: $successColor;
  background-color: $buttonColorLightGreen;

  &:hover {
    background-color: $buttonColorLightGreenHover;
  }
}

.gradient {
  background-image: $buttonColorGradient;
  position: relative;
  z-index: 1;

  &::before {
    @include transition();
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-image: $buttonColorGradientHover;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.transparent {
  padding: 0;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }
}
