@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/variables' as *;

.timerSection {
  display: flex;
  align-items: center;
  flex-direction: column;

  .timeUnit {    
    @include heading(0.5rem, 1.3125rem);
  }  
}

.clockFace {
  display: flex;

  .timeValue {
    width: 1.75rem;
    color: $bgColor;
    padding: 0.0625rem 0;
    text-align: center;
    font-size: 1.125rem;
    line-height: 2rem;
    box-shadow: inset 1px 1px 2px rgba(40, 40, 40, 0.5);
    background: $textColor;
    backdrop-filter: blur(5px);
    border-radius: $borderRadius;

    &:not(:last-child) {
      margin-right: 0.1875rem;
    }
  }
}