@use '@gear-js/ui/mixins' as *;
@use '@gear-js/ui/headings' as *;

%text {
  @extend %headingFont;
  color: #333;
  letter-spacing: 0.08em;
  line-height: 21px;
  font-weight: 300;
}

.turnPlayer,
.turnCounter {
  @extend %text;
}

.turnPlayer {
  max-width: 130px;
  display: flex;
  margin-bottom: 22px;
  display: flex;
  align-items: center;

  &::before {
    @include circle(8px);
    content: '';
    margin-right: 8px;
    flex-shrink: 0;
  }

  &.pink {
    &::before {
      background-color: #e1147b;
    }
  }

  &.purple {
    &::before {
      background-color: #9b51e0;
    }
  }

  &.green {
    &::before {
      background-color: #27ae60;
    }
  }

  &.yellow {
    &::before {
      background-color: #f4c34e;
    }
  }
}

.player {
  margin-right: 8px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading {
  @extend %headingFont;
  font-size: 21px;
  font-weight: 400;

  text-transform: uppercase;
}

.disk {
  @include circle(380px);
  margin-bottom: 25px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;

  border: 1px solid #fff;
  background-image: linear-gradient(
      139.59deg,
      rgba(225, 20, 123, 0.1) 14.53%,
      rgba(171, 20, 168, 0.024) 38.84%,
      rgba(120, 20, 210, 0.024) 62.41%,
      rgba(83, 20, 241, 0.1) 85.24%
    ),
    radial-gradient(50% 50% at 50% 50%, #d1f9d8 50.52%, #dcf8e8 69.79%, #dff5ee 85.94%, #e2f2f1 95.31%);
  box-shadow: 0px 0px 40px 0px #ffffff80 inset, 0px 0px 24px 0px #ff45811a;

  > *:not(:last-child) {
    margin-bottom: 28px;
  }
}

.roll {
  @include circle(160px);
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #000;
  font-family: Poiret One;
  font-size: 72px;
  letter-spacing: 0.08em;
  display: flex;
  justify-content: center;
  align-items: center;
}
