@font-face {
  font-family: Anuphan;
  font-weight: 100;
  src: url('./fonts/anuphan-thin.woff2') format('woff2');
}

@font-face {
  font-family: Anuphan;
  font-weight: 200;
  src: url('./fonts/anuphan-extra-light.woff2') format('woff2');
}

@font-face {
  font-family: Anuphan;
  font-weight: 300;
  src: url('./fonts/anuphan-light.woff2') format('woff2');
}

@font-face {
  font-family: Anuphan;
  font-weight: 400;
  src: url('./fonts/anuphan-regular.woff2') format('woff2');
}

@font-face {
  font-family: Anuphan;
  font-weight: 500;
  src: url('./fonts/anuphan-medium.woff2') format('woff2');
}

@font-face {
  font-family: Anuphan;
  font-weight: 600;
  src: url('./fonts/anuphan-semi-bold.woff2') format('woff2');
}

@font-face {
  font-family: Anuphan;
  font-weight: 700;
  src: url('./fonts/anuphan-bold.woff2') format('woff2');
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: Anuphan, sans-serif;

  margin: 0;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
svg {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
