.container {
  min-height: 0; // syntax highlighter overflow

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  border: 1px solid rgba(41, 41, 41, 1);
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.card {
  padding: 24px;

  // syntax highlighter overflow
  min-height: 0;
  display: flex;
  flex-direction: column;

  &:first-child {
    border-right: 1px solid rgba(41, 41, 41, 1);
  }
}

.emptyState {
  margin: auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
