@use '@gear-js/ui/headings' as *;
@use '@/shared/assets/styles/variables' as *;

.wrapper {
  display: grid;
  grid-template-columns: 7.75fr 2.25fr;
  gap: 0 32px;
  align-items: flex-start;

  > * {
    &:nth-child(2) {
      // state
      order: 1;
    }

    &:nth-child(4) {
      // functions
      order: 2;
    }
  }
}

.heading {
  @extend %h4;
  margin-bottom: 32px;
  color: $gray800;
}
