@use '@gear-js/ui/headings' as *;
@use 'shared/assets/styles/variables' as *;
@use 'shared/assets/styles/mixins' as *;

.state {
  display: grid;
  gap: 16px 32px;
  align-items: flex-start;

  &Wasm {
    grid-template-columns: 7fr 3fr;
  }
}

.heading {
  @extend %h4;
  color: $gray800;
}

.buttonsHeading {
  @extend %h5;
  color: $gray800;
  margin-bottom: 20px;
}

.buttons {
  @include childrenMargin(16px, right);
  display: flex;

  > *:first-child {
    width: auto;
  }
}
