@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.heading {
  @extend %h2;
  margin-bottom: 30px;
  text-align: center;
}

.listing {
  display: grid;
  grid-template-columns: 2.5fr 5fr 2.5fr;
  gap: 30px;
  margin-bottom: 60px;
}

.main {
  flex: 1;
}

.imgWrapper {
  margin-bottom: 30px;
  padding: 65px 70px;
  background-image: linear-gradient(122.79deg, rgba(255, 255, 255, 0) 18.08%, rgba(255, 255, 255, 0.05) 74.41%);
  border-radius: $borderRadius;
}

.image {
  // prolly img-fluid
  width: 100%;
  max-width: 450px;

  display: block;
  margin: 0 auto;
  border-radius: $borderRadius;
}

.buttons {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 30px;
  }
}

.text {
  font-size: $fontSizeMedium;
}
