@use '@gear-js/ui/variables' as *;

.offer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & > *:not(:last-child) {
    margin-right: 30px;
  }
}

.info {
  overflow: hidden;
}

.bid,
.bidder {
  font-size: $fontSizeMedium;
}

.bid {
  font-weight: 600;
}

.bidder {
  overflow: hidden;
  text-overflow: ellipsis;
}

// .time {
//   color: $textColorSecondary;
// }
