@use '@gear-js/ui/variables' as *;

.item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 1px solid $separateLineColor;
  padding: 23px 0;
  position: relative;
}

.body {
  margin-top: 15px;
  padding-left: 30px;
}

.text {
  font-size: $fontSize;
  font-weight: 400;
  color: $textColorSecondary;
}
