.root {
  &.disabled {
    cursor: not-allowed;

    * {
      pointer-events: none;
    }

    .fieldset {
      background-color: #eceded;
      border-color: #d0d5dd;
    }

    .input:disabled {
      cursor: not-allowed;
    }

    .input,
    .label {
      color: #58696e80;
    }
  }
}

.base {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;

  &.default {
    padding: 14px 14px;
  }

  &.medium {
    padding: 9px 14px;
  }

  &.small {
    padding: 6px 14px;
  }
}


.input {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font: inherit;

  &:-webkit-autofill {
    background-clip: text; // transparent background on autocomplete
  }

  // hide number input buttons
  // chrome
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  // firefox
  &[type='number'] {
    appearance: textfield;
  }

  &:not(:focus) {
    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    color: #58696e;
  }

  &:focus,
  &:not(:placeholder-shown) {
    ~ .label {
      opacity: 0;
    }

    ~ .fieldset {
      .legendLabel {
        opacity: 1;
        max-width: 100%;
        padding: 0 4px;
      }
    }
  }

  &:focus {
    ~ .fieldset {
      border-color: #53eece;


      .legendLabel {
        color: #53eece;
      }
    }
  }

  &.error {
    ~ .label {
      color: #ff3231cc;
    }

    ~ .fieldset {
      border-color: #ff3231cc;

      .legendLabel {
        color: #ff3231cc;
      }
    }
  }
}

.label {
  pointer-events: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input,
.label {
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  &.default {
    font-size: 16px;
  }

  &.medium {
    font-size: 16px;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
  }
}

.fieldset {
  min-width: 0;
  margin: 0;
  padding: 0 13px;
  pointer-events: none;

  position: absolute;
  /* TODO: variables */
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px 0 #1018280d;
}

.legend,
.message {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.legend {
  opacity: 0;
  max-width: 0.01px;
  height: 1em;
  padding: 0;
  color: #313635;
}

.message {
  margin: 4px 0 0 0;
  color: #ff3231cc;
}

.block {
  width: 100%;
}

:global(.dark-theme) {
  .root {
    &.disabled {
      .fieldset {
        background-color: #282c301a;
        border-color: #ffffff0a;
      }

      .input,
      .label {
        color: #9cacb166;
      }
    }
  }

  .fieldset {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0 1px 2px 0 #1018280d;
  }

  .label,
  .input {
    color: #828b8e;
  }

  .input {
    color: #f6f6f6e5;

    &:focus::placeholder {
      color: #828b8e;
    }

    &:focus {
      ~ .fieldset {
        border-color: #0fa885;

        .legendLabel {
          color: #0fa885;
        }
      }
    }

    &.error {
      ~ .label {
        color: #d73b4f;
      }

      ~ .fieldset {
        border-color: #d73b4f;

        .legendLabel {
          color: #d73b4f;
        }
      }
    }

    .message {
      color: #d73b4f;
    }
  }
}
