@use '../../utils.scss' as *;

.icon {
  width: var(--input-line-height);
  height: var(--input-line-height);
}

.input {
  @include lightDark(color, #000, rgba(246, 246, 246, 0.9));

  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: var(--input-font-size);
  font-weight: 400;
  line-height: var(--input-line-height);

  &:-webkit-autofill {
    background-clip: text; // transparent background on autocomplete
  }

  // hide number input buttons
  // chrome
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  // firefox
  &[type='number'] {
    appearance: textfield;
  }

  &:not(:disabled)[aria-invalid='true'] {
    @include lightDark(color, #ff3231, #ff3757);
  }

  &:disabled,
  &:disabled::placeholder {
    @include lightDark(color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));
  }

  &::placeholder {
    @include lightDark(color, #58696e, #828b8e);
  }
}
