@use '../../utils.scss' as *;

.root {
  &.disabled {
    pointer-events: none;
  }
}

.base {
  display: flex;
  align-items: center;
  gap: 8px;

  box-shadow: 0px 1px 2px 0px #1018280d;

  position: relative;

  &.large {
    padding: 15px 14px;
  }

  &.medium {
    padding: 10px 14px;
  }

  &.small {
    padding: 6px 14px;
  }

  &:has(:disabled) {
    @include lightDark(background-color, #eceded, rgba(40, 44, 48, 0.1));
  }
}

.input,
.label {
  @include lightDark(color, #000, rgba(246, 246, 246, 0.9));

  font-weight: 400;

  &.large {
    font-size: 16px;
    line-height: 22px;
  }

  &.medium {
    font-size: 16px;
    line-height: 22px;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
  }
}

.input {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font: inherit;

  &:-webkit-autofill {
    background-clip: text; // transparent background on autocomplete
  }

  // hide number input buttons
  // chrome
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  // firefox
  &[type='number'] {
    appearance: textfield;
  }

  &:not(:focus) {
    &::placeholder {
      color: transparent;
    }
  }

  &:focus,
  &:not(:placeholder-shown) {
    ~ .label {
      opacity: 0;
    }

    ~ .fieldset {
      .legendLabel {
        opacity: 1;
        max-width: 100%;
        padding: 0 4px;
      }
    }
  }

  &:not(:disabled) {
    &:focus {
      ~ .fieldset {
        @include lightDark(border-color, #53eece, #0ea886);

        .legendLabel {
          @include lightDark(color, #53eece, #0ea886);
        }
      }
    }

    &.error {
      ~ .label {
        @include lightDark(color, #ff3231, #d73b4f);
      }

      ~ .fieldset {
        @include lightDark(border-color, #ff3231, #d73b4f);

        .legendLabel {
          @include lightDark(color, #ff3231, #d73b4f);
        }
      }
    }
  }

  &:disabled {
    @include lightDark(color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));

    ~ .label {
      @include lightDark(color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));
    }

    ~ .fieldset {
      .legendLabel {
        @include lightDark(color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));
      }
    }
  }
}

.label {
  pointer-events: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fieldset {
  @include lightDark(border, 1px solid #d0d5dd, 1px solid rgba(255, 255, 255, 0.04));

  min-width: 0;
  margin: 0;
  padding: 0 13px;
  pointer-events: none;

  position: absolute;
  /* TODO: variables */
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 4px;
}

.legend,
.message {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;
}

.legend {
  opacity: 0;
  max-width: 0.01px;
  height: 1em;
  padding: 0;

  color: #313635;
}

.message {
  @include lightDark(color, #ff3231, #d73b4f);

  margin: 4px 0 0 0;

  &.disabled {
    @include lightDark(color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));
  }
}

.block {
  width: 100%;
}
