<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gear WebSockets</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <main id="v-app">
      <section class="chat">
        <h1>Gear WebSockets Test</h1>
        Authorization Token (Bearer)
        <input
          type="text"
          name="jwt"
          ref="token"
          v-on:change="jwtTokenChange()"
        />
        <button @click.prevent="connect()">Connect</button>
        <p>
          <button @click.prevent="getTotalIssuance()">Total Issuance</button>
          <b><span>{{totalIssuance}} </span></b>
        </p>

        <p>
          <button @click.prevent="balanceTransfer()">Update balance</button>
        </p>
        <p>
          <button @click.prevent="addMeta()">Add meta</button>
        </p>
        <div class="message">
          <h3>Message</h3>

          destination
          <input type="text" ref="destination" /><br />
          payload:
          <input type="text" name="mespayload" ref="messagePayload" />
          <br />
          gas_limit:
          <input type="number" ref="messageGasLimit" /> <br />
          value:
          <input type="number" name="mesvalue" ref="messageValue" /><br />

          <button type="submit" @click.prevent="getGasSpent()">
            Get GasSpent
          </button>
          <button type="submit" @click.prevent="getPayloadType()">
            Get Payload Type
          </button>
          <button type="submit" @click.prevent="sendMessage()">
            Send Message
          </button>
        </div>

        <div style="width: 100%">
          <div class="blocks" style="width: 40%; float: left">
            <h3>Blocks</h3>
            <button @click.prevent="subscribeNewBlocks()">Subscribe</button
            ><br />
            <button @click.prevent="subscribeEvents()">Subscribe Events</button>
            <hr />
            <ul>
              <li v-for="block of blocks">
                <strong>number: {{ block.number }} </strong> <br />
                hash: {{ block.hash }}
              </li>
            </ul>
          </div>

          <div class="programs" style="margin-left: 50%">
            <h3>Programs</h3>
            Program:
            <input
              type="file"
              accept="application/wasm"
              name="wasm"
              ref="file"
              v-on:change="handleFileUpload()"
            /><br />
            MetaWasm:
            <input
              type="file"
              accept="application/wasm"
              name="metaWasm"
              ref="meta"
            /><br />
            Gas Limit: <input type="number" ref="gasLimit" /> <br />
            Initial Value:
            <input type="number" name="value" ref="value" /><br />
            Initial Payload:
            <input type="text" name="payload" ref="payload" />
            <br />
            Init Type:
            <input type="text" name="initType" ref="initType" />
            <br />
            Incomnig Type:
            <input type="text" name="incoming" ref="incoming" />
            <br />
            Expected Type:
            <input type="text" name="excpected" ref="expected" />
            <br />
            <button type="submit" @click.prevent="sendWasm()">Send</button>
            <hr />
            <ul>
              <li v-for="program of programs">
                <strong>{{ program.status }}</strong>
                <br />
                programHash: {{ program.programHash }} <br />
                blockHash: {{ program.blockHash }}
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <script>
      Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
      var app = new Vue({
        el: '#v-app',
        data: {
          file: '',
          blocks: [],
          programs: [],
          token: '',
          totalIssuance: '',
          socket: null,
        },
        methods: {
          connect() {
            console.log('connecting');
            this.socket = io('http://localhost:3000/api/ws', {
              query: { Authorization: this.token },
            });
            this.socket.on('message', (event) => {
              console.log(event);
            });
          },
          jwtTokenChange() {
            this.token = this.$refs.token.value;
          },
          subscribeNewBlocks() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              method: 'blocks.newBlocks',
              id: 1,
            });
          },
          subscribeEvents() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              method: 'events.subscribe',
              id: 1343,
            });
          },
          getTotalIssuance() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              method: 'system.totalIssuance',
              id: 2,
            });
          },

          recieveNewBlock(block) {
            this.blocks.push(block);
          },

          recieveNewProgram(program) {
            this.programs.push(program);
          },

          recieveTotalIssuance(total) {
            this.totalIssuance = total.totalIssuance;
          },

          sendWasm() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              id: 3,
              method: 'program.upload',
              params: {
                file: this.file,
                filename: this.file.name,
                meta: this.$refs.meta.files[0],
                gasLimit: this.$refs.gasLimit.value,
                value: this.$refs.value.value,
                initPayload: this.$refs.payload.value,
                initType: this.$refs.initType
                  ? this.$refs.initType.value
                  : undefined,
                incomingType: this.$refs.incoming
                  ? this.$refs.incoming.value
                  : undefined,
                expectedType: this.$refs.expected
                  ? this.$refs.expected.value
                  : undefined,
              },
            });
          },
          sendMessage() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              id: 3,
              method: 'message.send',
              params: {
                destination: this.$refs.destination.value,
                payload: this.$refs.messagePayload.value,
                gasLimit: this.$refs.messageGasLimit.value,
                value: this.$refs.messageValue.value,
              },
            });
          },
          getGasSpent() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              id: 1231,
              method: 'message.gasSpent',
              params: {
                destination: this.$refs.destination.value,
                payload: this.$refs.messagePayload.value,
              },
            });
          },
          getPayloadType() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              id: 1232,
              method: 'message.payloadType',
              params: {
                destination: this.$refs.destination.value,
              },
            });
          },
          balanceTransfer() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              id: 3,
              method: 'balance.transfer',
              params: {
                value: 999999999999,
              },
            });
          },
          handleFileUpload() {
            this.file = this.$refs.file.files[0];
          },
          addMeta() {
            this.socket.emit('message', {
              jsonrpc: '2.0',
              id: 3456,
              method: 'program.addMeta',
              params: {
                name: 'test',
                hash: '0xd9fcd569df5b048f34fe24bfd09a39b3482490e6422a01f984aa29bfcc2',
                incomingType: 'String',
                expectedType: 'String',
                meta: null
              }
            })
          }
        },
      });
    </script>
  </body>
</html>
