@use '@gear-js/ui/variables' as *;
@use 'assets/scss/animations.scss' as *;

.tooltip {
  display: inline-block;
  position: relative;
  font-size: 0;
  cursor: pointer;
}

.content {
  @include fade();

  position: absolute;
  text-align: center;
  z-index: 5;
  left: 0;
  bottom: 0;
  color: $textColor;
  padding: 10px 20px;
  font-size: $fontSize;
  white-space: pre;
  transform: translateY(calc(100% + 8.5px));
  border-radius: $borderRadius;
  background: #3D3D3D;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}
