@use 'assets/scss/variables' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $desktopSidesMargin;
  padding: 20px 0;
  color: $textColorSecondary;
  border-top: 1px solid $separateLineColor;
}
