.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header,
.adminsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  .heading {
    font-family: Kanit;
    font-size: 28px;
    font-weight: 700;
    line-height: 30.8px;
    letter-spacing: 0.01em;
  }

  .buttons {
    display: flex;
    gap: 16px;
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.admins {
  &Header {
    margin-bottom: 16px;
  }

  &Heading {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    color: rgba(255, 255, 255, 0.6);
  }
}
