@use '@/shared/assets/styles/mixins' as *;

.form {
  @include childrenMargin(24px);
}

.radios {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
