.editor-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #181818;
  overflow: hidden;
}

.main {
  padding-bottom: 0;
}

.editor-content {
  margin: 24px 40px 0 40px;
  background: #212121;
  border: 1px dashed #0e0e0e;
  border-radius: 2px;
  position: relative;
  height: 100%;
}

.editor-panel {
  padding: 24px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor-panel--form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}

.editor-panel--form__label {
  font-weight: 300;
  font-size: 21px;
  line-height: 130%;
  color: #858585;
}

.editor-panel--form__input {
  padding: 10px 16px;
  height: 38px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  width: 400px;
  background: #000;
  outline: none;
  border: none;
}

.editor-panel--form__input.error {
  border: 1px solid #c24b31;
}

.editor-panel--actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
}

.editor-panel--actions__btn {
  outline: none;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editor-panel--actions__btn img {
  margin-right: 12px;
}

.editor-container {
  height: 90%;
  display: flex;
}

.editor-container__editor {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor-element {
  flex: 1;
  height: 100%;
}

.editor-page__footer-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #858585;
  margin: 22px auto;
}

.files-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.files-panel--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  gap: 10px;
  color: #fff;
  background: #1e1e1e;
  padding: 10px 16px;
  box-shadow: -2px 0 0 0 #282828;
}

.files-panel--item.is-active {
  background: #181818;
}

.files-panel--item__icon {
  width: 20px;
  height: 20px;
}

.files-panel--item__close {
  outline: none;
  opacity: 0;
}

.files-panel--item__close img {
  width: 10px;
}

.files-panel--item:hover .files-panel--item__close {
  opacity: 2;
}

.editor-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100%;
}
