@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.node {
  display: flex;
  align-items: center;

  .radio {
    font-size: $fontSizeSmall;
    font-weight: 400;
    line-height: 1.54;
    white-space: nowrap;

    &.current {
      color: $successColor;

      .icon {
        border-color: #2bd071;
      }
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 2px;
    border: 1px solid #898b94;
    border-radius: 50%;
  }

  .buttons {
    @include childrenMargin(5px, right);

    margin-left: 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;

    .actionBtn svg {
      width: 20px;
      height: 20px;
    }
  }
}
