@use '@gear-js/ui/breakpoints' as *;
@use '@gear-js/ui/variables' as *;

.uploadMetaForm {
   display: flex;
   flex-direction: column;
   width: 50%;

   @include lg {
      width: 100%;
   }
}

.formField {
   & > span,
   & > label {
      min-width: 220px;
      font-size: $fontSizeLarge;
   }
   //TODO delete when textarea update
   & textarea {
     min-width: 220px;

     &:disabled{
        box-shadow: none;
        background-color: #000;
     }
   }
}

.formBtnWrapper {
   margin-top: 56px;
}

.formSubmitBtn {
   min-width: 230px;

   @include md{
      width: 100%;
   }
}
