.duration {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blocks,
.minMax {
  display: flex;
  gap: 12px;
}

.minMax {
  p {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  span {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.2);
  }

  button {
    color: #2bd071;

    border-bottom: dashed 1px #2bd071;

    // overriding @gear-js/ui
    font-weight: 400;
    border-radius: 0;
  }
}
