@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.emptyMetadata {
  color: $textColor;
}

.buttonUpload {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }

  .buttonCaption,
  .buttonTimestamp {
    font-size: $fontSize;
  }

  .buttonCaption {
    color: $textColorSecondary;
    margin-right: 8px;
  }

  .buttonTimestamp {
    color: $textColor;
  }
}
