@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.fileInput {
  & > span:first-child {
    flex: 0 0 180px;
    line-height: 1.3;
    margin-right: 20px;
    color: $textColorSecondary;
    font-size: $fontSizeMedium;

    &::after {
      content: ':';
    }
  }

  @include md {
    width: 100%;
    justify-content: space-between;

    & > span:first-child {
      flex: none;
    }
  }
}
