@use 'assets/scss/variables' as *;

.label {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: $textColorSecondary;
}

.text {
  margin-right: 16px;
}

.select {
  flex: 1;
  padding: 10px 45px 10px 20px;
  color: $textColor;
  background: #282828 url('./images/arrow.svg') center right 16px no-repeat;
  border-radius: 2px;
  box-shadow: 0px 3px 5px 0px #00000033, 0px 1px 18px 0px #0000001f, 0px 6px 10px 0px #00000024;
  appearance: none;
  border: none;
  outline: none;
}
