@use 'assets/styles/shared' as *;

.content {
  max-width: 942px;
}

.input {
  label {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.box {
  @extend %box;
}

.buttons {
  max-width: 590px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  position: relative;
}
