@use '@gear-js/ui/headings' as *;
@use '@/shared/assets/styles/variables' as *;

.container {
  display: grid;
  grid-template-columns: 7.75fr 2.25fr;
  gap: 16px 24px;
  align-items: flex-start;
}

.heading {
  @include heading(24px, 40px, 500);
  color: $gray800;
}
