REACT_APP_NODE_ADDRESS=wss://rpc-node.gear-tech.io:443
REACT_APP_DAPPS_API_ADDRESS=https://upload-dapp.gear-tech.io/dapp_data
REACT_APP_DNS_CONTRACT=0xc74f224fc511d5f068c01cd6490cf3b922c7b8b6fb9937fcdb4ff1446d00bfd3


INLINE_RUNTIME_CHUNK=false
GENERATE_SOURCEMAP=false
SKIP_PREFLIGHT_CHECK=true