@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.emptyContent {
  @include fade();

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, $bgColor 0%, rgba($bgColor, 0) 90%);
}

.textContent {
  max-width: 550px;
  text-align: center;

  .title {
    color: $textColor;
    font-size: toRem(40);
    font-family: 'Kanit';
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: $margin;
  }
  
  .description {
    $color: $gray800;
    line-height: 1.6;
    font-feature-settings: 'salt' on, 'liga' off;
    margin-bottom: $marginBig;
  }
}