@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.timestampBlock {
  display: flex;
  align-items: center;

  .value {
    line-height: 1.3;

    &.primary {
      color: $textColor;
    }

    &.light {
      color: $gray600;
    }

    &.small {
      font-size: $fontSizeTiny;
    }

    &.large {
      font-size: $fontSize;
      font-family: 'Kanit';
      font-weight: 600;
    }
  }

  .icon {
    margin-right: toRem(8);
  }
}