@use '@gear-js/ui/variables' as *;
@use 'assets/scss/animations.scss' as *;

.tooltip {
  display: inline-block;
  position: relative;
  font-size: 0;

  .content {
    @include fade();

    position: absolute;
    text-align: center;
    z-index: 5;
    left: 0;
    bottom: 0;
    color: $textColor;
    padding: 10px 20px;
    font-size: $fontSize;
    transform: translateY(calc(100% + 8.5px));
    border-radius: $borderRadius;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
}
