@use '@gear-js/ui/variables' as *;
@use 'assets/styles/shared' as *;

.inputs {
  @extend %box;
  margin-bottom: 48px;

  & > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

.input {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 2fr;
}

.token {
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.checkbox {
  &::before {
    content: '';
  }
}

.error {
  margin-top: 4px;
  text-align: right;
  color: $errorColor;
}
