@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/variables' as *;

.heading {
  @extend %h4;
  margin-bottom: 32px;
}

.form {
  & > *:not(:last-child) {
    margin-bottom: 24px;
  }
}

.button {
  margin-top: 32px;
}

.input {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.text {
  color: $textColorSecondary;
}
