@use '@gear-js/ui/mixins' as *;
@use '@/shared/assets/styles/_mixins.scss' as *;
@use '@/shared/assets/styles/_shared.scss' as *;
@use '@/shared/assets/styles/_variables.scss' as *;
@use '@/shared/assets/styles/_animations.scss' as *;

%sideStyles {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $marginBig;
}

.idSide {
  @extend %sideStyles;

  &::before {
    @include transition();

    content: '';
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: $gray800;
  }

  &.error::before {
    box-shadow: 0px 0px 10px $errorColor;
    background-color: $errorColor;
  }

  &.success::before {
    box-shadow: 0px 0px 10px $successColor;
    background-color: $successColor;
  }

  .title {
    color: $gray800;
    font-size: toRem(24);
    font-family: 'Kanit';
    font-weight: 500;
    line-height: 1.3;
  }
}

.timestampSide {
  @include fadeAppear();
  @include childrenMargin(10px, right);

  @extend %sideStyles;

  color: $gray600;
  font-size: $fontSize;
  font-family: 'Kanit';
  line-height: toRem(20);

  .value {
    color: $textColor;
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}
