.customScroll {
  /* TODO: same as in gear-js/ui  */
  /* TODO: temp solution specifically for modal,
  take a closer look to simplebar-react */
  overflow-y: auto;

  /* firefox */
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: #a2a2a2 rgba(0, 0, 0, 0.1);
  }

  /* chrome */
  &::-webkit-scrollbar {
    width: 19px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-style: solid;
    border-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-width: 0 9px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-width: 0 8px;
    background-color: #a2a2a2;
    border-radius: 1px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 10;

  @media screen and (max-width: 768px) {
    padding: 0;

    align-items: flex-end;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(246, 248, 248, 1);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px #00000011);

  @media screen and (max-width: 768px) {
    max-width: unset;
  }

  > * {
    /* applying x-padding to every child, to preserve body scrollbar padding */
    padding: 0 32px;

    @media screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin: 0 16px 0 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;

  color: #000;

  &Container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.small {
  max-width: 460px;
}

.medium {
  max-width: 560px;
}

.large {
  max-width: 660px;
}
