@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;
@use 'shared/assets/styles/_shared.scss' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 toRem(28) 0;
  border-bottom: 1px solid $gray007;

  &.loading {
    justify-content: flex-end;
  }

  .programName {
    @include fadeAppear();
    flex: 1 1;
    overflow-wrap: anywhere;
    color: $textColor;
    font-size: toRem(40);
    font-family: 'Kanit';
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  .links {
    @include childrenMargin($marginMedium, right);
    white-space: nowrap;
    margin-left: auto;

    .fixWidth {
      min-width: toRem(180);
    }
  }
}

.content {
  @include childrenMargin($margineLarge, right);

  display: flex;
  margin-top: $marginMedium;

  .leftSide {
    @include childrenMargin($marginMedium);

    flex: 1 1;
  }
}

.tableValue {
  font-weight: 600;
}
