@use '@gear-js/ui/variables' as *;

.users {
  overflow: hidden;
}

.heading {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  color: $textColorSecondary;
  font-size: $fontSizeMedium;
  text-transform: uppercase;
}

.amount {
  color: $successColor;
}

.list {
  height: 280px;
  overflow: auto;
}

.user {
  padding: 8px 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;

  &:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.04);
  }

  &:hover {
    background-color: #373737;

    .button {
      display: inline-flex;
    }
  }
}

.button {
  display: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
