@use '@/shared/assets/styles/_shared.scss' as *;
@use '@/shared/assets/styles/_animations.scss' as *;

.block {
  border-radius: toRem(16);

  svg {
    width: 100%;
  }

  &.loading {
    @include loading();

    position: relative;
  }
}

.transparent {
  opacity: 0.1;
}

.semiTransparent {
  opacity: 0.4;
}

.barelyTransparent {
  opacity: 0.7;
}
