@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.link {
  @include childrenMargin(toRem(10), right);

  background-color: $bgColorTertiary;

  .text {
    color: $textColor;
  }

  &:hover{
    background-color: $bgColorTertiary;
  }
}