@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/animations' as *;

.body {
  @include childrenMargin(24px);
  margin-bottom: 32px;
}

.button {
  margin-right: 16px;
}

.loading {
  div {
    div {
      @include loading;
      position: relative;
    }
  }
}
