@use 'assets/scss/variables' as *;

.events {
  color: $textColor;
}

.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}
