@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;
@use 'assets/scss/common.scss' as *;

.codeNameWrapper {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.codeName,
.codeHash,
.timestamp {
  line-height: 21px;
}

.codeHash {
  color: $textColorSecondary;
}
