@use 'assets/scss/variables' as *;

.box {
  background-color: $bkgActiveButtonColor;
  border-radius: $borderRadiusBase;
  border: 1px dashed #0e0e0e;
  margin: 0 0 40px 0;
  padding: 30px 25px;
  .content {
    width: 85%;
  }
}
