@import '../../../assets/scss/variables';

.wrapper {
  margin: 0 40px;
  @media (max-width: 768px) {
    margin: 0 20px;
  }
  .go-back-button {
    margin: 40px 0 30px 0;
    padding: 0;
    display: flex;
    align-items: center;
    .go-back-button__icon {
      margin: 0 10px 0 28px;
      @media (max-width: 768px) {
        margin: 0 10px 0 15px;
      }
    }
    .go-back-button__text {
      font-size: 21px;
      color: $textColor;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
  .block {
    background-color: $bkgActiveButtonColor;
    border-radius: 2px;
    border: 1px dashed #0e0e0e;
    margin: 0 0 40px 0;
    padding: 30px 25px;
    @media (max-width: 768px) {
      padding: 15px;
    }
    .block__wrapper {
      width: 85%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .block__item {
      width: 100%;
      display: flex;
      margin-bottom: 25px;
      @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .block__caption {
        color: $textColorSecondary;
        font-size: 21px;
        padding-top: 5px;
        min-width: 164px;
        font-style: normal;
        font-weight: normal;

        &--small {
          font-size: 16px;
        }

        @media (max-width: 768px) {
          width: 100%;
          min-width: 100%;
          margin-right: 0;
        }
      }
      .block__field {
        width: 85%;
        background-color: $mainBackground;
        border: none;
        outline: none;
        padding: 10px 15px;
        color: $textColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      .block__textarea {
        width: 85%;
        background-color: $mainBackground;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
        border: none;
        outline: none;
        padding: 10px 15px;
        height: 100px;
        color: $textColor;
        overflow: hidden;
        text-overflow: ellipsis;
        &.block__textarea_h100 {
          height: 100px;
        }
        &.block__textarea_h420 {
          height: 420px;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      .block__button {
        width: 85%;
        margin-left: 164px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 768px) {
          width: 100%;
          margin-left: 0;
          flex-direction: column;
        }
        .block__button-elem {
          background-color: $bkgButtonColor;
          border-radius: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 12px 25px;
          margin-right: 40px;
          margin-top: 10px;

          @media (max-width: 768px) {
            width: 100%;
            margin-right: 0;
          }

          &--link {
            background-color: $successColor;
            box-shadow: 0 0 24px rgb(43 208 113 / 12%);
          }

          .block__button-icon {
            margin-right: 16px;
          }
          .block__button-text {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: $textColor;
          }
        }
        .block__button-upload {
          font-size: 14px;
          margin-top: 10px;
          @media (max-width: 768px) {
            margin-top: 8px;
          }
          .block__button-caption {
            color: $textColorSecondary;
            margin-right: 8px;
          }
          .block__button-date {
            color: $textColor;
          }
        }
      }
    }
  }
  .messages-block {
    margin-bottom: 40px;
    .messages-block__caption {
      text-transform: uppercase;
      color: $textColor;
      font-size: 21px;
      margin-bottom: 30px;
    }
  }
}
