@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.uploadProgramPage {
  @include childrenMargin($marginBig, right);

  display: flex;
  align-items: flex-start;
}

.pageSection {
  flex: 1 1;
}
