.wrapper {
  padding: 0 24px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;

  position: relative;

  &:focus-within {
    background: rgba(168, 245, 147, 0.1);

    svg {
      color: rgba(168, 245, 147, 1);
    }
  }

  &:has([aria-invalid='true']) {
    background: rgba(#f73a3d, 0.15);

    svg {
      color: revert;
    }

    .input {
      caret-color: revert;
    }
  }
}

.input {
  padding: 14px 32px 14px 24px;
  width: 100%;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: none;
    caret-color: rgba(168, 245, 147, 1);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.error {
  margin-right: 24px;

  font-size: 10px;
  color: rgba(#f73a3d, 0.75);
  white-space: nowrap;
}
