.notifications-recent {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 390px;
  border-radius: 4px;
  z-index: 100;
}

.notifications-recent--list {
  display: flex;
  flex-direction: column;
}

.notification-recent {
  display: flex;
  flex-direction: column;
  background: #282828;
  position: relative;
  border-radius: 6px;
  gap: 8px;
  padding: 14px 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11)), #121212;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.notification-recent .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #2bd071;
}

.notification-recent .dot.warning {
  background: #f2994a;
}

.notification-recent__date {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #858585;
}

.notification-recent__type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.notification-recent__type,
.notification-recent__program {
  color: #ffffff;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  max-width: 336px;
}

.notification-recent__close {
  position: absolute;
  top: 14px;
  right: 20px;
  padding: 0;
}

@media (max-width: 768px) {
  .notifications-recent {
    right: 50%;
    transform: translateX(50%);
    width: 320px;
  }
}
