@use '@gear-js/ui/variables' as *;

.wrapper {
  margin-bottom: 55px;
}

.input {
  width: 380px;
  padding: 5px 16px;
  color: #00ff38;
  font-family: Kanit;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.08em;
  outline: none;
  border: 1px solid #333;
  box-shadow: inset -1px -1px 0px 0px #333;
}

.label {
  margin-right: 12px;
  font-family: Kanit;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #333;
}

.error {
  color: $errorColor;
  text-align: right;
}
