@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.header {
  padding: toRem(21) 0 toRem(30) 0;
}

.title {
  color: $indigo800;
  line-height: 1.3;
  font-size: $fontSizeTiny;
}

.content {
  @include childrenMargin($marginTiny, right);

  display: flex;
  color: $indigo700;
  font-size: $fontSizeBig;
  font-weight: 300;
  line-height: 1.3;
  align-items: center;

  .value {
    color: $indigo;
    font-weight: 600;
    font-family: 'Kanit';
  }
}
