@import '../../assets/scss/variables';

.header{
    display:flex;
    align-items: center;
    margin: 22px 0;
    padding: 0 40px;
    color: white;
    justify-content: space-between;
    

    &__logo{
        background: url('../../images/logo.svg') center no-repeat;
        width: 136px;
        height: 32px;
    }
    &__nav-button{
        outline: none;
        border: none;
        border-radius: 2px;
        color:white;
        height: 36px;
        padding-left: 18px;
        padding-right: 18px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }
    &__nav-button:active, &__nav-button:focus, &__nav-button:hover{
        background: #3D3D3D;
    }
}

.user-block {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
    &__name {
        color: $textColorSecondary;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url(../../images/github_gray.svg) no-repeat;
            height: 22px;
            width: 23px;
            left: 0;
        }
    }

    &__logout {
        background: url(../../images/logout.svg) no-repeat;
        height: 18px;
        width: 20px;
    }
}