@import '../../assets/scss/variables';

.callback-content {
  align-items: center;
  color: $textColor;
  display: flex;
  height: 100%;
  font-size: 21px;
  justify-content: center;
}

.callback-content--error {
  color: $errorColor;
}
