version: '3'
services:
  events_testnet:
    image: ghcr.io/gear-tech/gear-js-events-listener:qa
    restart: always
    environment:
      - WS_PROVIDER=${WS_PROVIDER_TESTNET}
      - KAFKA_CLIENT_ID=${KAFKA_CLIENT_ID_TESTNET}
      - KAFKA_BROKERS=${KAFKA_BROKERS}
      - KAFKA_SASL_USERNAME=${KAFKA_SASL_USERNAME}
      - KAFKA_SASL_PASSWORD=${KAFKA_SASL_PASSWORD}
  events_wrsh:
    image: ghcr.io/gear-tech/gear-js-events-listener:qa
    restart: always
    environment:
      - WS_PROVIDER=${WS_PROVIDER_WRSH}
      - KAFKA_CLIENT_ID=${KAFKA_CLIENT_ID_WRSH}
      - KAFKA_BROKERS=${KAFKA_BROKERS}
      - KAFKA_SASL_USERNAME=${KAFKA_SASL_USERNAME}
      - KAFKA_SASL_PASSWORD=${KAFKA_SASL_PASSWORD}
