@import '../../../assets/scss/variables';

.block-list {
  padding-bottom: 4px;
}

.block-list__header {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.block-list__button {
  background-color: $bkgButtonColor;
  border: none;
  border-radius: $borderRadiusBase;
  color: $textColor;
  cursor: pointer;
  padding: 8px 18px 9px;
}

.block-list__button--hidden {
  display: none;
}

.programs-list--short-list {
  height: 234px;
  overflow: hidden;
}

.programs-list__item {
  align-items: center;
  display: flex;
  padding: 23px 0;
  position: relative;
}

.programs-list__item::before {
  border-top: 1px solid $separateLineColor;
  content: '';
  display: block;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.programs-list__number {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
}

.programs-list__name {
  color: $textColor;
  font-size: $fontSizeBase;
  margin-left: 24px;
}

.programs-list__info {
  color: $textColorSecondary;
}

.programs-list__info-data {
  color: $textColor;
  display: inline-block;
  min-width: 56px;
  padding-left: 16px;
}

.programs-list__refresh-btn {
  background: url('../../../images/refresh.svg') no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
}

.program-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 60px;
  &__data {
    display: flex;
    flex: 0 1 440px;
    margin-left: auto;
  }

}

@media (max-width: 600px) {
  .block-list {
    &__header {
      margin-bottom: 16px;
    }
    &__button {
      width: 100%;
    }
  }
  .program-wrapper {
    flex-direction: column;
    padding-right: 0;
    padding-left: 16px;
    &__name {
      width: 100%;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid #3E3E3E;
      span {
        margin-left: 0;
      };
    }
    &__data {
      width: 100%;
      margin-left: unset;
      flex: unset;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        span {
          padding: 0;
          color: #858585;
        }
      }
    }
  }
  .programs-list {
    &__item {
      align-items: unset;
    }
    &__number {
      font-size: 14px;
    }
    &__name {
      font-size: 14px;
      word-break: break-all;
      margin-left: 16px;
    }
  }
}