@use '@gear-js/ui/headings' as *;

.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.heading {
  @extend %h5;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
