@use '@gear-js/ui/variables' as *;

.nft {
  display: block;
  height: 100%;
  padding: 30px;
  background-image: linear-gradient(122.79deg, rgba(255, 255, 255, 0) 18.08%, rgba(255, 255, 255, 0.05) 74.41%);
  border-radius: $borderRadius;

  & > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

.image {
  display: block;
  margin: 0 auto;
  // TODO: replace w/ shared img-fluid class/mixin
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: $borderRadius;
}

.body {
  display: flex;
  justify-content: space-between;
}

.heading,
.text {
  font-size: $fontSizeMedium;
}

.heading,
.value {
  text-transform: uppercase;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  color: $textColorSecondary;
}

.value {
  text-align: right;
}
