{
  "extends": ["airbnb-typescript", "airbnb/hooks", "prettier"],
  "plugins": ["react", "import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-alert": "off",
    "curly": ["warn"],
    "max-depth": ["warn", 4],
    "id-length": ["warn", { "exceptions": ["i", "j"], "min": 2 }],
    "no-lonely-if": ["error"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/label-has-associated-control": [
      "off",
      {
        "assert": "either"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "@typescript-eslint/default-param-last": ["off"],
    "react/state-in-constructor": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "no-console": "off",
    "react/static-property-placement": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": ["off"],
    "no-underscore-dangle": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/no-redeclare": "off",

    // allow devDeps import in test files
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["src/tests/**", "src/setupTests.ts", "**/*.stories.tsx"] }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
