@use 'assets/scss/variables' as *;

.item {
  margin-bottom: 5px;
  display: flex;
  &:last-child {
    margin-bottom: 0;
  }
  .label {
    margin-right: 10px;
  }
  .type {
    cursor: pointer;
    position: relative;
    .typeText {
      color: $successColor;
      &:hover {
        text-decoration: underline;
      }
    }
    .typeAlert {
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 10;
      padding: 10px 15px;
      background-color: #282828;
      box-shadow: 0px 6px 10px rgb(0 0 0 / 14%), 0px 1px 18px rgb(0 0 0 / 12%), 0px 3px 5px rgb(0 0 0 / 20%);
    }
  }
}
