@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;

.simpleBar {
  @include customSimplebar; 

  flex: 1 1 440px;
  // needed for scrolling with flex
  min-height: 1px;
  
  .list {
    @include childrenMargin(toRem(24));

    padding-right: toRem(22);
  }
}
