@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/variables' as *;

.header {
  padding-right: 16px;
  margin-bottom: 1.25rem;

  .timerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  
    .timerDescription {
      @include heading($fontSizeSmall, 2rem);
  
      color: $textColorSecondary;
      width: 100%;
      text-align: left;
    }
  }
}

.table {
  height: 372px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.tableContent {
  width: calc(100% - 16px);
  height: 100%;
  position: relative;
}

.tableHeader {
  position: sticky;
  top: 0;
  z-index: 2;
  background: $bgColor;
}

.tableBody {
  .tableRow { 
    &:nth-child(odd) {
      padding: 0.125rem 0;
  
      & > .tableCell {
        padding: 0.625rem 1.3125rem;
      }
    }
  
    &:nth-child(even) {
      background: rgba($bgColor, 0.3);
      backdrop-filter: blur(8px);
  
      & > .tableCell {
        border-right-color: #1C1C1C;
      }
    }
  }

  .emptyContent {
    padding: 1.5rem 0;
    font-size: $fontSize;
    text-align: center;
  }
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
}

.tableCell {
  color: $textColor;
  font-size: $fontSizeSmall;
  overflow: hidden;
  align-self: center;
  text-align: center;
  text-overflow: ellipsis;
  padding: 0.75rem 1.3125rem;
  
  .cellIcon {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.3125rem;
  }
  
  &.address {
    color: $textColorSecondary;
  }

  &.reward {
    color: $successColor;
  }
  
  &:first-child {
    text-align: left;
  }

  &:not(:last-child) {
    border-right: 1px solid $bgColor;
  }
}
