@import 'assets/scss/variables';

.message {
  margin: 40px 40px 30px 40px;
  @media (max-width: 768px) {
    margin: 0 20px;
  }
  .message__block {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    &.message__id {
      .message__block-caption {
        display: inline-block;
        text-transform: uppercase;
        font-size: 21px;
        margin-right: 0px;
      }
      .message__status-block {
        display: flex;
        align-items: center;
        .message__status-is-error {
          display: flex;
          align-items: center;
          .message__status-icon {
            color: $textColor;
          }
          .message__block-status {
            border-radius: 50%;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 10px;
            margin-left: 15px;

            top: 50%;

            &_success {
              background-color: $successColor;
              box-shadow: 0px 0px 10px $successColor;
            }
            &_error {
              background-color: $errorColor;
              box-shadow: 0px 0px 10px $errorColor;
            }
          }
        }
      }
      .message__paragraph-value {
        font-size: 16px;
        padding-left: 35px;
      }
    }
    .message__block-caption {
      display: inline-block;
      margin-right: 10px;
      color: $textColorSecondary;
      font-size: 16px;
    }
    .message__block-paragraph {
      display: inline-block;
      color: $textColor;
      .message__block-value {
        color: $textColorSecondary;
      }
    }
  }
  .message__meta {
    width: 100%;
    height: 420px;
    padding: 10px 15px;
    background-color: $mainBackground;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    color: $textColor;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .message__buttons {
    display: flex;
    .message__button {
      padding: 15px 30px;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      border-radius: 2px;
      color: $textColor;
      &:first-child {
        background-color: rgba(255, 255, 255, 0.1);
        margin-right: 10px;
      }
      &:last-child {
        background: $successColor;
      }
      .message__button-icon {
        margin-right: 15px;
      }
    }
  }
}
