.editor-menu {
    position: absolute;
    left: 32px;
    width: fit-content;
    top: 50px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #121212;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.editor-menu__item {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.87);
    padding: 12px 16px;
    transition: all .2s ease-in-out;
}

.editor-menu__item:hover {
    background: rgba(255, 255, 255, 0.12);
}

@media ( max-width: 767px ) {
    .editor-menu {
        display: none;
    }
}