@keyframes svgFade {
  from {
    fill-opacity: 0.09;
  }
  to {
    fill-opacity: 0.2;
  }
}

.block {
  width: 100%;
  height: 100%;
  
  &.loading > rect {
    animation: svgFade 1s ease-in infinite alternate;
  }
}
