@use '@gear-js/ui/headings' as *;

.container {
  max-width: 850px;
}

.heading {
  @extend %h2;
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 84px;
  background-image: linear-gradient(122.79deg, rgba(255, 255, 255, 0.013) 18.08%, rgba(255, 255, 255, 0.05) 74.41%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 2px;
}

.input {
  margin-right: 70px;
}

.buttons {
  text-align: center;

  > *:not(:last-child) {
    margin-right: 25px;
  }
}
