@use '@gear-js/ui/variables' as *;

.nft {
  display: block;
  padding: 30px;
  background-image: linear-gradient(122.79deg, rgba(255, 255, 255, 0) 18.08%, rgba(255, 255, 255, 0.05) 74.41%);
  border-radius: $borderRadius;
}

.image {
  display: block;
  margin: 0 auto 30px;
  // TODO: replace w/ shared img-fluid class/mixin
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: $borderRadius;
}

.heading,
.text {
  font-size: $fontSizeMedium;
  text-align: center;
}

.heading {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  color: $textColorSecondary;
}
