@import '../../assets/scss/variables';

.footer {
  background: $backgroundColor;
  padding: $desktopSidesMargin;
  padding-bottom: 33px;
  text-align: center;

  &--light-colored {
    background: $mainBackground;
  }
  
  &::before {
    border-top: 1px solid $separateLineColor;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 23px;
    opacity: 0.6;
    width: 100%
  }

  &__content {
    color: $textColorSecondary;
    font-size: $fontSizeBase;
  }
}