@use '../../utils' as *;

.select {
  @include lightDark(color, #000, rgba(246, 246, 246, 0.9));

  appearance: none;
  padding: 0 32px 0 0;
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: var(--input-font-size);
  font-weight: 400;
  line-height: var(--input-line-height);
  cursor: pointer;

  background: transparent url(./assets/arrow.svg) center right no-repeat;

  &:not(:disabled)[aria-invalid='true'] {
    @include lightDark(color, #ff3231, #ff3757);
  }

  &:disabled,
  &:disabled::placeholder {
    @include lightDark(color, rgba(88, 105, 110, 0.5), rgba(156, 172, 177, 0.4));
  }

  &::placeholder {
    @include lightDark(color, #58696e, #828b8e);
  }
}
