@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.drop {
  flex: 1;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px dotted #0e0e0e;
  border-radius: $borderRadius;
  display: flex;
  height: 345px;
  justify-content: center;
  margin-bottom: 54px;

  @include md {
    align-items: unset;
    margin-bottom: 26px;
    height: fit-content;
    border: none;
    background: none;
  }

  &.active {
    border: 1px dashed $successColor;
  }
}
.input {
  display: none;
}

.noFile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include md {
    margin-top: 14px;
    justify-content: unset;
    width: 100%;
    margin-bottom: 14px;
  }
}

.file {
  color: $textColor;
  font-size: 16px;
  font-weight: 600;
}

.text {
  color: $textColorSecondary;
  padding-top: 24px;
  text-align: center;
  width: 259px;

  @include md {
    display: none;
  }
}
