@use '@gear-js/ui/mixins' as *;

//for css transition
@mixin fade($delay: 0ms, $duration: 250ms, $triming-function: linear) {
  &:global(.exit),
  &:global(.enter-done) {
    opacity: 1;
  }

  &:global(.enter),
  &:global(.exit-done){
    opacity: 0;
  } 

  &:global(.enter-active) {
    opacity: 1 !important; 
  }

  &:global(.exit-active) {
    opacity: 0 !important;
  }

  &:global(.exit-active),
  &:global(.enter-active){ 
    transition: opacity $duration $triming-function $delay;
  }
}
