%absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%customScroll {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #fff;
  }

  scrollbar-color: #fff rgba(255, 255, 255, 0.1);;
  scrollbar-width: thin;
}

@function toRem($value) {
  @return ($value / 14) + rem;
}

@function getAnimationTimeout($delayTick: 0, $delay: 50) {
  @return (250 + $delayTick * $delay) + ms;
}

@mixin childrenMargin($margin, $direction: bottom) {
  & > *:not(:last-child) {
    @if $direction == bottom {
      margin-bottom: $margin;
    } @else if $direction == top {
      margin-top: $margin; 
    } @else if $direction == left {
      margin-left: $margin;
    } @else if $direction == right {
      margin-right: $margin;
    }

    @content
  }
}