$white: #fff;

$textGray: #BCBCBC;

$gray800: rgba($white, 0.8);
$gray700: rgba($white, 0.7);
$gray600: rgba($white, 0.6);
$gray300: rgba($white, 0.3);

$indigo: #6E7CA9;
$mainBgColor: #18181B;
$successColor: #2BD071;

$fontSizeBig: 18px;
$fontSizeMedium: 16px;
$fontSize: 14px;
$fontSizeSmall: 12px;
$fontSizeTiny: 10px;
