@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.simplebar {
  @include customSimplebar;

  &.large {
    height: calc($contentHeight - toRem(32) - $margin);
  }

  &.small {
    height: calc($contentHeight - toRem(320) - $margin);
  }

  :global(.simplebar-content) {
    margin-right: $margin;
  }
}

.placeholder,
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.placeholder {
  position: relative;
}
