@use './styles/index.scss';
@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: toRem(103);
}

html {
  font-size: 100%;
  overflow-x: hidden; // cuz of onboarding animations
}

body {
  background-color: $bgColor;
  background-image: url('/shared/assets/images/placeholders/greenShadowBg.png');
  background-repeat: no-repeat;
  background-position: right -150px top -50px;
  min-height: 100vh;
}

#root {
  position: relative;
}

.main {
  display: flex;
  min-height: calc(100vh - $footerHeight);
}

.content {
  flex: 1 1;
  padding: 0 toRem(32) 0 toRem(48);
  position: relative;
  min-height: $contentHeight;
}

button {
  border: none;
  cursor: pointer;
}
