.form{
    max-width: 465px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
  
    &>*:not(:last-child) {
      margin-right: 20px;
    }
  
    & input::-webkit-inner-spin-button,
      input::-webkit-outer-spin-button {
      display: none;
      margin: 0;
    }
  
    & input[type=number] {
      -moz-appearance: textfield;
    }
}
