@use 'assets/styles';
@use '@gear-js/ui/variables' as *;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

main {
  flex: 1;
  padding: 30px 0 60px;
  position: relative; // for loaders
}

body {
  background: $bgColor url(assets/images/bg.png);
  background-size: cover;
}

input, textarea, select {
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.customScroll {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;  
  }

  &::-webkit-scrollbar-track {
    background-color: $lineColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: $textColor;
  }

  scrollbar-color: $textColor  $lineColor;
  scrollbar-width: thin;
}
