@use 'assets/scss/variables' as *;

.body {
  margin-top: 15px;
  padding-left: 30px;
}

.params {
  padding: 15px 25px;
  background-color: $mainBackground;
  border: 1px dashed $bkgButtonColor;
  border-radius: 2px;
  overflow-x: auto;
}
