@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.container {
  max-width: 810px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.visual {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.svg {
  align-self: flex-end;
  margin: 75px 90px 0 0;
}

.heading {
  @extend %h2;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.details {
  max-width: 370px;
  margin-bottom: 25px;
  display: grid;
  grid-template-areas: 'a b' 'c c' 'd e' 'f f' 'g h' 'j j';
  gap: 25px 125px;
}

.game {
  grid-area: a;
}

.round {
  grid-area: b;
}

.contract {
  grid-area: c;

  &Text {
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.players {
  grid-area: d;
}

.bet {
  grid-area: e;

  &Text {
    font-weight: 600;
    color: $successColor;
  }
}

.entry {
  grid-area: f;
}

.move {
  grid-area: g;
}

.reveal {
  grid-area: h;
}
.lobby{
  grid-area: j;
  grid-template-columns: 1fr;
  gap: 25px 0;
  display: flex;
  flex-direction: column;
  &Title{
    @extend %headingFont;
    font-weight: 500;
    text-transform: uppercase;
    color: #858585;
  }
  &Text{

  }
}
