.notification-info {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background: #232323;
  overflow-y: scroll;
  z-index: 100;
}

.notification-info--content {
  background: #212121;
  border: 1px dashed #0e0e0e;
  border-radius: 2px;
  padding: 30px 24px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notification-info--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 21px;
  line-height: 130%;
  color: #ffffff;
  gap: 20px;
}

.notification-info--content__key {
  min-width: 120px;
}

@media (max-width: 768px) {
  .notification-info {
    z-index: 100;
  }
}
