@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.preformattedBlock {
  padding: toRem(16) toRem(24);
  box-shadow: inset 0px 1px 0px $gray150;
  background-color: $gray002;
  border-radius: 16px;
}