@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.horizontalMessageCard {
  display: grid;
  grid-template-rows: minmax(max-content, 1fr);
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 0.3fr);
  gap: 30px;
  align-items: center;
  position: relative;
  padding: toRem(20) toRem(24);
  background: $bgColorSecondary;
  box-shadow: 0px 4px 4px $bgColor;
  border-radius: 16px;

  &.moreInfo {
    grid-template-columns: minmax(max-content, 0.3fr) minmax(max-content, 0.4fr) minmax(max-content, 0.3fr);
  }

  .fromBlock {
    @include childrenMargin($marginSmall, right);

    display: flex;
    font-weight: 500;
    align-items: center;
    
    .text {
      color: $gray600;
      font-size: $fontSizeTiny;
      line-height: 1.3;
    }
  }

  .link {
    position: absolute;
    border: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
