.meta-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background: #232323;
  overflow-y: scroll;
  z-index: 100;
}

@media (max-width: 768px) {
  .meta-form {
    z-index: 100;
  }
}
