@use '@gear-js/ui/variables' as *;

.header,
.tableRow {
  display: grid;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid $lineColor;
  background-color: $bgColor;
}

.tableRow {
  padding: 25px 20px;
  border-bottom: 1px solid $lineColor;
}
