@use '@gear-js/ui/variables' as *;

.emptyContent {
  color: $textColor;
  font-size: $fontSizeMedium;
}

.header,
.tableRow {
  display: grid;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid $lineColor;
  background-color: $bgColor;
}

.tableBody {
  overflow-y: auto;
}

.tableRow {
  padding: 25px 20px;
  border-bottom: 1px solid $lineColor;
}
