@use 'shared/assets/styles/_mixins.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.content {
  @include childrenMargin(40px, right);

  display: flex;
  margin-top: 24px;
  
  .leftSide {
    @include childrenMargin(24px);

    flex: 1 1;
  }
}
