@use '@gear-js/ui/mixins' as *;
@use '@gear-js/ui/variables' as *;
@use 'assets/styles/_variables' as *;

.switcher {
  display: flex;
  width: 100%;
  border: 1px solid $formBorderColor;
  border-bottom: none;
  background: $formColor;
  border-radius: 5px 5px 0px 0px;
  padding: 0.625rem 0.625rem 0.75rem 0.625rem;
  overflow-x: auto;

  & > *:not(:last-child) {
    margin-right: 0.625rem;
  }
}

.switchBtn {
  @include transition();

  color: $textColorSecondary;
  cursor: pointer;
  border: none;
  font-size: $fontSize;
  padding: 0.625rem 1.25rem;  
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  white-space: nowrap;

  &:hover, 
  &:focus {
    color: $textColor;
    background: $buttonColorSecondaryHover;
  }

  &.active {
    color: $textColor;
    background: $formBorderColor;
  }
}