@use '@gear-js/ui/variables' as *;

.text {
  align-self: center;
  text-align: center;
}

.heading {
  font-size: $fontSizeLarge;
  font-weight: 500;
  color: $textColorSecondary;
}

.subheading {
  font-size: $fontSizeMedium;
  color: $textColorSecondary;
}
