@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_variables.scss' as *;

.walletWrapper {
  position: relative;
  margin-left: toRem(16);
}

.fixSize {
  width: toRem(183);
  min-height: toRem(52); 
}

.accountBtn {
  background-color: $bgColorSecondary;

  &:hover {
    background-color: $bgColorTertiary;
  }

  & > div {
    // hacky, but need to override Identicon's 'cursor: copy'
    cursor: inherit !important;
  }
}