@use 'assets/scss/variables' as *;

.header {
  cursor: pointer;
}

.main {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.caption {
  margin-right: 10px;
  font-weight: 500;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  &.up {
    border-bottom: 5px solid $textColor;
  }

  &.down {
    border-top: 5px solid $textColor;
  }
}

.counter {
  margin-left: 16px;
  padding: 0 7.5px;
  font-size: 14px;
  color: $textColorSecondary;
  background-color: $bkgButtonColor;
  border-radius: 100px;
}
