@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.header {
  $padding: 16px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;
  background-color: $bgColor;

  @include lg {
    padding-top: $padding;
  }

  @include sm {
    padding-bottom: $padding;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include lg {
    flex-direction: column;
    align-items: flex-start;
  }

  & > *:not(:last-child) {
    margin-right: 30px;

    @include lg {
      margin-right: 0;
      margin-bottom: 32px;
    }
  }
}

.separator {
  height: 48px;
  border: none;
  border-left: 1px solid $lineColor;

  @include lg {
    display: none;
  }
}

.rightSide {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 25px;
  }
}
