@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.card {
  max-width: 275px;
  padding: 15px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 85px) 1;
  border-radius: $borderRadius;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.heading {
  // TODO: it's not h5, so prolly h6 (?)
  @extend %h5;
  font-size: 16px;
  text-align: center;
  color: $textColorSecondary;
}

.description {
  font-size: $fontSizeMedium;
}

.owner {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  @extend %h5;
  text-align: center;
}
