@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/animations' as *;

.messages {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 24px;
}

.heading {
  margin-bottom: 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: rgba(255, 255, 255, 0.6);
}

.simpleBar {
  @include customSimplebar;

  height: calc($contentHeight - toRem(77.5) - 60px - toRem(26));

  &.noOverflow {
    overflow: hidden;
  }

  :global(.simplebar-content) {
    @include childrenMargin($marginSmall);

    margin-right: 12px;
  }
}

.placeholderBlock {
  height: toRem(60.8);
}

.search {
  margin-bottom: 12px;
}
