@use '@/shared/assets/styles/variables' as *;

.positioner {
  z-index: 2;
}

.popup {
  padding: 16px;

  background-color: #2b2b2e;
  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.1),
    0 20px 76px 0 rgba(0, 0, 0, 0.6),
    0 4px 24px rgba(0, 0, 0, 0.4);

  transform-origin: var(--transform-origin);

  transition:
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}
