@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.container {
  max-width: 675px;
}

.heading,
.subheading {
  @extend %h2;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.subheading {
  color: $successColor;
  margin-bottom: 45px;
}

.winner {
  margin-bottom: 50px;
  padding: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

.text {
  @extend %h3;
  text-transform: uppercase;
  color: $successColor;
  margin-bottom: 20px;
}

.address {
  @extend %headingFont;
  font-weight: 500;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
