@use 'assets/scss/variables' as *;

.list {
  width: 85%;
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    .label {
      color: $textColorSecondary;
      margin-bottom: 5px;
    }
    .value {
      width: 100%;
      background-color: $mainBackground;
      border: none;
      outline: none;
      padding: 10px 15px;
      color: $textColor;
      overflow-x: auto;
      white-space: normal;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
