@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.summary {
  max-width: 425px;
  margin-top: auto;

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button {
  margin-top: 8px;
}

.text {
  display: flex;
  flex-direction: column;
}

.key {
  @include heading(18px, 26px, 500);
  color: $textColorSecondary;
}

.value {
  @include heading(16px, 24px);
  font-size: $fontSizeMedium;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::before {
    content: '—';
    margin-right: 10px;
    color: $textColor;
  }
}

.role {
  color: $successColor;
}

.state {
  color: $errorColor;
}
