@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.summary {
  max-width: 425px;
  margin-top: auto;
}

.text {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.key {
  @include heading($fontSize, 21px);
  color: $textColorSecondary;
}

.value {
  font-size: $fontSizeMedium;
  font-weight: 600;
  letter-spacing: 0.01em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::before {
    content: '—';
    margin-right: 10px;
    color: $textColor;
  }
}

.role {
  color: $successColor;
}

.state {
  color: $errorColor;
}
