@use '@gear-js/ui/variables' as *;

.message {
  display: flex;
  align-items: center;
  
  .copyButton {
    margin-left: 5px;
  }

  .messageLink {
    color: $textColorSecondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.text {
  color: $textColor;
  font-size: $fontSize;
}
