@use '@gear-js/ui/headings' as *;

.heading {
  @extend %h2;
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;
}

.form {
  width: 100%;
  max-width: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>*:not(:last-child) {
    margin-bottom: 20px;
  }

  & input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
    display: none;
    margin: 0;
  }

  & input[type=number] {
    -moz-appearance: textfield;
  }
}

.buttons {
  &>*:not(:last-child) {
    margin-right: 25px;
  }
}