.container {
  padding: 16px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.75;
  }
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 60px;
}
