@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/mixins' as *;

.info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 15px 10px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $borderRadius;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  white-space: pre-line;

  &::before {
    @include square(35px);
    content: '';
    flex-shrink: 0;
    margin-right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.75 33.75H10.5a1.167 1.167 0 0 1-1.167-1.167V30.25h14.584c1.93 0 3.5-1.57 3.5-3.5V7.5h2.333c.644 0 1.167.523 1.167 1.167v23.916c0 .644-.523 1.167-1.167 1.167Z' fill='%23fff'/%3E%3Cpath d='M23.917 2.25H5.25c-.644 0-1.167.523-1.167 1.167V26.75c0 .644.523 1.167 1.167 1.167h18.667c.644 0 1.166-.523 1.166-1.167V3.417c0-.644-.522-1.167-1.166-1.167ZM15.75 22.083h-2.333V19.75h2.333v2.333Zm0-4.083h-2.333V8.667h2.333V18Z' fill='%23fff'/%3E%3C/svg%3E");
  }
}
