@use '@/shared/assets/styles/variables' as *;

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 32px;
  padding: 0 12px;
  margin: 0;
  outline: 0;
  border: 1px solid $gray100;
  border-radius: 8px;
  background-color: $bgColor5;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: $textColor;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background-color: $bgColorTertiary;
  }

  &:active {
    background-color: $bgColorTertiary;
  }

  &[data-popup-open] {
    background-color: $bgColorTertiary;
  }

  &:focus-visible {
    outline: 2px solid $successColor;
    outline-offset: -1px;
  }
}

.ButtonIcon {
  width: 10px;
  height: 10px;

  path {
    stroke: $gray700;
  }
}

.Positioner {
  outline: 0;
  z-index: 10;
}

.Popup {
  min-width: 180px;
  padding: 4px;
  border-radius: 12px;
  background-color: $bgColor5;
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.05),
    0 20px 76px 0 rgba(0, 0, 0, 0.5);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: canvas;
}

.ArrowOuterStroke {
  @media (prefers-color-scheme: light) {
    fill: black;
  }
}

.ArrowInnerStroke {
  @media (prefers-color-scheme: dark) {
    fill: black;
  }
}

.Item {
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  background-color: transparent;
  color: var(--color-gray-50);

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: #000;
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--color-gray-900);
  }
}

.Separator {
  margin: 0.375rem 1rem;
  height: 1px;
  background-color: var(--color-gray-200);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
