@use '@gear-js/ui/headings' as *;
@use 'shared/assets/styles/mixins' as *;
@use 'shared/assets/styles/variables' as *;

.heading {
  @include heading(24px, 130%, 500);
  margin-bottom: 16px;
  color: $gray800;
}

.code {
  @include childrenMargin(32px, right);
  display: flex;
  // grid-template-columns: 1fr 1fr;
  // gap: 32px;

  > * {
    flex-basis: 50%;
  }
}

.summary {
  @include childrenMargin(32px);
}

.programs {
  @include childrenMargin(12px);
}

.buttons {
  @include childrenMargin(16px, right);
  margin-top: 32px;
}
