@import '../../assets/scss/variables';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50% at 50% 50%, #000000 43.23%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
  z-index: 101;
}
