@import '../../assets/scss/variables';

body {
  scrollbar-gutter: stable both-edges;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50% at 50% 50%, #000000 43.23%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
  z-index: 101;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'%3E%3Cpolygon points='0,0 32,0 16,24' style='fill:%23f2f2f2'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 12px;
}

.animation-rotate {
  animation: rotating 5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
