@import '../../assets/scss/variables';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  // cuz if flexGap mixin is used for layout that is close to viewport borders there'll be extra pixels
  overflow-x: hidden;
}

.animation-rotate {
  animation: rotating 5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
