.editor-tree {
  flex: 0 0 20%;
  background-color: #151515;
  border-right: 1px solid #2e2d2d;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 0.875rem;
  position: relative;
}

.editor-tree__item {
  cursor: pointer;
  user-select: none;
  padding: 0.125rem 0.5rem;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #2e2d2d;
  }

  &.is-active {
    background-color: #555555;
  }

  &.is-folder {
  }
}

.editor-tree__folder {
  &.is-open > .editor-tree__folder-items {
    display: block;
  }
}

.editor-tree__line {
  display: flex;
  align-items: center;
  flex: 1;
}

.editor-tree__folder-items {
  padding-left: 1.25rem;
  display: none;
}

.tree-actions {
  display: flex;

  &.is-top {
  }
}

.tree-error {
  position: absolute;
  background-color: #ff6d6d;
  padding: 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
}

.tree-actions__btn {
  display: flex;
  align-items: center;
  padding: 0.15rem;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 0.75rem;

  &:hover {
    background-color: #2e2d2d;
  }

  .tree-actions.is-top & {
    padding: 0.5rem;
  }
}

.tree-input {
  background-color: transparent;
  border: #ffffff 1px solid;
  padding: 0 0.25rem;
  outline: none;
  color: #ffffff;
  flex: 1;
}
