@use 'shared/assets/styles/_shared.scss' as *;
@use 'shared/assets/styles/_animations.scss' as *;

.block {
  border-radius: toRem(16);

  svg {
    width: 100%;
    height: 100%;
  }
  
  &.loading {
    @include loading();
  }
}
