@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;
@use '@gear-js/ui/headings' as *;

.pageWrapper {
  @include childrenMargin(22px, right);

  display: flex;

  .messagesSection {
    flex: 1 1;
  }
}

.heading {
  @include heading(24px, 1.3, 500);
  color: $gray800;
}
