@import '../../../assets/scss/variables';

.block-list {
  padding-bottom: 4px;
}

.block-list__header {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.no-message {
  color: $textColorSecondary;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.block-list__button {
  background-color: $bkgButtonColor;
  border: none;
  border-radius: $borderRadiusBase;
  color: $textColor;
  cursor: pointer;
  padding: 8px 18px 9px;
}

.block-list__button--hidden {
  display: none;
}

.programs-list--short-list {
  height: 234px;
  overflow: hidden;
}

.programs-list__item {
  align-items: center;
  display: flex;
  padding: 23px 0;
  position: relative;
}

.programs-list__item::before {
  border-top: 1px solid $separateLineColor;
  content: '';
  display: block;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.programs-list__number {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
}

.programs-list__name {
  color: $textColor;
  font-size: $fontSizeBase;
  margin-left: 24px;
}

.programs-list__info {
  color: $textColorSecondary;
}

.programs-list__info-data {
  color: $textColor;
  display: inline-block;
  min-width: 56px;
  padding-left: 16px;
}

.programs-list--btns {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.programs-list--btns button {
  padding: 8px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: relative;
}

.programs-list--btns button:hover {
  background: rgba(196, 196, 196, .1);
}

.programs-list__message-btn img{
  position: absolute;
  top: 9px;
  left: 8px;
  width: 21px;
  height: 18px;
}

.programs-list__refresh-btn img {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 16px;
  height: 20px;
}

.program-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 60px;
}

.program-wrapper__data {
  display: flex;
  flex: 0 1 440px;
  margin-left: auto;
}

.all-programs--list {
  display: flex;
  flex-direction: column;
}

.all-programs--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 0;
  border-top: 1px solid #3E3E3E;
}

.all-programs--item__hash {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #858585;
}

.all-programs--item__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

@media (max-width: 768px) {
  .block-list__header {
    margin-bottom: 16px;
  }
  .block-list__button {
      width: 100%;
  }
  .program-wrapper {
    flex-direction: column;
    padding-right: 0;
    padding-left: 16px;
  }
  .program-wrapper__name {
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #3E3E3E;
  }
  .program-wrapper__name span {
    margin-left: 0;
  }
  .program-wrapper__data {
    width: 100%;
    margin-left: unset;
    flex: unset;
    justify-content: space-between;
  }
  .program-wrapper__data div {
    display: flex;
    flex-direction: column;
  }
  .program-wrapper__data div span {
    padding: 0;
    color: #858585;
  }
  .programs-list--btns button {
    bottom: 8px;
  }
  .programs-list__item {
    align-items: unset;
  }
  .programs-list__number {
    font-size: 14px;
  }
  .programs-list__name {
    font-size: 14px;
    word-break: break-all;
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .all-programs--item__hash {
    word-wrap: break-word;
  }
}