.notifications {
    margin: 32px 40px 0 40px;
}

.notifications--list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
    position: relative;
    padding: 22px 24px 22px 16px;
    gap: 10px;
    border-bottom: 1px solid #3E3E3E;
}

.notification.unread {
    background: #282828;
    border: none;
}

.notification.default {
    cursor: default;
}

.notification .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: none;
}

.notification .dot.unread {
    background: #2BD071
}

.notification .dot.unread.warning {
    background: #F2994A;
}

.notification__type {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    flex: 0 1 240px;
}

.notification__program, .notification__date {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #858585;
}

.notification__program {
    flex: 0 1 600px;
}

@media ( max-width: 768px ) {
    .notifications {
        overflow-y: hidden;
        margin: 24px 16px;
    }
    .notifications--list {
        gap: 4px
    }
    .notification {
        flex-direction: column;
        justify-content: flex-start;
        align-items: unset;
        overflow: hidden;
        padding: 8px 16px;
    }
    .notification__type, .notification__program { 
        flex: 0 1 auto;
        align-items: left;
        word-break: break-all;
    }
    .notification__read {
        position: absolute;
        right: 16px;
        top: 8px;
    }
}