@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/mixins' as *;

.codeLink {
  @include transition;
  @extend %headingFont;
  display: block;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;

  &:hover {
    opacity: 0.5;
  }
}
