.popup {
  padding: 10px 16px;

  color: #fff;

  background-color: #000;
  border: 1px solid rgba(#fff, 0.5);

  transition: opacity 0.25s;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.positioner {
  z-index: 11; // to be above modal
}
