@use '@/shared/assets/styles/variables' as *;

.accountBtn {
  background-color: $bgColorSecondary;

  &:hover {
    background-color: $bgColorTertiary;
  }

  & > div {
    // hacky, but need to override Identicon's 'cursor: copy'
    cursor: inherit !important;
  }
}
