@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.wallet {
  @include childrenMargin(16px, right);
  display: flex;
  align-items: center;
}

.accountBtn {
  background-color: $bgColorSecondary;

  &:hover {
    background-color: $bgColorTertiary;
  }

  & > div {
    // hacky, but need to override Identicon's 'cursor: copy'
    cursor: inherit !important;
  }
}
