@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.heading {
  @include heading(32px, 32px);
  margin-bottom: 20px;
}

.greeting {
  margin-bottom: 20px;

  span {
    color: $successColor;
  }
}

.description {
  text-align: center;

  a {
    color: $successColor;
  }
}