@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

.box {
  flex: 1;
  max-width: 440px;
  padding: 50px 40px 55px;
  border-radius: 4px;
  background: linear-gradient(42.92deg, rgba(255, 255, 255, 0.04) -0.83%, rgba(255, 255, 255, 0) 98.66%);
  box-shadow: inset 2px -2px 3px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2.5px);
  position: relative;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(#fff, 0.1);
  border-radius: 0px 4px;
  overflow: hidden;

  > *:first-child {
    position: relative;

    &::after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-image: linear-gradient(0, transparent -1.04%, rgba(#fff, 0.25) 51.04%, transparent 98.96%);
    }
  }

  > * {
    padding: 20px;
  }
}

.heading {
  @include heading(50px, 50px, 700);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contract {
  display: block;
  background-image: linear-gradient(91.68deg, #f4755a 10.47%, #3975e9 46.04%, #2bd071 89.65%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body {
  & > :not(:last-child),
  form > :not(:last-child) {
    margin-bottom: 15px;
  }

  form label {
    color: #fff;
  }
}
