@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;
@use 'assets/styles/shared' as *;

.box {
  @extend %box;
  max-width: 440px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.heading {
  @extend %h1;
  margin-bottom: 20px;
}

.body {
  & > :not(:last-child),
  form > :not(:last-child) {
    margin-bottom: 15px;
  }
}
