@use 'assets/scss/variables' as *;
@use 'assets/scss/breakpoints.scss' as *;
@use 'assets/scss/common.scss' as *;

.programsListItem {
  align-items: center;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid $separateLineColor;

  @include md {
    * {
      align-items: unset;
    }
  }
}

.programsListNumber {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;

  @include md {
    font-size: 14px;
  }
}

.programWrapper {
  display: flex;
  align-items: center;
  min-width: 270px;

  @include md {
    flex-direction: column;
    padding-right: 0;
    padding-left: 16px;
  }
}

.programWrapperName {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include md {
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #3e3e3e;
    span {
      margin-left: 0;
    }
  }

  .programLink {
    text-decoration: none;
    color: $textColor;

    &:hover {
      text-decoration: underline;
    }
  }
}

.programsCopyId {
  position: relative;
  top: 4px;
}

.programsListIndicator {
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
}

.program-item-success {
  background-color: $successColor;
  box-shadow: 0px 0px 10px $successColor;
}

.program-item-failure {
  background-color: $errorColor;
  box-shadow: 0px 0px 10px $errorColor;
}

.program-item--loading {
  background-color: blue;
}

.programsListName {
  color: $textColor;
  font-size: $fontSizeBase;
  padding: 0 5px;

  @include md {
    font-size: 14px;
    word-break: break-all;
  }
}

.programWrapperData {
  display: flex;
  flex: 0 2 300px;

  @include md {
    width: 100%;
    margin-left: unset;
    flex: unset;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      span {
        padding: 0;
        color: $textColorSecondary;
      }
    }
  }
}

.programsListInfo {
  color: $textColorSecondary;
}

.programsListInfoData {
  color: $textColor;
  display: inline-block;
  min-width: 56px;
  padding-left: 16px;
}

.programsListBtns {
  display: flex;
  align-items: center;
  flex: 0 1 260px;
  justify-content: flex-end;

  @include md {
    & {
      top: 30px;
    }
  }
}

.programsListRefreshBtn {
  img {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 16px;
    height: 20px;
  }
}

%actionItem {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-size: 0;

  &:hover {
    background: $bkgButtonColor;
  }
}

.allProgramsItemSendMessage {
  @extend %actionItem;

  padding: 8px 6px;
}

.allProgramsItemUpload {
  @extend %actionItem;

  padding: 9px 5px;
}

.linkInactive {
  @extend .disabled;
  pointer-events: none;
}
