@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.largeForm {
  display: flex;
  flex-direction: column;
  width: 80%;

  @include lg {
    width: 100%;
  }
}

.formItem {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.fieldLabel {
  flex: 0 0 180px;
  line-height: 1.3;
  margin-right: 20px;
  color: $textColorSecondary;
  font-size: $fontSizeMedium;

  &::after {
    content: ':';
  }

  @include md {
    flex: none;
    margin-right: 0;
    margin-bottom: 4px;
  }

  &.center {
    display: flex;
    align-items: center;
  }

  &.topPadding {
    padding-top: 10px;
  }
}

.fieldContent {
  flex: 1 1 100%;

  @include md {
    flex: none;
  }
}

.field {
  display: flex;
  justify-content: space-between;

  @include md {
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.uiField {
  & > span {
    @extend .fieldLabel;
  }

  & > span + * {
    @extend .fieldContent;
  }
}

.text {
  color: $textColor;
  font-size: $fontSize;
  white-space: pre-wrap;
  word-break: break-all;
}

.textarea {
  overflow: auto;
  min-height: 100px;
  max-height: 400px;
}

.payloadType {
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin-bottom: 16px;
}

.formButtons {
  display: flex;
  margin-top: 5px;
  margin-left: 200px;

  & > *:not(:last-child) {
    margin-right: 24px;

    @include md {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  @include md {
    margin-left: 0;
    flex-direction: column;
  }
}

.error {
  position: absolute;
  color: $errorColor;
  font-size: $fontSizeMedium;
  bottom: -20px;
}
