.progress-bar {
    background-color: #373C39;
    width: 100%;
    height: 1px;
    &.green {
        background-color: #2BD071;
    }
    &__indicator {
        animation: progress_line 20s linear 1;
        background-color: #2BD071;
        height: 100%;
    }
}

@keyframes progress_line {
    0% { width: 0; }
    100% { width: 100%; }
}