@use '@gear-js/ui/variables' as *;

@-webkit-keyframes spin_top {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin_top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin_bottom {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin_bottom {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;

  %overlay {
    position: absolute;
    background: #232323;
    z-index: 2;
    height: 55px;
    width: 100%;
  }

  .overlayTop {
    @extend %overlay;

    top: 3px;
    left: 0px;
  }

  .overlayBottom {
    @extend %overlay;

    bottom: 54px;
    left: 0px;
  }

  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
    margin-bottom: 10px;

    .image {
      width: 70px;
      -webkit-animation: spin_top 8s linear infinite;
      animation: spin_top 8s linear infinite;

      &:last-child {
        -webkit-animation: spin_bottom 8s linear infinite;
        animation: spin_bottom 8s linear infinite;
        margin-right: 7px;
        margin-top: -3px;
      }
    }
  }

  .block {
    margin-top: -25px;
    position: relative;
    z-index: 1000;

    .text {
      display: block;
      color: $textColor;
      font-size: $fontSize;
      font-weight: bold;
      margin-top: 10px;
      text-align: center;
    }
  }
}
