@use '@gear-js/ui/mixins' as *;
@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/animations' as *;

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.main {
  @include fadeAppear();
  @include childrenMargin($margineLarge, right);

  display: flex;
  align-items: center;
}

.wallet {
  display: flex;
  align-items: center;
  gap: 16px;
}
