@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/mixins' as *;
@use 'assets/styles/shared' as *;

.header {
  @extend %box;
  display: flex;
  align-items: center;
}

.button {
  max-width: 280px;
  margin-right: 24px;
}

.text {
  font-size: $fontSizeMedium;
  font-weight: 300;
  color: $textColorSecondary;
}

.programId {
  font-weight: 400;
  color: $textColor;

  &::before {
    @include circle(11px);
    content: '';
    display: inline-block;
    margin-right: 8px;
    background-color: $successColor;
  }
}
