@use '@gear-js/ui/variables' as *;
@use 'assets/styles/shared' as *;

.program {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body {
  flex: 1;
  position: relative;
}

.actions {
  display: flex;
  padding: 24px 24px 12px;
  font-weight: 500;
  color: $textColorSecondary;
  text-transform: uppercase;

  .action {
    flex: 1;
    max-width: 280px;

    &.active {
      color: $successColor;
    }
  }
}

.main {
  @extend %box;
  padding: 0;
  display: flex;
}

.action {
  display: flex;
  width: 100%;
  padding: 24px;
  position: relative;

  & > * {
    flex: 1;
  }
}
