@use '@gear-js/ui/variables' as *;

.legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: $bgColor;
  color: $textColor;
  border-bottom: 1px solid #363636;

  .legendItem {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      min-width: 270px;
    }

    &:nth-child(2) {
      flex: 0 1 300px;
    }
  }

  .legendIcon {
    display: block;
    margin-right: 10px;
  }
}
