.container {
  display: flex;
  align-items: center;
  gap: 8px;

  position: relative;

  cursor: pointer;
}

.input {
  appearance: none;
}

.box {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;

  background-color: rgba(15, 15, 15, 1);
  border: 1px solid rgba(41, 41, 41, 0.5);
  border-radius: 2px;

  transition:
    background-color 0.2s,
    border-color 0.2s;

  cursor: pointer;

  &::before {
    content: '';
    opacity: 0;

    width: 100%;
    height: 100%;

    background: url(./check.svg) center/contain no-repeat;

    transition: opacity 0.2s;
  }

  .input:focus + & {
    outline: none;

    border-color: rgba(41, 41, 41, 1);
  }

  .input:checked + & {
    background-color: rgba(168, 245, 147, 1);
    border-color: rgba(168, 245, 147, 1);

    &::before {
      opacity: 1;
    }
  }
}
