@use 'assets/scss/variables' as *;

.inputBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: $mainBackground;
  border-radius: $borderRadiusBase;
  padding: 12px 20px;
  height: 48px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  & > div {
    background-color: transparent;

    input {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
