@use 'assets/scss/variables' as *;

.inputWrapper {
  & > div {
    height: 48px;
    align-items: center;
    background: $mainBackground;
    border-radius: $borderRadiusBase;

    img {
      width: 18px;
      height: 18px;
    }

    input {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
