.content {
  max-width: 942px;
}

.input {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nftInput {
  margin-bottom: 30px;
}

.buttons {
  &Action {
    margin: 16px 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  &Submit {
    max-width: 590px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.users {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 24px;
  }
}
