@use '@gear-js/ui/variables' as *;

.box {
  display: flex;
  color: $textColor;
}

.heading {
  color: $textColorSecondary;
  font-size: $fontSizeMedium;
  font-weight: 400;
  margin-right: 100px;
}

.messages {
  flex: 1;
  // fix not shrinking past the content size
  min-width: 0;

  .noMessages {
    display: none;

    &:only-child {
      display: block;
    }
  }
}
