.tooltipWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 16px;
  z-index: 1000;
  text-wrap: nowrap;
  pointer-events: none;
}
