.link {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

@mixin icon($name) {
  display: flex;
  transition: all 0.25s;

  &::before {
    content: url('/assets/images/socials/#{$name}.svg');
    font-size: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

.twitter {
  @include icon('twitter');
}

.github {
  @include icon('github');
}

.discord {
  @include icon('discord');
}

.medium {
  @include icon('medium');
}
