@use '@gear-js/ui/variables' as *;

.headerItem {
  display: flex;
  align-items: center;
  
  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  .icon {
    display: block;
    margin-right: 10px;
  }

  .text {
    font-size: $fontSize;
    color: $textColor;
  }
}
