@use '@/shared/assets/styles/shared' as *;
@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;

  background-color: #222225;
  border-radius: 16px;

  position: relative;
  overflow: hidden;

  button {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 0.25s;

    background-image: radial-gradient(75% 75% at 0% 100%, rgba(43, 208, 113, 0.1) 0, rgba(24, 24, 27, 0) 100%);
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 16px;
  padding: toRem(24);
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -40%;
    bottom: -100%;
    width: 100%;
    height: 200%;
    background: radial-gradient(50% 50% at 50% 50%, rgba($successColor, 0.23) 0%, rgba(24, 24, 27, 0) 100%);
  }
}

.heading {
  font-size: 16px;
  font-weight: 600;

  font-family: Kanit;
}

.actions {
  @include childrenMargin(12px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.3 1;
  padding: toRem(12) toRem(24);
}
