@use 'assets/styles';
@use '@gear-js/ui/variables' as *;

#root {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

#modal-root {
  > div {
    // overlay
    background-color: rgba(0, 0, 0, 0.9);
  }

  button,
  header,
  footer,
  div {
    border-radius: 0;
  }
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; // for loaders
}

body {
  background-image: linear-gradient(180deg, #d7fce0 0%, #e6eef9 100%), linear-gradient(0deg, #fcfcfc, #fcfcfc),
    radial-gradient(66.11% 66.11% at 50% 50%, rgba(255, 255, 255, 0) 69.79%, #ffffff 100%);
}
