@use 'assets/scss/variables' as *;

.event {
  flex-direction: column;
  align-items: stretch;
}

.header {
  margin-bottom: 15px;
  cursor: pointer;

  &Main {
    flex: 1;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}

.body {
  padding-left: 30px;
}

.caption {
  margin-right: 10px;
  font-weight: 500;
  color: $textColor;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  &Up {
    border-bottom: 5px solid $textColor;
  }

  &Down {
    border-top: 5px solid $textColor;
  }
}

.blockNumber {
  margin-left: auto;
  font-weight: 600;
  color: $textColorSecondary;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: $textColorSecondary;
}

.params {
  padding: 15px 25px;
  background-color: $mainBackground;
  border: 1px dashed $bkgButtonColor;
  border-radius: 2px;
}
