.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(41, 41, 41, 1);
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.card {
  padding: 24px;

  &:first-child {
    border-right: 1px solid rgba(41, 41, 41, 1);
  }
}

.title {
  font-size: 16px;
  font-weight: 400;

  // TODO: remove after default heading capitalize is gone
  text-transform: none;

  color: #fff;
}
