@use '@gear-js/ui/mixins' as *;

.chip {
  @include circle(24px);
  box-shadow: 1px 1px 3px 0px #000;
  border: 2px solid #e0f2f0;
}

.pink {
  background-color: #e1147b;
}

.purple {
  background-color: #9b51e0;
}

.green {
  background-color: #27ae60;
}

.yellow {
  background-color: #f4c34e;
}
