@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.blockList {
  padding-bottom: 20px;
}

.blockListHeader {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;

  @include md {
    margin-bottom: 16px;
  }
}

.noMessage {
  color: $textColorSecondary;
  font-size: $fontSizeMedium;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.blockListButton {
  @include md {
    width: 100%;
  }
}

.shortList {
  height: 234px;
  overflow: hidden;
  margin-bottom: 10px;
}

.programsListItem {
  display: flex;
  align-items: center;
  padding: 23px 0;
  border-top: 1px solid $lineColor;
}

.programsListNumber {
  color: $textColorSecondary;
  font-size: $fontSizeLarge;
  font-weight: 600;

  @include md {
    font-size: $fontSize;
  }
}

.programsListName {
  color: $textColor;
  font-size: $fontSize;
  margin: 0 24px;

  @include md {
    margin: 0 16px;
    word-break: break-all;
  }
}

.programsListTime {
  margin-left: auto;
  color: $textColorSecondary;
  font-weight: 500;
}
