//for css transition
@mixin fade($delay: 200ms, $triming-function: ease-in, $duration: 0ms) {
  transition: opacity $delay $triming-function $duration;

  &:global(.exit),
  &:global(.enter) {
    opacity: 0;
  }

  &:global(.enter-done),
  &:global(.enter-active) {
    opacity: 1;
  }
}
