@import '../fonts/fonts';

html {
  box-sizing: border-box;
}

* {
  font-family: Prompt, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #282828;
  font-size: 14px;
  max-width: calc(100vw - 20px);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
