$mainBackground: #282828;

$textColor: #ffffff;
$textColorSecondary: #858585;
$textColorInput: #8b8b8b;

$backgroundColor: #181818;
$bkgButtonColor: #3d3d3d;
$bkgActiveButtonColor: #212121;
$bkgInputColor: #000000;

$successColor: #2bd071;
$errorColor: #c24b31;
$separateLineColor: #3e3e3e;

$fontSizeSmall: 12px;
$fontSizeBase: 14px;
$fontSizeLarge: 21px;

$borderRadiusBase: 2px;

$desktopSidesMargin: 0 40px;

$maxWidth: 1280px;
