$mainBackground: #282828;

$textColor: #FFFFFF;
$textColorSecondary: #858585;
$textColorInput: #8B8B8B;

$backgroundColor: #181818;
$bkgButtonColor: #3D3D3D;
$bkgActiveButtonColor: #212121;
$bkgInputColor: #000000;

$successColor: #2BD071;
$errorColor: #C24B31;
$separateLineColor: #3E3E3E;

$fontSizeSmall: 12px;
$fontSizeBase: 14px;
$fontSizeLarge: 21px;

$borderRadiusBase: 2px;

$desktopSidesMargin: 0 40px;

$maxWidth: 1280px;