@import 'assets/scss/variables';

.messages__list {
  .messages__list-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    color: $textColor;
    border-bottom: 1px solid #363636;
    &:nth-child {
      border: none;
    }
    &__header {
      padding: 10px 20px;
      background-color: $mainBackground;
    }
    &_success {
      .messages__list-item {
        .messages__list-status {
          background-color: $successColor;
          box-shadow: 0px 0px 10px $successColor;
        }
      }
    }
    &_error {
      .messages__list-item {
        .messages__list-status {
          background-color: $errorColor;
        }
      }
    }
    .messages__list-item {
      display: flex;
      align-items: center;
      &:nth-child(2) {
        flex: 0 2 700px;
      }
      &:last-child {
        flex: 0 1 200px;
      }
      &_gray {
        p {
          color: $textColorSecondary;
        }
      }
      .messages__list-status {
        border-radius: 50%;
        display: block;
        width: 8px;
        height: 8px;
        margin-right: 15px;
      }
      .messages__list-icon {
        display: block;
        margin-right: 10px;
      }
    }
  }
}
