@use 'assets/scss/variables' as *;

.hint {
  display: flex;
  position: relative;
  padding-right: 10px;
  .icon {
    color: $textColor;
    cursor: pointer;
  }
  .text {
    position: absolute;
    background-color: $textColor;
    border-radius: 2px;
    padding: 10px;
    font-size: 14px;
    top: 20px;
    min-width: 250px;
  }
}
