REACT_APP_NODE_ADDRESS=wss://node-workshop.gear.rs:443
REACT_APP_IPFS_ADDRESS=https://ipfs.gear-tech.io/api/v0
REACT_APP_IPFS_GATEWAY_ADDRESS=https://ipfs-gw.gear-tech.io/ipfs
REACT_APP_NFT_CONTRACT_ADDRESS=0xdb8410c2d406ac6a6997a8f9531e136e0dc346af6bc37c27f4bc87a372008bac
