REACT_APP_NODE_ADDRESS=wss://node-workshop.gear.rs:443
REACT_APP_IPFS_ADDRESS=https://ipfs.gear-tech.io/api/v0
REACT_APP_IPFS_GATEWAY_ADDRESS=https://ipfs-gw.gear-tech.io/ipfs
REACT_APP_DAPPS_API_ADDRESS=https://upload-dapp.gear-tech.io/dapp_data
REACT_APP_NFT_CONTRACT_ADDRESS=0x3ed301bc5c14838ab6e43956d1cd4772788bcaf22dced5d16e0862101ea954ec
