.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 60px;
}
