@use '@gear-js/ui/variables' as *;

.header {
  margin-bottom: 20px;
  font-size: $fontSizeLarge;
  font-weight: 600;
  color: $textColorSecondary;
}

.message {
  margin-top: 24px;
  font-size: $fontSizeMedium;
}
