@use 'assets/styles/_variables' as *;

.box {
  border: 1px solid $formBorderColor;
  padding: 2.8125rem 2.5rem 3.75rem 2.5rem;
  background: $formColor;
  backdrop-filter: blur(10px);
  border-radius: 0px 0 5px 5px;
}
