name: CD

on:
  push:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  Check:
    outputs:
      run_job: ${{ steps.check_files.outputs.run_job }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: check modified files
        id: check_files
        run: |
          echo "=============== list modified files ==============="
          git diff --name-only HEAD^ HEAD
          
          echo "========== check paths of modified files =========="
          git diff --name-only HEAD^ HEAD > files.txt
          while IFS= read -r file
          do
            echo $file
            if [[ $file != website/* ]]; then
              echo "This modified file is not under the 'website' folder."
              echo "::set-output name=run_job::false"
              break
            else
              echo "::set-output name=run_job::true"
            fi
          done < files.txt

  Build-backend-docker:
#    needs: check
 #   if: needs.check.outputs.run_job == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: website/backend/Dockerfile
          push: true
          tags: schernovgear/gear-backend:nightly

  Deploy:
    needs: Build-backend-docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        env:
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_HOST: ${{ secrets.DB_HOST }}
          WS_PROVIDER: ${{ secrets.WS_PROVIDER }}
          GITHUB_CLIENT_SECRET: ${{ secrets.GTHUB_CLIENT_SECRET }}
          GITHUB_CLIENT_ID: ${{ secrets.GTHUB_CLIENT_ID }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_BOT_USERNAME: ${{ secrets.TELEGRAM_BOT_USERNAME }}
          IDE_SOCKET: ${{ secrets.IDE_SOCKET }}
          PORT: ${{ secrets.PORT }}
          HOST: ${{ secrets.HOST }}
          IDE_FOLDER: ${{ secrets.IDE_FOLDER }}
          NODE_ADDRESS: ${{secrets.GEAR_BACKEND_NODE}}
          SUDO_SEED: ${{secrets.SUDO_SEED}}
          ACCOUNT_SEED: ${{secrets.ACCOUNT_SEED}}
        with:
          # Required, playbook filepath
          directory: ./ansible
          playbook: main.yaml
          # Optional, SSH private key
          key: ${{secrets.SSH_PRIVATE_KEY}}
          # Optional, literal inventory file contents
          inventory: |
            [all]
            ${{secrets.GEAR_BACKEND_NODE}}
          requirements: galaxy-requirements.yml
