name: 'CI-CD @gear-js/gear-ui'

on:
  pull_request:
    branches: [main]
    paths:
      - utils/gear-ui/**
  push:
    branches: [main]
    paths:
      - utils/gear-ui/**

jobs:
  test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous workflow runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Install NodeJS 16.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 16.x

      - name: Install dependencies
        working-directory: utils/gear-ui
        run: yarn install

      - name: Build pkg
        working-directory: utils/gear-ui
        run: yarn build

      - name: Run tests
        working-directory: utils/gear-ui
        run: yarn test

  publish-to-npm:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use node 16.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 16.x

      - name: Check package version
        uses: EndBug/version-check@v1
        id: check
        with:
          file-name: utils/gear-ui/package.json
          file-url: https://unpkg.com/@gear-js/ui@latest/package.json
          static-checking: localIsNew

      - name: Publish
        if: steps.check.outputs.changed == 'true'
        working-directory: utils/gear-ui
        run: |
          export token=$(printenv $(printenv GITHUB_ACTOR))
          yarn install
          yarn build
          npm config set //registry.npmjs.org/:_authToken=$token
          npm publish
        env:
          osipov-mit: ${{ secrets.OSIPOV_NPM_TOKEN }}
          nikitayutanov: ${{ secrets.YUTANOV_NPM_TOKEN }}
