name: 'CI-CD @gear-js/react-hooks'

on:
  pull_request:
    branches: [main]
    paths:
      - utils/gear-hooks/**
  push:
    branches: [main]
    paths:
      - utils/gear-hooks/**

jobs:
  test:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous workflow runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Install NodeJS 18.x
        uses: actions/setup-node@v3.8.2
        with:
          node-version: 18.x

      - name: Install dependencies
        working-directory: utils/gear-hooks
        run: yarn install

      - name: Build pkg
        working-directory: utils/gear-hooks
        run: yarn build

  publish-to-npm:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use node 18.x
        uses: actions/setup-node@v3.8.2
        with:
          node-version: 18.x

      - name: Check package version
        uses: EndBug/version-check@v1
        id: check
        with:
          file-name: utils/gear-ui/package.json
          file-url: https://unpkg.com/@gear-js/react-hooks@latest/package.json
          static-checking: localIsNew

      - name: Install dependencies
        working-directory: utils/gear-hooks
        run: yarn install

      - name: Build pkg
        working-directory: utils/gear-hooks
        run: yarn build

      - name: Publish
        if: steps.check.outputs.changed == 'true'
        working-directory: utils/gear-hooks
        run: |
          export token=$(printenv $(printenv GITHUB_ACTOR))
          npm config set //registry.npmjs.org/:_authToken=$token
          npm publish
        env:
          osipov-mit: ${{ secrets.OSIPOV_NPM_TOKEN }}
          nikitayutanov: ${{ secrets.YUTANOV_NPM_TOKEN }}
      - name: Spool logs
        if: always()
        run:  cat /home/runner/.npm/_logs/*.log

