name: 'CI-CD @gear-js/api'

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches: [main]
  push:
    branches: [main]
    paths:
      - api/**

jobs:
  test:
    if: github.event_name == 'pull_request'
    runs-on: static-runner
#    runs-on: ubuntu-20.04
    steps:
      - name: Cancel previous workflow runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2

      - name: Install NodeJS 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: "Install: Nightly toolchain"
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy, rustfmt
          target: wasm32-unknown-unknown

      - name: Install dependencies and build @gear-js/api
        working-directory: api
        run: |
          npm ci
          npm run build

      - name: Download gear examples
        working-directory: api/test/wasm
        run: |
          mkdir examples
          cd examples
          wget -O ./examples.tar.gz https://github.com/gear-tech/gear/releases/download/build/examples.tar.gz
          tar -xvf examples.tar.gz
          
      - name: Build test programs
        run: |
          cd api/test/programs
          cargo build --release
          cp target/wasm32-unknown-unknown/release/*.{opt,meta}.wasm ../wasm

      - name: Prepare
        run: |
          wget -O ./gear-node https://github.com/gear-tech/gear/releases/download/build/gear-node
          chmod +x gear-node
          nohup ./gear-node --dev --tmp --unsafe-ws-external --unsafe-rpc-external --rpc-methods Unsafe --rpc-cors all > /tmp/gear-log.txt 2>&1 &
 
      - name: Run tests
        working-directory: api
        run: npm test
        
      - name: Build examples
        if: ${{ contains(github.event.*.labels.*.name, 'api') }}
        working-directory: api/examples
        run: |
          npm install --no-package-lock
          npm run build

  publish-to-npm:
    if: github.event_name == 'push'
#    runs-on: static-runner
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Use node 16.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 16.x

      - name: Check package version
        uses: EndBug/version-check@v1
        id: check
        with:
          file-name: api/package.json
          file-url: https://unpkg.com/@gear-js/api@latest/package.json
          static-checking: localIsNew

      - name: Install dependencies and build @gear-js/api
        working-directory: api
        run: |
          npm ci
          npm run build

      - name: Publish
        if: steps.check.outputs.changed == 'true'
        working-directory: api/lib
        run: |
          export token=$(printenv $(printenv GITHUB_ACTOR))
          npm config set //registry.npmjs.org/:_authToken=$token
          npm publish
        env:
          osipov-mit: ${{ secrets.OSIPOV_NPM_TOKEN }}
