name: 'Test: @gear-js/api'

on:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous workflow runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2

      - name: Install NodeJS 16.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 16.x

      - name: Prepare
        run: |
          wget -O ./gear-node https://github.com/gear-tech/gear/releases/download/build/gear-node
          mkdir api/test/wasm
          wget -O api/test/wasm/examples.tar.gz https://github.com/gear-tech/gear/releases/download/build/examples.tar.gz
          chmod +x gear-node
          ./gear-node --dev --tmp & sleep 10

      - name: Install dependencies and build @gear-js/api
        run: |
          cd api
          npm install

      - name: Run tests
        run: |
          cd api/test/wasm
          tar -xvf examples.tar.gz
          cd ../..
          npm test
