name: 'e2e test'

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: master
    paths:
      - website/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
  KUBE_NAMESPACE: test-env

jobs:
  wait-previous-run:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
    
      - name: Wait previous run
        uses: mktcode/consecutive-workflow-action@v1 # please read security note
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  build-and-push-gear-node-image:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: [wait-previous-run]
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the github container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Data Storage Docker image
        uses: docker/build-push-action@master
        with:
          file: k8s/gear-node/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-node:dev
          
  build-and-push-frontend-image:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: [wait-previous-run]
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the github container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend Docker image
        uses: docker/build-push-action@master
        with:
          context: website/frontend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-frontend:dev
          build-args: |
            REACT_APP_NODE_ADDRESS=${{ secrets.REACT_APP_NODE_ADDRESS }}
            REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }}
            REACT_APP_WASM_COMPILER_URL=${{ secrets.REACT_APP_WASM_COMPILER_URL }}
            REACT_APP_DEFAULT_NODES_URL=${{ secrets.REACT_APP_DEFAULT_NODES_URL }}
       
  build-and-push-data-storage-image:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: [wait-previous-run]
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the github container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Data Storage Docker image
        uses: docker/build-push-action@master
        with:
          file: website/data-storage/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-data-storage:dev

  build-and-push-api-gateway-image:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: [wait-previous-run]
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the github container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Api Gateway Docker image
        uses: docker/build-push-action@master
        with:
          file: website/api-gateway/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-api-gateway:dev

  build-and-push-event-listeners-image:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: [wait-previous-run]
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the github container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Events Listener Docker image
        uses: docker/build-push-action@master
        with:
          file: website/events-listener/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-events-listener:dev

  build-and-push-test-balance-image:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: [wait-previous-run]
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the github container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Test Balance Docker image
        uses: docker/build-push-action@master
        with:
          file: website/test-balance/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-test-balance:dev


  purge-k8s-test-env:
    if: github.event.pull_request.draft == false
    needs:
      [
        build-and-push-data-storage-image,
        build-and-push-api-gateway-image,
        build-and-push-event-listeners-image,
        build-and-push-test-balance-image,
        wait-previous-run
      ]
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to k8s
        uses: kodermax/kubectl-aws-eks@master
        with:
          args: rollout restart deployment gear-node api-gateway-testenv frontend-nginx-testenv events-listener-rpc-testenv postgres-testenv -n $KUBE_NAMESPACE

      - name: Check k8s deployments
        uses: kodermax/kubectl-aws-eks@master
        with:
          args: get deployment -o name -n $KUBE_NAMESPACE | xargs -n1 -t kubectl rollout status -n $KUBE_NAMESPACE --timeout=120s
     
      - name: Deploy to k8s data-storage
        uses: kodermax/kubectl-aws-eks@master
        with:
          args: rollout restart deployment data-storage-testenv -n $KUBE_NAMESPACE

      - name: Check k8s deployment data-storage
        uses: kodermax/kubectl-aws-eks@master
        with:
          args: rollout status deployment data-storage-testenv -n $KUBE_NAMESPACE --timeout=120s
          
  run-e2e-tests:
    if: github.event.pull_request.draft == false
    needs: [purge-k8s-test-env, wait-previous-run]
    runs-on: ubuntu-latest
    environment: dev
   
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install NodeJS 16.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 16.x
          
      - name: Prepare&Run Tests
        working-directory: website/tests
        env:
          API_ADDRESS: ${{ secrets.API_ADDRESS_URL_TEST }}
          WS_PROVIDER: ${{ secrets.WS_PROVIDER_URL_TEST }}
        run: |
          ./download-examples.sh
          YARN_ENABLE_IMMUTABLE_INSTALLS=false yarn install
          yarn start
