@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.programSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0;

  @include md {
    margin: 14px 0;
    flex-direction: column-reverse;
  }
}

.switchButtons {
  padding: 4px 5px;
  border-radius: 40px;
  background-color: #3d3d3d;

  @include md {
    display: flex;
    margin-top: 22px;
  }
}

.switchButton {
  border-radius: 40px;
  color: $textColorSecondary;
  display: inline-block;
  font-size: 12px;
  padding: 12px 18px;
  text-decoration: none;

  &:global(.active) {
    color: $textColor;
    background-color: #212121;
  }

  @include md {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    font-weight: 600;
  }
}
