@use '@gear-js/ui/breakpoints' as *;
@import '../../../assets/scss/variables';

.switch-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 48px 0;
}

.switch-block--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch-block--editor__btn {
  padding: 12px 24px;
  background: #3d3d3d;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 32px;
}

.test-balance-button {
  margin: 0 32px;

  @include md {
    // TODO: can't override set gear-js styles
    display: none !important;
  }
}

.switch-block--editor__btn.is-active {
  background: #161616;
}

.switch-block--editor img {
  margin-right: 8px;
}

.switch-buttons {
  background-color: $bkgButtonColor;
  border-radius: 40px;
  padding: 4px 5px;
}

.switch-buttons__item {
  border-radius: 40px;
  color: $textColorSecondary;
  display: inline-block;
  font-size: $fontSizeSmall;
  padding: 12px 18px;
  text-decoration: none;
}

.switch-buttons__item--active {
  background-color: $bkgActiveButtonColor;
  color: $textColor;
}

@media (max-width: 768px) {
  .main-content-wrapper {
    margin: 0 16px !important;
  }
  .switch-block {
    flex-direction: column-reverse;
    margin: 14px 0;
  }
  .switch-buttons {
    display: flex;
    margin-top: 22px;
  }
  .switch-buttons__item {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    font-weight: 600;
  }

  .switch-block--editor {
    display: none;
  }
}
