.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 340px;
  border: 1px solid rgba(41, 41, 41, 1);
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.card {
  padding: 24px;

  &:first-child {
    border-right: 1px solid rgba(41, 41, 41, 1);
  }
}

.status {
  margin-left: auto;
}

.executableBalance {
  display: flex;
  align-items: center;
  gap: 8px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-height: 300px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
