%absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%box {
  padding: 25px;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  background-color: #242424;
}
