@use '../variables' as *;

%darkInputWrapper {
  &.dark {
    background-color: #222225;
    border-color: #3a3d4d;
  }
}

%darkInput {
  &.dark {
    color: $textColor;

    &::placeholder {
      color: #ffffff99;
    }
  }
}

%lightInputWrapper {
  &.light {
    background-color: #fff;
  }
}

%lightInput {
  &.light {
    color: #2b2b2e;

    &::placeholder {
      color: rgb(108, 108, 108);
    }
  }
}

%normalInputWrapper {
  &.normal {
    padding: 10px 16px;
  }
}

%largeInputWrapper {
  &.large {
    padding: 14px 16px;
    font-size: $fontSizeMedium;
  }
}

%readOnlyInputWrapper {
  border-color: transparent;
  background-color: #2b2b2e;
}

%inputWrapper {
  @extend %normalInputWrapper;
  @extend %largeInputWrapper;
  @extend %darkInputWrapper;
  @extend %lightInputWrapper;

  display: flex;
  border: 1px solid transparent;
  border-radius: $borderRadius;

  &:focus-within {
    border-color: #898b94;
  }

  &.error {
    border-color: $errorColor;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

%input {
  @extend %darkInput;
  @extend %lightInput;

  flex: 1;
}

%clearButton {
  margin-left: 8px;
}
