@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.menu {
  display: flex;

  @include sm {
    flex-direction: column;
  }
}

%menuItem {
  color: inherit;
  padding: 28px 10px;
  transition: all 0.25s;
  height: 100%;

  @include sm {
    padding: 5px;
  }

  &:hover {
    color: $textColorSecondary;
  }
}

.navItem {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.nodeInfo {
  margin-right: 100px;
}

.navItem,
.nodeInfo {
  @include sm {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.link {
  @extend %menuItem;
  display: block;
  text-align: center;

  &:global(.active) {
    box-shadow: inset 0 -3px 0 $successColor;
  }
}

.sidebarBtn {
  @extend %menuItem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 10px;
  text-align: left;

  @include sm {
    align-items: center;
  }

  & > *:not(:last-child) {
    margin-bottom: 2px;
  }
}

.runtime {
  font-size: $fontSizeSmall;
}
